﻿@model WholesaleHunter.ViewModels.SearchViewModel
@using System.Globalization
@using WholesaleHunter.Classes
@using WholesaleHunter.Models
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    string prevFilter = "";
    List<SelectListItem> listitems = new List<SelectListItem>();
    List<String> listKeywords;

    NumberFormatInfo nfi = CultureInfo.CurrentCulture.NumberFormat;
    nfi = (NumberFormatInfo)nfi.Clone();

    NumberFormatInfo nfiNoDecimal = CultureInfo.CurrentCulture.NumberFormat;
    nfiNoDecimal = (NumberFormatInfo)nfiNoDecimal.Clone();
    nfiNoDecimal.CurrencyDecimalDigits = 0;
    nfiNoDecimal.CurrencySymbol = "";

    int cntCategory = -1;
    int CategoryID = 0;
    string CategoryName = "";
    int CategoryCount = 0;
    int includeCategory = 0;
    string categoryClass = "categories";
    string InStockDisplay = "";
    string NewItemsOnlyDisplay = "";

    int cntBrand = -1;

    /*
    SearchProductDetails pd = new SearchProductDetails();
    if (Model.KeyWords != null)
    {
        pd.keywords = Model.KeyWords.Trim();
    }
    */
    string pricemindisplay;
    string pricemaxdisplay;
    if (Model.MinPrice != 0)
    {
        pricemindisplay = String.Format(nfiNoDecimal, "{0:C}", Model.MinPrice);
    }
    else
    {
        pricemindisplay = "";
    }
    if (Model.MaxPrice == 0 || Model.MaxPrice == 999999999999999m)
    {
        pricemaxdisplay = "";
    }
    else
    {
        pricemaxdisplay = String.Format(nfiNoDecimal, "{0:C}", Model.MaxPrice);
    }
}
<div id="outer" style="position:relative;width:1440px;height:100%;padding-top:5px;margin:auto;">

    <!-- BEGIN THE LEFT HAND COLUMN WITH CATEGORIES, PRICE RANGE, BRANDS AND FILTERS -->
    <div style="position: relative;float:left;width:190px">
        <div style="width:190px;height:100%">
            <div class="urbangreymenu">
                <div id="categoriesHeader" class="headerbar" onclick="toggleCategories()">
                    CATEGORIES
                    <div id="categoriesTwistie" class="twistie">&nbsp;</div>
                </div>
                <ul id="categories">
                    @foreach (SearchCategory category in Model.Category)
                    {
                        includeCategory = 0;

                        if (category.CategoryName != null)
                        {
                            //use CategoryID and CategoryName
                            CategoryID = category.CategoryID;
                            CategoryName = category.CategoryName;
                            CategoryCount = category.ResultCount;
                            includeCategory = 1;
                        }
                        else if (category.ParentCategoryName != null)
                        {
                            //use ParentCategoryID and ParentCategoryName
                            CategoryID = category.ParentCategoryID;
                            CategoryName = category.ParentCategoryName;
                            CategoryCount = category.ResultCount;
                            includeCategory = 1;
                        }
                        if (includeCategory == 1)
                        {
                            cntCategory++;
                            <li id="liCategory_@cntCategory" class="@category.CssClass"><a onclick="chooseCategory(@CategoryID);">@CategoryName (@CategoryCount)</a></li>
                        }
                    }
                    @if (cntCategory >= 10)
                    {
                        <li class="categories filterMore" id="liCategoriesMore"><a class="showMore" onclick="toggleCategoriesMore()">SHOW ALL</a></li>
                        <li class="categoriesHidden filterMore" id="liCategoriesLess"><a class="showMore" onclick="toggleCategoriesMore()">SHOW LESS</a></li>
                    }

                </ul>
                <br />

                <div id="pricerange">
                    <table border="0" width="100%">
                        <tr>
                            <td colspan="2">
                                PRICE RANGE
                            </td>
                        </tr>
                        <tr>
                            <td>MIN</td>
                            <td width="75%">
                                <span style="color:white;font-size:20px;font-weight:bold;">$</span>
                                <input type="text" id="pricerangemin" value="@pricemindisplay" />
                            </td>
                        </tr>
                        <tr>
                            <td>MAX</td>
                            <td width="75%">
                                <span style="color:white;font-size:20px;font-weight:bold;">$</span>
                                <input type="text" id="pricerangemax" value="@pricemaxdisplay" />
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <a onclick="setPriceRange();">FILTER</a>
                            </td>
                        </tr>
                    </table>
                </div>

                <div style="position:relative;padding-top: 10px;padding-bottom: 10px;">
                    <div class="filterCheckbox">
                        @{
                            InStockDisplay = Model.InStockSelected ? "checkbox_checked" : "";
                            NewItemsOnlyDisplay = Model.NewItemsSelected ? "checkbox_checked" : "";
                        }
                        <div class="checkbox @InStockDisplay" id="cbInStock" onclick="toggleCheckbox('cbInStock'); return false;">&nbsp;</div>
                        <div id="cbInStockLabel" class="label">&nbsp;In Stock</div>
                    </div>
                    <div class="filterCheckbox">
                        <div class="checkbox @NewItemsOnlyDisplay" id="cbNewItems" onclick="toggleCheckbox('cbNewItems'); return false;">&nbsp;</div>
                        <div id="cbNewItemsLabel" class="label">&nbsp;New Items Only</div>
                    </div>
                </div>

                @if (Model.Brands.Count > 0)
                {
                    <div id="brandsHeader" class="headerbar" onclick="toggleBrands()">
                        BRAND
                        <div id="brandsTwistie" class="twistie">&nbsp;</div>
                    </div>
                    <ul id="brands">
                        @foreach (SearchBrand brand in Model.Brands)
                        {
                            cntBrand++;
                            <li id="liBrand_@cntBrand" class="@brand.BrandClass"><a onclick="selectBrand(@brand.BrandID)">@brand.BrandName (@brand.ResultCount)</a></li>
                        }
                        @if (cntBrand > 5)
                        {
                            <li class="brand filterMore" id="liBrandsMore"><a class="showMore" onclick="toggleBrandsMore()">SHOW ALL</a></li>
                            <li class="brandsHidden filterMore" id="liBrandsLess"><a class="showMore" onclick="toggleBrandsMore()">SHOW LESS</a></li>
                        }
                    </ul>
                }



                <div id="filters">
                    @{
                        int cntFilterGroups = 1;
                        int cntFilter = 0;
                        string FilterGroupName = "";
                        string FilterGroupValue = "";
                        string FilterSetting = "";
                        foreach (List<SearchFilter> FilterGroups in Model.Filters)
                        {
                            FilterGroupName = Model.FilterGroupNames[cntFilterGroups];
                            FilterSetting = "";
                            if (Model.FiltersSelected.ContainsKey(FilterGroupName))
                            {
                                FilterGroupValue = Model.FiltersSelected[FilterGroupName];
                                FilterSetting = FilterGroupName + "::" + FilterGroupValue;
                            }
                            <div class="headerbar" style="margin-top: 15px;" onclick="toggleFilterHeader(@cntFilterGroups)">
                                @FilterGroupName
                                <div id="Twistie_@cntFilterGroups" class="twistie">&nbsp;</div>
                            </div>
                            <ul id="filterGroup_@cntFilterGroups">
                                @{  cntFilter = 0;
                                    foreach (SearchFilter filter in FilterGroups)
                                    {

                                        <li id="liFilter_@Html.Raw(cntFilterGroups)_@Html.Raw(cntFilter)" class="@Html.Raw(filter.filterClass)"><a onclick="selectFilter(@cntFilterGroups, '@filter.FilterName', '@filter.AttributeName')">@filter.AttributeName (@filter.ResultCount)</a></li>
                                        cntFilter++;
                                    }
                                }
                                @if (cntFilter > 5)
                                {
                                    <li id="liFilterMore_@cntFilterGroups" class="brand filterMore"><a class="showMore" onclick="toggleFiltersMore(@cntFilterGroups)">SHOW ALL</a></li>
                                    <li id="liFilterLess_@cntFilterGroups" class="brandsHidden filterMore"><a class="showMore" onclick="toggleFiltersMore(@cntFilterGroups)">SHOW LESS</a></li>
                                }
                            </ul>
                            <input type="hidden" id="FilterValue_@cntFilterGroups" value="@FilterSetting" />
                                        cntFilterGroups++;
                                    }
                    }
                </div>
            </div>
        </div>
    </div>
    <!-- END THE LEFT HAND COLUMN-->
    <!-- BEGIN THE CENTER COLUMN WITH PRODUCT INFO-->
    <div style="position:relative;float:left;width:1250px;">
        <div style="position:relative;float:left;width:940px;padding-left:23px;">
            <div id="sortby_placeholder" style="position:relative; float:right;width:650px;height:30px;">&nbsp;</div>
            <div class="product_count" style="position:relative; float:left;padding-right: 10px;">
                @Model.ResultCount.ResultCount&nbsp;PRODUCTS
            </div>
            <div id="sortby_placeholderA" style="position:relative; float:right;width:381px;height:30px;">&nbsp;</div>
            <div class="product_count" style="color:#331709;padding-top:6px;">FILTER BY:</div>

            @if (Int32.Parse(Model.CategorySelected) > 0)
            {
                <div class="filterClear" onclick="filterClear('category');">
                    <div class="filterText">CATEGORY: @Model.CategorySelectedName</div>
                    <div class="filterImage">&nbsp;</div>
                </div>
            }

            @{
                string filterText = "";
                bool minset = Model.MinPrice > 0 ? true : false;
                bool maxset = (Model.MaxPrice > 0 && Model.MaxPrice < 999999999999999m ? true : false);

                if (minset)
                {
                    //Minimum is set
                    if (maxset)
                    {
                        //both minimum and maximum are set
                        filterText = String.Format(nfiNoDecimal, "${0:C} - ${1:C}", Model.MinPrice, Model.MaxPrice);
                    }
                    else
                    {
                        //only the minimum is set
                        filterText = String.Format(nfiNoDecimal, "> ${0:C}", Model.MinPrice);
                    }
                }
                else
                {
                    //Minimum is not sset
                    if (maxset)
                    {
                        //only the maximum is set
                        filterText = String.Format(nfiNoDecimal, "< ${0:C}", Model.MaxPrice);
                    }
                }

                if (filterText != "")
                {
                    <div class="filterClear" onclick="filterClear('price');">
                        <div class="filterText">@filterText</div>
                        <div class="filterImage">&nbsp;</div>
                    </div>
                }
            }


            @if (Int32.Parse(Model.BrandSelected) > 0)
            {
                <div class="filterClear" onclick="filterClear('brand');">
                    <div class="filterText">BRAND: @Model.BrandSelectedName</div>
                    <div class="filterImage">&nbsp;</div>
                </div>
            }

            @if (Model.InStockSelected)
            {
                <div class="filterClear" onclick="filterClear('instock');">
                    <div class="filterText">IN STOCK ONLY</div>
                    <div class="filterImage">&nbsp;</div>
                </div>
            }

            @if (Model.NewItemsSelected)
            {
                <div class="filterClear" onclick="filterClear('newitems');">
                    <div class="filterText">NEW ITEMS ONLY</div>
                    <div class="filterImage">&nbsp;</div>
                </div>
            }

            <!-- set filterClears for the drop down list filters -->
            @{ foreach (KeyValuePair<string, string> obj in Model.FiltersSelected)
                {
                    if (obj.Value != "")
                    {
                        <div class="filterClear" onclick="filterClearExtra('@obj.Key');">
                            <div class="filterText">@obj.Key: @obj.Value </div>
                            <div class="filterImage">&nbsp;</div>
                        </div>
                    }
                }
            }

            <!-- set filterClears for each keyword -->
            @{ if (Model.KeyWords != null)
                {
                    listKeywords = Model.KeyWords.Split(' ').ToList();
                    foreach (string kw in listKeywords)
                    {
                        if (kw != "")
                        {
                            <div class="filterClear" onclick="removeKeyword('@kw');">
                                <div class="filterText">@kw</div>
                                <div class="filterImage">&nbsp;</div>
                            </div>
                        }
                    }
                }
            }

        </div>
        @if (ViewBag.Title != "Wholesale Hunter")
        {
            <div class="searchheader">
                <h1 class="search">@ViewBag.Title</h1>
                <h2 class="search">@ViewBag.Description</h2>
            </div>
        }
        <div style="position:relative;float:left;width:963px;padding-top:15px;">
            <div class="scroll" style="position:relative;float:left;width:963px;padding-top:15px;">
                <div class="scrollTo">&nbsp;</div>
                @foreach (SearchProduct prod in Model.Products)
                {
                    prod.keywords = Model.KeyWords;
                    @Html.Partial("_SearchProduct", prod);
                }
                <input type="hidden" class="nextScrollURL" value="@Model.ScrollUrl" />
            </div>
            <div style="position:relative;float:left;width:963px;padding-top:10px;padding-bottom:10px;text-align:center;">
                @if (Model.ResultCount.ResultCount == 0)
                {
                    @Html.Raw("<br /><br /><span style=\"font-weight: bold;padding-left:30px\">Your Search Returned 0 Results</span>");
                }
                @if (Model.EndRow < Model.ResultCount.ResultCount)
                {
                    <a href="#" class="button button2" onclick="fetchMoreProduct(); return false;">MORE</a>
                }
            </div>
        </div>
        <!-- END THE CENTER COLUMN-->
        <!-- BEGIN THE RIGHT HAND COLUMN WITH SPECIALS -->
        <div style="position:relative;float:left;width:287px;top:17px;text-align:right;">
            @foreach (Special spec in Model.Specials)
            {
                <div style="padding-bottom:80px;">
                    <a href="@spec.LinkTarget">
                        <img src="@spec.ImageLocation" alt="@spec.SpecialText" title="@spec.SpecialText"
                             style="max-width: 100%;max-height:100%" />
                    </a>
                </div>
            }
        </div>
        <!-- END THE RIGHT HAND COLUMN-->
    </div>

    <!-- SORT BY -->
    <div style="position:absolute;top:5px;left:500px;z-index:100;">
        <div style="position:relative;float:right;width:260px;">
            @{
                Model.SortByListStyle[Model.SortBy.ToLower()] = "";
                Model.SortByAnchorClass[Model.SortBy.ToLower()] = "a_sortby selected";
            }

            <div class="product_sort">
                <div id="product_sort_label">SORT BY:</div>
                <div class="sortbymenu">
                    <ul>
                        <li id="sortbyNewest" class="sortby" @Html.Raw(Model.SortByListStyle["newest"])>
                            <a id="a_sortbyNewest" class="@Model.SortByAnchorClass["newest"]" onclick="sortby('sortbyNewest')">NEWEST</a>
                        </li>
                        <li id="sortbyLow" class="sortby" @Html.Raw(Model.SortByListStyle["price low to high"])>
                            <a id="a_sortbyLow" class="@Model.SortByAnchorClass["price low to high"]" onclick="sortby('sortbyLow')">PRICE LOW TO HIGH</a>
                        </li>
                        <li id="sortbyHigh" class="sortby" @Html.Raw(Model.SortByListStyle["price high to low"])>
                            <a id="a_sortbyHigh" class="@Model.SortByAnchorClass["price high to low"]" onclick="sortby('sortbyHigh')">PRICE HIGH TO LOW</a>
                        </li>
                        <li id="sortbyPopularity" class="sortby" @Html.Raw(Model.SortByListStyle["popularity"])>
                            <a id="a_sortbyPopularity" class="@Model.SortByAnchorClass["popularity"]" onclick="sortby('sortbyPopularity')">POPULARITY</a>
                        </li>
                        <li id="sortbyPPU" class="sortby" @Html.Raw(Model.SortByListStyle["price per unit"])>
                            <a id="a_sortbyPPU" class="@Model.SortByAnchorClass["price per unit"]" onclick="sortby('sortbyPPU')">PRICE PER UNIT</a>
                        </li>
                        <li id="sortbyClearance" class="sortby" @Html.Raw(Model.SortByListStyle["clearance"])>
                            <a id="a_sortbyClearance" class="@Model.SortByAnchorClass["clearance"]" onclick="sortby('sortbyClearance')">DISCOUNT</a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- KEYWORD SEARCH
    <div style="position:absolute;float:right;top:5px;width:670px;height:46px;left:770px;">
        <div id="searchBar" class="search-wrapper cf">

            <input type="text" id="keywordsInput" placeholder="Search here..." required="">
            <button onclick="addKeywords();">Search</button>
        </div>
    </div> -->
    <!-- PRICE POINT -->
    <div id="pricepoints"></div>
    <input type="hidden" id="currentProductID" />
</div>

<div id="pagemask">&nbsp;</div>
<div id="message">
    <div id="divMessage">&nbsp;</div>
    <div style="margin: 0 auto;width:200px;">
        <br />
        <br />
        <a href="#" class="button button1" onclick="closeMessage();">OK</a>
    </div>
</div>

<form id="frmSearchSubmit" method="post" action="/Search/Submit">
    <input type="hidden" id="sortbyselected" name="sortbyselected" value="@Model.SortBy" />
    <input type="hidden" id="keywords" name="keywords" value="@Model.KeyWords" />
    <input type="hidden" id="categoryselected" name="categoryselected" value="@Model.CategorySelected" />
    <input type="hidden" id="brandselected" name="brandselected" value="@Model.BrandSelected" />
    <input type="hidden" id="instockselected" name="instockselected" value="@Model.InStockSelected.ToString()" />
    <input type="hidden" id="newitemsselected" name="newitemsselected" value="@Model.NewItemsSelected.ToString()" />
    <input type="hidden" id="minprice" name="minprice" value="@Model.MinPrice" />
    <input type="hidden" id="maxprice" name="maxprice" value="@Model.MaxPrice" />
    <input type="hidden" id="startrow" name="startrow" value="@Model.StartRow" />
    <input type="hidden" id="endrow" name="endrow" value="@Model.EndRow" />
    <input type="hidden" id="filtersselected" name="filtersselected" value="@Model.FiltersJSON" />
    <input type="hidden" id="dept" name="dept" value="@Model.Dept" />
    <input type="hidden" id="productid" value="0" />
    <input type="hidden" id="searchpage" value="1" />
</form>
<input type="hidden" id="customerid" value="@Model.CustomerID" />

<style type="text/css">
    .jscroll-inner {
        overflow: hidden;
    }
</style>

<script type="text/javascript">
    $('#keywordsInput').on("keypress", function (e) {
        if (e.keyCode == 13) {
            addKeywords();
        }
    });

    function fetchMoreProduct(url) {
        var url = $(".nextScrollURL").last().val();
        $.ajax({
            type: "POST",
            cache: false,
            url: url,
            dataType: "html",
            success: function (data) {
                $("div.scroll").append(data);
                var container = $('html,body');
                var scrollTo = $("div.scrollTo").last();
                $('html,body').scrollTop(
                    scrollTo.offset().top - container.offset().top + container.scrollTop()
                );
            }
        });
    }
</script>