﻿@model WholesaleHunter.ViewModels.ErrorViewModel
@using System.Globalization
@using WholesaleHunter.Classes
@using WholesaleHunter.Models
@{
    ViewBag.Title = "My Account Error";
    Layout = "";

    NumberFormatInfo nfi = CultureInfo.CurrentCulture.NumberFormat;
    nfi = (NumberFormatInfo)nfi.Clone();

    NumberFormatInfo nfiNoDecimal = CultureInfo.CurrentCulture.NumberFormat;
    nfiNoDecimal = (NumberFormatInfo)nfiNoDecimal.Clone();
    nfiNoDecimal.CurrencyDecimalDigits = 0;
    nfiNoDecimal.CurrencySymbol = "";
}

<div id="cartmain">
    <div id="topbar">
        <span onclick="hideMyAccount();">close [X]</span>
    </div>
    <br /><br />
    <div style="width:100%;text-align:center">
        <span style="font-weight:bold;font-size:larger;">
            @Model.Title
        </span>
        <br />
        <br />
        @Model.Message
        <br />
        <br />

        @if (Model.ShowOkButton)
        {
            <a href="#" onclick="hideMyAccount();" class="buttonwide button2">OK</a>
        }
    </div>
    <br /><br /><br /><br /><br /><br />
</div>

<style type="text/css">
    .button {
        background-color: #331709;
        border: none;
        width: 125px;
        color: white;
        alignment-adjust: middle;
        padding: 5px 5px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 14px;
        margin: 4px 2px;
        -webkit-transition-duration: 0.4s;
        transition-duration: 0.4s;
        cursor: pointer;
    }

    .buttonwide {
        background-color: #331709;
        border: none;
        width: 200px;
        color: #D7D2B7;
        alignment-adjust: middle;
        padding: 5px 5px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 14px;
        margin: 4px 2px;
        -webkit-transition-duration: 0.4s;
        transition-duration: 0.4s;
        cursor: pointer;
    }

    .button1 {
        background-color: white;
        border: none;
        font-size: 14px;
        text-align: center;
        color: #331709;
    }

        .button1:hover {
            background-color: #331709;
            border: none;
            font-size: 14px;
            text-align: center;
            color: white;
        }

    .button2 {
        background-color: #331709;
        border: none;
        font-size: 14px;
        text-align: center;
    }

    .button3 {
        background-color: #FFF;
        border: none;
        font-size: 20px;
        width: 25px;
        text-align: center;
    }

    .button4 {
        background-color: #331709;
        border: none;
        font-size: 14px;
        width: 175px;
        text-align: center;
    }

    div#cartmain {
        position: relative;
        width: 1000px;
        background-color: white;
        color: black;
        border: solid 3px #331709;
        margin: 5px;
        font-family: Arial, Verdana, sans-serif;
        padding-right: 5px;
        padding-top: 5px;
    }

    div#topbar {
        position: relative;
        width: 100%;
        color: #331709;
        text-align: right;
    }

    tr.navbar td.indicator {
        width: 150px;
        text-align: center;
        font-family: Arial, Verdana, sans-serif;
        font-size: 15px;
    }

    tr.navbar td.selected {
        font-family: Arial, Verdana, sans-serif;
        font-size: 15px;
        background-color: #331709;
        color: #d7d2b7;
    }

    tr.navbar td.sep {
        width: 30px;
        text-align: center;
    }

    div.triangle_spacer {
        position: relative;
        float: left;
        width: 10px;
    }

    div.triangle {
        position: relative;
        float: left;
        width: 0px;
        height: 0px;
        border-style: solid;
        border-width: 10px 0px 10px 8px;
        border-color: transparent transparent transparent #331709;
        line-height: 0px;
        _border-color: #000000 #000000 #000000 #331709;
        _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
    }
</style>
@Styles.Render("~/Content/css")