﻿@model WholesaleHunter.ViewModels.MyAccountViewModel
@using WholesaleHunter.Models

@{
    Layout = null;
    string selectedOrderHistory = string.Empty;
    string selectedMyAddresses = string.Empty;
    string selectedPaymentMethods = string.Empty;
    string selectedContactPreferences = string.Empty;
    string selectedChangePassword = string.Empty;
    string attrChecked = "checked=\"checked\"";

    switch(Model.SelectedTab)
    {
        case 1:
            selectedMyAddresses = attrChecked;
            break;
        case 2:
            selectedPaymentMethods = attrChecked;
            break;
        case 3:
            selectedContactPreferences = attrChecked;
            break;
        case 4:
            selectedChangePassword = attrChecked;
            break;
        default:
            selectedOrderHistory = attrChecked;
            break;
    }
}

<div id="helpMask" class="helpMask">&nbsp;</div>
<table class="myAccountContainer login_table">
    <tr>
        <td colspan="2" align="center" valign="middle" style="font-size: 36px">
            <table class="myAccountHeading" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td width="10%">&nbsp;</td>
                    <td width="80%" align="center">MY ACCOUNT</td>
                    <td width="10%" align="right" valign="top">
                        <span onclick="hideMyAccount();" style="color: #00331B;font-size:14px;">close [X]</span>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td height="500" colspan="2" align="left" valign="top">
            <div class="tabordion">

                <section id="orderHistory">
                    <input type="radio" name="sections" id="option" @selectedOrderHistory>
                    <label for="option">ORDER HISTORY</label>

                    <article class="MyAccountSection scrollable">
                        <div class="scroll" style="height:500px;">
                            @{
                                Html.RenderAction("MyOrderHistory", "MyAccount", new { userID = ViewBag.UserID });
                            }
                        </div>
                    </article>
                </section>

                <section id="myAddresses">
                    <input type="radio" name="sections" id="option2" @selectedMyAddresses >
                    <label for="option2">MY ADDRESSES</label>
                    <article class="MyAccountSection scrollable">
                        <div class="scroll" style="height:500px;">
                            @{
                                Html.RenderAction("MyAddresses", "MyAccount", new { userID = ViewBag.UserID });
                            }
                        </div>
                    </article>
                </section>

                <section id="myPaymentMethods">
                    <input type="radio" name="sections" id="option3" @selectedPaymentMethods>
                    <label for="option3">PAYMENT METHODS</label>
                    <article>
                        @{
        Html.RenderAction("MyPaymentMethods", "MyAccount", new { userID = ViewBag.UserID });
    }
                    </article>
                </section>

                <section id="myContactPreferences">
                    <input type="radio" name="sections" id="option4" @selectedContactPreferences>
                    <label for="option4">CONTACT PREFERENCES</label>
                    <article>
                        @{
        Html.RenderAction("MyContactPreferences", "MyAccount", new { userID = ViewBag.UserID });
    }
                    </article>
                </section>

                <section id="changePassword">
                    <input type="radio" name="sections" id="option5" @selectedChangePassword>
                    <label for="option5">CHANGE MY PASSWORD</label>
                    <article>
                        @{
                            Html.RenderAction("MyPassword", "MyAccount", new { userID = ViewBag.UserID, StartRow = ViewBag.StartRow, EndRow = ViewBag.EndRow });
                        }
                    </article>
                </section>

                <section id="logout">
                    <input type="radio" name="sections" id="option6">
                    <label for="option6">LOGOUT</label>
                    <article>
                        <div>
                            @{
                                Html.RenderAction("MyAccountLogout", "MyAccount");
                            }
                        </div>
                    </article>
                </section>

            </div>
        </td>
    </tr>
    <tr>
        <td width="241" height="15" align="center" valign="middle" bgcolor="#331709" style="color: #FFF">RECENTLY VIEWED</td>
        <td width="869">&nbsp;</td>
    </tr>
    <tr>
        <td colspan="2">
            @{
                Html.RenderAction("RecentlyViewed", "MyAccount", new { userID = ViewBag.UserID });
            }
        </td>
    </tr>
</table>
<input type="hidden" id="pwEmail" value="@Model.MyInfo.Email" />
<input type="hidden" id="pwFirstName" value="@Model.MyInfo.FirstName" />
<input type="hidden" id="pwLastName" value="@Model.MyInfo.LastName" />
