﻿@model WholesaleHunter.ViewModels.MyAccountViewModel
@using WholesaleHunter.Models


@{
    Layout = null;
}

<script src="~/Scripts/MyAddresses.js"></script>

<input id="customerID" type="hidden" value=@ViewBag.CustomerID />

@{
    int divCounter = 1;
    string EditButtonGroup = "";
    string UpdateButtonGroup = "";
    string customerIDVal = "";
    string addressNameVal = "";
    string LabelAddressName = "";
    string EditAddressName = "";
    string LabelAddress1 = "";
    string EditAddress1 = "";
    string Address2Label = "";
    string EditAddress2 = "";
    string EditCity = "";
    string LabelCity = "";
    string address1Val = "";
    string address2Val = "";
    string customerAddressIDVal = "";
    string cityVal = "";
    string stateVal = "";
    string zipCodeVal = "";
    string isPrimaryVal = "";

    //string EditState = "";
    //string LabelState = "";
    //string EditZip = "";
    //string LabelZip = "";
}
<table class="MyAccountTable">

    @foreach (var item in Model.CustomerAddress)
    {
        EditButtonGroup = "editButtonGroup" + divCounter;
        UpdateButtonGroup = "updateButtonGroup" + divCounter;
        LabelAddressName = "addressNameLabel" + divCounter;
        EditAddressName = "addressNameEdit" + divCounter;
        LabelAddress1 = "addressLabel" + divCounter;
        EditAddress1 = "addressEdit" + divCounter;
        Address2Label = "address2Label" + divCounter;
        EditAddress2 = "address2Edit" + divCounter;
        EditCity = "cityEdit" + divCounter;
        LabelCity = "cityLabel" + divCounter;

        customerAddressIDVal = "customerAddressIDVal" + divCounter;
        customerIDVal = "customerIDVal" + divCounter;
        addressNameVal = "addressNameVal" + divCounter;
        address1Val = "address1Val" + divCounter;
        address2Val = "address2Val" + divCounter;
        cityVal = "cityVal" + divCounter;
        stateVal = "stateVal" + divCounter;
        zipCodeVal = "zipCodeVal" + divCounter;
        isPrimaryVal = "isPrimaryVal" + divCounter;

        <tr>
            <td>
                <div id="@LabelAddressName">
                    @item.AddressName
                </div>
                <div id="@EditAddressName" class="addressEdit">
                    <select size="1" class="select selectStyle" id="@addressNameVal" name="AddressName">
                        <option selected=selected>@item.AddressName</option>
                        <option value="Home">Home</option>
                        <option value="Work">Work</option>
                        <option value="Other">Other</option>
                    </select>
                </div>
            </td>
            <td>
                @if (item.IsPrimary == true)
                {
                    <div class="primaryAddress">
                        Primary
                    </div>
                }
            </td>
        </tr>

        <tr>
            <td colspan="2">
                <div id=@LabelAddress1>
                    @item.Address1
                </div>
                <div id=@EditAddress1 class="addressEdit">
                    @Html.HiddenFor(model => item.CustomerAddressID, new { @id = customerAddressIDVal })
                    @Html.HiddenFor(model => item.CustomerID, new { @id = customerIDVal })
                    @*@Html.HiddenFor(model => item.AddressName, new { @id = addressNameVal } )*@
                    @Html.EditorFor(model => item.Address1, new { htmlAttributes = new { @class = "addressAddress1_2 myAccountInput", @id = address1Val } })
                </div>
            </td>
        </tr>

        <tr>
            <td colspan="2">
                @if (!string.IsNullOrWhiteSpace(item.Address2) && item.Address2 != " ")
                {
                    <div id="@Address2Label">
                        @item.Address2
                    </div>
                }
                <div id=@EditAddress2 class="addressEdit">
                    @Html.EditorFor(model => item.Address2, new { htmlAttributes = new { @class = "addressAddress1_2 myAccountInput", @id = address2Val } })
                </div>
            </td>
        </tr>

        <tr>
            <td colspan="2">
                <div id="@LabelCity">
                    @item.City @item.State @item.ZIPCode
                </div>
                <div id="@EditCity" class="addressEdit">
                    @Html.EditorFor(model => item.City, new { htmlAttributes = new { @class = "addressCity myAccountInput", @id = cityVal } })

                    <select class="select selectStyle addressState" id="@stateVal" name="State">
                        <option selected=selected>@item.State</option>
                        <option value="AL">Alabama</option>
                        <option value="AK">Alaska</option>
                        <option value="AZ">Arizona</option>
                        <option value="AR">Arkansas</option>
                        <option value="CA">California</option>
                        <option value="CO">Colorado</option>
                        <option value="CT">Connecticut</option>
                        <option value="DE">Delaware</option>
                        <option value="DC">District Of Columbia</option>
                        <option value="FL">Florida</option>
                        <option value="GA">Georgia</option>
                        <option value="HI">Hawaii</option>
                        <option value="ID">Idaho</option>
                        <option value="IL">Illinois</option>
                        <option value="IN">Indiana</option>
                        <option value="IA">Iowa</option>
                        <option value="KS">Kansas</option>
                        <option value="KY">Kentucky</option>
                        <option value="LA">Louisiana</option>
                        <option value="ME">Maine</option>
                        <option value="MD">Maryland</option>
                        <option value="MA">Massachusetts</option>
                        <option value="MI">Michigan</option>
                        <option value="MN">Minnesota</option>
                        <option value="MS">Mississippi</option>
                        <option value="MO">Missouri</option>
                        <option value="MT">Montana</option>
                        <option value="NE">Nebraska</option>
                        <option value="NV">Nevada</option>
                        <option value="NH">New Hampshire</option>
                        <option value="NJ">New Jersey</option>
                        <option value="NM">New Mexico</option>
                        <option value="NY">New York</option>
                        <option value="NC">North Carolina</option>
                        <option value="ND">North Dakota</option>
                        <option value="OH">Ohio</option>
                        <option value="OK">Oklahoma</option>
                        <option value="OR">Oregon</option>
                        <option value="PA">Pennsylvania</option>
                        <option value="RI">Rhode Island</option>
                        <option value="SC">South Carolina</option>
                        <option value="SD">South Dakota</option>
                        <option value="TN">Tennessee</option>
                        <option value="TX">Texas</option>
                        <option value="UT">Utah</option>
                        <option value="VT">Vermont</option>
                        <option value="VA">Virginia</option>
                        <option value="WA">Washington</option>
                        <option value="WV">West Virginia</option>
                        <option value="WI">Wisconsin</option>
                        <option value="WY">Wyoming</option>
                    </select>
                    @Html.EditorFor(model => item.ZIPCode, new { htmlAttributes = new { @class = "addressZip myAccountInput", style="width:100px;", @id = zipCodeVal } })
                </div>
            </td>
        </tr>

        <tr>
            <td colspan="2" style="text-align:right;">
                <div id="@EditButtonGroup">
                    <input type="button" class="myAccountButton" onclick="displayEdit(@divCounter)" value="Edit" />
                    <input type="button" class="myAccountButton" value="Delete" onclick="deleteAddress(@divCounter)" />
                    @if (item.IsPrimary != true)
                    {
                        <input type="button" class="myAccountButton" value="Make Primary" onclick="makePrimary(@divCounter)" />
                    }
                </div>
                <div id="@UpdateButtonGroup" class="addressUpdate">
                    <input type="button" class="myAccountButton" value="Save" onclick="updateAddress(@divCounter)" />
                    <input type="button" class="myAccountButton" onclick="displayNormal(@divCounter)" value="Cancel" />
                </div>
            </td>
        </tr>
        
        <tr>
            <td height="13" colspan="2">
                <hr align="left" width="100%" style="color:#D7D2B7; background-color:#D7D2B7; height:10px; border:none;">
            </td>
        </tr>
        divCounter++; //increment the counter
    }


    <tr>
        <td></td>
        <td>
            <input type="button" class="myAccountButton" value="Add New" onclick="showNewAddress()" id="addNew" />
        </td>
    </tr>

    <tr>
        <td id="newAddress" class="addNewAddress" colspan="2">
            <table class="newAddressTable" width="100%">
                <tr>
                    <td class="newAddressLabel">
                        Address Type
                    </td>
                    <td>
                        <div>
                            <select size="1" class="select selectStyle" id="newAddressName" name="AddressName">
                                <option selected=selected>Address Type</option>
                                <option value="Home">Home</option>
                                <option value="Work">Work</option>
                                <option value="Other">Other</option>
                            </select>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td class="newAddressLabel">
                        Address 1
                    </td>
                    <td class="newAddressData">
                        <input class="newAddressData" type="text" name="Address1" id="newAddress1" />
                    </td>
                </tr>
                <tr>
                    <td class="newAddressLabel">
                        Address 2
                    </td>
                    <td class="newAddressData">
                        <input type="text" name="Address1" id="newAddress2" />
                    </td>
                </tr>

                <tr>
                    <td class="newAddressLabel">
                        City
                    </td>
                    <td class="newAddressData">
                        <input type="text" name="City" id="newCity" />
                    </td>
                </tr>
                <tr>
                    <td class="newAddressLabel">
                        State
                    </td>

                    <td class="newAddressData">
                        <div id=”newState”>
                            <select size="1" class="select selectStyle" id="newState" name="State">
                                <option selected=selected>Choose Your State</option>
                                <option value="AL">Alabama</option>
                                <option value="AK">Alaska</option>
                                <option value="AZ">Arizona</option>
                                <option value="AR">Arkansas</option>
                                <option value="CA">California</option>
                                <option value="CO">Colorado</option>
                                <option value="CT">Connecticut</option>
                                <option value="DE">Delaware</option>
                                <option value="DC">District Of Columbia</option>
                                <option value="FL">Florida</option>
                                <option value="GA">Georgia</option>
                                <option value="HI">Hawaii</option>
                                <option value="ID">Idaho</option>
                                <option value="IL">Illinois</option>
                                <option value="IN">Indiana</option>
                                <option value="IA">Iowa</option>
                                <option value="KS">Kansas</option>
                                <option value="KY">Kentucky</option>
                                <option value="LA">Louisiana</option>
                                <option value="ME">Maine</option>
                                <option value="MD">Maryland</option>
                                <option value="MA">Massachusetts</option>
                                <option value="MI">Michigan</option>
                                <option value="MN">Minnesota</option>
                                <option value="MS">Mississippi</option>
                                <option value="MO">Missouri</option>
                                <option value="MT">Montana</option>
                                <option value="NE">Nebraska</option>
                                <option value="NV">Nevada</option>
                                <option value="NH">New Hampshire</option>
                                <option value="NJ">New Jersey</option>
                                <option value="NM">New Mexico</option>
                                <option value="NY">New York</option>
                                <option value="NC">North Carolina</option>
                                <option value="ND">North Dakota</option>
                                <option value="OH">Ohio</option>
                                <option value="OK">Oklahoma</option>
                                <option value="OR">Oregon</option>
                                <option value="PA">Pennsylvania</option>
                                <option value="RI">Rhode Island</option>
                                <option value="SC">South Carolina</option>
                                <option value="SD">South Dakota</option>
                                <option value="TN">Tennessee</option>
                                <option value="TX">Texas</option>
                                <option value="UT">Utah</option>
                                <option value="VT">Vermont</option>
                                <option value="VA">Virginia</option>
                                <option value="WA">Washington</option>
                                <option value="WV">West Virginia</option>
                                <option value="WI">Wisconsin</option>
                                <option value="WY">Wyoming</option>
                            </select>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td class="newAddressLabel">
                        Zip Code
                    </td>
                    <td class="newAddressData">
                        <input type="text" name="ZipCode" id="newZipCode" style="width:100px;" />
                    </td>
                </tr>

                <tr>
                    <td>&nbsp;</td>
                    <td>

                        <input type="button" class="myAccountButton" value="Save" onclick="addNewAddress()" />
                        <input type="button" class="myAccountButton" onclick="cancelNewAddress()" value="Cancel" />
                    </td>
                </tr>
            </table>

        </td>
    </tr>
</table>




