﻿@model WholesaleHunter.ViewModels.MyAccountViewModel
@using WholesaleHunter.Models

@{
    Layout = null;
}

<script src="~/Scripts/MyContactPreferences.js"></script>

<input id="customerID" type="hidden" value=@ViewBag.CustomerID />

<table class="MyAccountTable">
    <tr>
        <td ><p class="contactLabel">Primary Phone</p> </td>
        <td><input type="tel" class="contactField myAccountInput" name="phone" id="phone" placeholder="Phone Number" value="@Model.Phone"></td>
    </tr>
    <tr>
        <td><p class="contactLabel">Primary Email</p> </td>
        <td><input type="email" class="contactField myAccountInput" name="email" id="email" placeholder="Email" value=@Model.EMail></td>
    </tr>
    <tr>
        <td colspan="2"><input type="checkbox" id="newsletter" name="keep" checked=@Model.GetNewsletter><small style="font-size: 12px">RECEIVE OUR NEWSLETTER</small></td>
    </tr>
    <tr>
        <td colspan="2"><button class="myAccountButton" onclick="updateContactPreferences()">SAVE</button></td>
    </tr>
</table>