﻿@model WholesaleHunter.ViewModels.MyAccountViewModel
@using WholesaleHunter.Models

@{
    Layout = null;
}

<script src="~/Scripts/MyPaymentMethods.js"></script>

<input id="customerID" type="hidden" value=@ViewBag.CustomerID />

@{ 
    int divCounter = 1;
    string myPaymentMethodID = "";
    DateTime currentDate = DateTime.Now.Date;  //Get today's date for comparison against expiration
    int currentYear = currentDate.Year; //starting point for year drop down when adding new credit card
    int finalYear = currentYear + 15;  //end point for year drop down when adding new credit card
    int yearCounter = 1; //counter for creating year dropdown list
}

<table class="MyAccountTable">
    @foreach(var item in Model.CustomerPaymentMethod)
    {
        myPaymentMethodID = "myPaymentMethodIDVal" + divCounter;
        <tr>
            <td>
                <div>
                    Card ending in @item.LastFour
                    @Html.HiddenFor(model => item.CustomerPaymentMethodID, new { id=@myPaymentMethodID})
                    @if(item.ExpirationDate < @currentDate)
                    {
                    <p class="expiredCard"> Expired  </p>
                    }
                </div>
            </td>
            <td>
                @if (item.IsPrimary == true)
                {
                    <div class="primaryAddress">
                        Primary
                    </div>
                }
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <input type="button" class="myAccountButton" value="Delete" onclick="deletePaymentMethod(@divCounter)" id="deletePaymentMethod" />
                @if (item.IsPrimary != true)
                {
                    <input type="button" class="myAccountButton" value="Make Primary" onclick="makePrimaryPaymentMethod(@divCounter)" />
                }
            </td>
        </tr>
        <tr>
            <td height="13" colspan="2">
                <hr align="left" width="100%" style="color:#D7D2B7; background-color:#D7D2B7; height:10px; border:none;">
            </td>
        </tr>
        divCounter++;
    }
    @if(divCounter==1)
    {
        @Html.Raw("<br /><br /><br />You have no payment methods saved.<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />")
    }
    <!--
    <tr>
        <td></td>
        <td>
            <input type="button" class="myAccountButton" value="Add New" onclick="showNewPaymentMethod()" id="addNew" />
        </td>
    </tr>

    <tr>
        <td id="newPaymentMethod" class="addNewPaymentMethod">
            <table>
                <tr>
                    <td>
                        Card Number
                    </td>
                    <td>
                        <input id="newCardNumber" class="myAccountInput" type="text" placeholder="Card Number" />
                    </td>
                </tr>
                <tr>
                    <td>
                        Expiration
                    </td>
                    <td>
                        <select size="1" class="select selectStyle paymentMethodMonth" id="newExpirationMonth" name="ExpirationMonth">
                            <option selected=selected>Month</option>
                            <option value="0">January</option>
                            <option value="1">February</option>
                            <option value="2">March</option>
                            <option value="3">April</option>
                            <option value="4">May</option>
                            <option value="5">June</option>
                            <option value="6">July</option>
                            <option value="7">August</option>
                            <option value="8">September</option>
                            <option value="9">October</option>
                            <option value="10">November</option>
                            <option value="11">December</option>
                        </select>
                        <select size="1" class="select selectStyle paymentMethodYear" id="newExpirationYear">
                            <option selected=selected>Year</option>
                            @*
                            @for (yearCounter = currentYear; yearCounter <= finalYear; yearCounter++)
                            {
                                <option value=@yearCounter>@yearCounter</option>
                            } *@
                        </select>
                        <input id="newExpirationYear" type="text" placeholder="Year" class="paymentMethodYear" />
                    </td>
                </tr>
                <tr>
                    <td>
                        CVV
                    </td>
                    <td>
                        <input type="text" id="newCVV" class="paymentMethodCVV myAccountInput" placeholder="CVV" />
                    </td>
                </tr>
                <tr>
                    <td>
                        Billing Zip Code
                    </td>
                    <td>
                        <input type="text" id="newBillingZipCode" class="paymentMethodCVV myAccountInput" placeholder="ZIP Code" />
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <input type="button" class="myAccountButton" value="Save" onclick="addPaymentMethod()" id="newPaymentMethod" />
                        <input type="button" class="myAccountButton" value="Cancel" onclick="showNormal()" id="cancelNewPaymentMethod" />
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    -->
</table>