﻿@{
    Layout = null;
}

<script src="~/Scripts/MyPassword.js"></script>

<table width="600" align="left" cellpadding="0" cellspacing="0" class="login_table">
    <tr>
        <td><p class="contactLabel">Current Password </p></td>
        <td><p class="contactField"><input type="password" name="oldpassword"  id="password1" placeholder="Current Password"></p></td>
    </tr>
    <tr>
        <td><p class="contactLabel">New Password</p> </td>
        <td><p class="contactField"><input type="password"  name="newpassword" id="password2" placeholder="New Password"></p></td>
    </tr>
    <tr>
        <td>
            <p class="contactLabel">
            Verify New Password
            </p>
        </td>
        <td>
            <p class="contactField">
            <input type="password" name="password3" id="password3" placeholder="Verify Password">
            </p>
        </td>
    </tr>
    <tr>
        <td colspan="2"><button class="myAccountButton" onclick="updatePassword()">SAVE</button></td>
    </tr>
</table>
