﻿@model WholesaleHunter.ViewModels.CartCompleteViewModel
@using System.Globalization
@using WholesaleHunter.Classes
@using WholesaleHunter.Models
@{
        ViewBag.Title = "Shopping Cart Contents";
        Layout = "";

        NumberFormatInfo nfi = CultureInfo.CurrentCulture.NumberFormat;
        nfi = (NumberFormatInfo)nfi.Clone();

        NumberFormatInfo nfiNoDecimal = CultureInfo.CurrentCulture.NumberFormat;
        nfiNoDecimal = (NumberFormatInfo)nfiNoDecimal.Clone();
        nfiNoDecimal.CurrencyDecimalDigits = 0;
        nfiNoDecimal.CurrencySymbol = "";

        const int CREDIT_CARD_APPROVED = 1;
        const int CREDIT_CARD_DECLINED = 2;
        const int CREDIT_CARD_DECLINED_WITH_ERROR = 3;
        const int CREDIT_CARD_HOLD_FOR_REVIEW = 4;
}

<div id="cartmain">
    <div id="topbar">
        <span onclick="hideCart();">close [X]</span>
    </div>
    <table style="width:100%">
        <tr class="navbar">
            <td class="spacer">&nbsp;</td>
            <td class="indicator" id="indViewCart">VIEW CART</td>
            <td class="sep">
                <div class="triangle_spacer">&nbsp;</div>
                <div class="triangle">&nbsp;</div>
                <div class="triangle_spacer">&nbsp;</div>
            </td>
            <td class="indicator" id="indMyInfo">MY INFO</td>
            <td class="sep">
                <div class="triangle_spacer">&nbsp;</div>
                <div class="triangle">&nbsp;</div>
                <div class="triangle_spacer">&nbsp;</div>
            </td>
            <td class="indicator" id="indPayment">PAYMENT</td>
            <td class="sep">
                <div class="triangle_spacer">&nbsp;</div>
                <div class="triangle">&nbsp;</div>
                <div class="triangle_spacer">&nbsp;</div>
            </td>
            <td class="indicator" id="indAlmostThere">ALMOST THERE</td>
            <td class="sep">
                <div class="triangle_spacer">&nbsp;</div>
                <div class="triangle">&nbsp;</div>
                <div class="triangle_spacer">&nbsp;</div>
            </td>
            <td class="indicator selected" id="indComplete">COMPLETE</td>
            <td class="spacer">&nbsp;</td>
        </tr>
    </table>
    <br />
    <table width="990" style="border-spacing:0;background-color: #fff;padding: 5px 40px;margin: auto;border-radius: 4px;">
        @if(Model.Status.Status == CREDIT_CARD_APPROVED)
        {
           <tr>
                <td>
                    @if(Model.EmailSent<0)
                    {
                        <span style="color:red;font-weight:bold">
                            Your email address &quot;@Model.EmailAddress&quot; is invalid.  Please update your account with a valid address
                        </span>
                        <br /><br />
                    }
                    Your order is complete!&nbsp;You will be notified by email when it ships.
                    <br /><br />
                    <a href="#" onclick="window.print();" class="button button2">Print This Page</a>
                    <br /><br />
                    Your order number is <span style="font-weight:bold;"> @Model.OrderNumber. </span><br /><br />
                    @Html.Raw(Model.ConfirmationEmailHTML)
                </td>
            </tr>
        }

        @if(Model.Status.Status == CREDIT_CARD_DECLINED)
        {
        <tr>
            <td>
                Your card was declined. Please check that your information was correct and try again.
                <br /><br />
                <a href="#" onclick="window.print();" class="button button2">Print This Page</a>
                <br /><br />
                Your order number is <span style="font-weight:bold;"> @Model.OrderNumber. </span><br /><br />
            </td>
        </tr>
        }

        @if(Model.Status.Status == CREDIT_CARD_DECLINED_WITH_ERROR)
        {
        <tr>
            <td>
                Your card was declined due to an error. Please check that your information was correct and try again.
                <br />
                Error Message: @Model.Status.ErrorText
                <br /><br />
                <a href="#" onclick="window.print();" class="button button2">Print This Page</a>
                <br /><br />
                Your order number is <span style="font-weight:bold;"> @Model.OrderNumber. </span><br /><br />
                @Html.Raw(Model.ConfirmationEmailHTML)
            </td>
        </tr>
        }


        @if(Model.Status.Status == CREDIT_CARD_HOLD_FOR_REVIEW)
        {
        <tr>
            <td>
                @if (Model.EmailSent < 0)
                {
                    <span style="color:red;font-weight:bold">
                        Your email address &quot;@Model.EmailAddress&quot; is invalid.  Please update your account with a valid address
                    </span>
                    <br /><br />
                }
                The charge has posted but is being held for review.
                <br /><br />
                <a href="#" onclick="window.print();" class="button button2">Print This Page</a>
                <br /><br />
                Your order number is <span style="font-weight:bold;"> @Model.OrderNumber. </span><br /><br />
                @Html.Raw(Model.ConfirmationEmailHTML)
            </td>
        </tr>
        }

        @if(Model.PaidByCheck) {
        <tr>
            <td>
                @if (Model.EmailSent < 0)
                {
                    <span style="color:red;font-weight:bold">
                        Your email address &quot;@Model.EmailAddress&quot; is invalid.  Please update your account with a valid address
                    </span>
                    <br /><br />
                }
                Your order number is <span style="font-weight:bold;"> @Model.OrderNumber. </span>
                <br /><br />
                Please print this screen and include it with your check to identify your order.<br />
                <a href="#" onclick="window.print();" class="button button2">Print This Page</a>
                <br /><br />
                @Html.Raw(Model.ConfirmationEmailHTML)
            </td>
        </tr>
        }
        <tr>
            <td style="text-align: center;">
                <br /><br /><br /><br /><br />
                <a href="#" onclick="hideCart();" class="button button2">Close</a>
            </td>
        </tr>
    </table>
    <br />
    <br />
</div>

<style type="text/css">
    .button {
        background-color: #331709;
        border: none;
        width: 125px;
        color: white;
        alignment-adjust: middle;
        padding: 5px 5px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 14px;
        margin: 4px 2px;
        -webkit-transition-duration: 0.4s;
        transition-duration: 0.4s;
        cursor: pointer;
    }

    .button1 {
        background-color: white;
        border: none;
        font-size: 14px;
        text-align: center;
        color: #331709;
    }

        .button1:hover {
            background-color: #331709;
            border: none;
            font-size: 14px;
            text-align: center;
            color: white;
        }

    .button2 {
        background-color: #331709;
        border: none;
        font-size: 14px;
        text-align: center;
    }

    .button3 {
        background-color: #FFF;
        border: none;
        font-size: 20px;
        width: 25px;
        text-align: center;
    }

    .button4 {
        background-color: #331709;
        border: none;
        font-size: 14px;
        width: 175px;
        text-align: center;
    }

    div#cartmain {
        position: relative;
        width: 1000px;
        background-color: white;
        color: black;
        border: solid 3px #331709;
        margin: 5px;
        font-family: Arial, Verdana, sans-serif;
        padding-right: 5px;
        padding-top: 5px;
    }

    div#topbar {
        position: relative;
        width: 100%;
        color: #331709;
        text-align: right;
    }

    tr.navbar td.indicator {
        width: 150px;
        text-align: center;
        font-family: Arial, Verdana, sans-serif;
        font-size: 15px;
    }

    tr.navbar td.selected {
        font-family: Arial, Verdana, sans-serif;
        font-size: 15px;
        background-color: #331709;
        color: #d7d2b7;
    }

    tr.navbar td.sep {
        width: 30px;
        text-align: center;
    }

    div.triangle_spacer {
        position: relative;
        float: left;
        width: 10px;
    }

    div.triangle {
        position: relative;
        float: left;
        width: 0px;
        height: 0px;
        border-style: solid;
        border-width: 10px 0px 10px 8px;
        border-color: transparent transparent transparent #331709;
        line-height: 0px;
        _border-color: #000000 #000000 #000000 #331709;
        _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
    }
</style>
@Styles.Render("~/Content/css")