﻿@model WholesaleHunter.ViewModels.CartViewModel
@using System.Globalization
@using WholesaleHunter.Classes
@using WholesaleHunter.Models
@{
    ViewBag.Title = "Shopping Cart Contents";
    Layout = "";
    decimal ExtTotal;
    decimal CartTotal = 0;
    int cntItem = 0;
    string addClass = "";
    string inputClassName = "";
    string inputReadOnly= "";

    NumberFormatInfo nfi = CultureInfo.CurrentCulture.NumberFormat;
    nfi = (NumberFormatInfo)nfi.Clone();

    NumberFormatInfo nfiNoDecimal = CultureInfo.CurrentCulture.NumberFormat;
    nfiNoDecimal = (NumberFormatInfo)nfiNoDecimal.Clone();
    nfiNoDecimal.CurrencyDecimalDigits = 0;
    nfiNoDecimal.CurrencySymbol = "";

    string hidetaxClass = "";
    if(Model.TaxDisplay.ToLower()=="(unknown)")
    {
        hidetaxClass = "hidetax";
    }
}

<div id="cartmain">
    <div id="topbar">
        <span onclick="hideCart();">close [X]</span>
    </div>
    <table style="width:100%">
        <tr class="navbar">
            <td class="spacer">&nbsp;</td>
            <td class="indicator selected" id="indViewCart">VIEW CART</td>
            <td class="sep">
                <div class="triangle_spacer">&nbsp;</div>
                <div class="triangle">&nbsp;</div>
                <div class="triangle_spacer">&nbsp;</div>
            </td>
            <td class="indicator" id="indMyInfo">MY INFO</td>
            <td class="sep">
                <div class="triangle_spacer">&nbsp;</div>
                <div class="triangle">&nbsp;</div>
                <div class="triangle_spacer">&nbsp;</div>
            </td>
            <td class="indicator" id="indPayment">PAYMENT</td>
            <td class="sep">
                <div class="triangle_spacer">&nbsp;</div>
                <div class="triangle">&nbsp;</div>
                <div class="triangle_spacer">&nbsp;</div>
            </td>
            <td class="indicator" id="indAlmostThere">ALMOST THERE</td>
            <td class="sep">
                <div class="triangle_spacer">&nbsp;</div>
                <div class="triangle">&nbsp;</div>
                <div class="triangle_spacer">&nbsp;</div>
            </td>
            <td class="indicator" id="indComplete">COMPLETE</td>
            <td class="spacer">&nbsp;</td>
        </tr>
    </table>
    <br /><br />
    <table cellpadding="0" cellspacing="0">
        <tr class="cartlist">
            <th style="width:500px;">ITEM</th>
            <th style="width:15px;"></th>
            <th style="width:120px;text-align:right;">UNIT PRICE</th>
            <th style="width:15px;"></th>
            <th style="width:100px;text-align:right;">QUANTITY</th>
            <th style="width:15px;"></th>
            <th style="width:140px;text-align:right;">TOTAL PRICE</th>
            <td style="width:25px;">&nbsp;</td>
        </tr>
        @foreach (CartListItem itm in Model.items)
        {
            ExtTotal = itm.Quantity * itm.Price;
            CartTotal += ExtTotal;
            cntItem++;
            if (cntItem % 2 == 0)
            {
                addClass = "alt";
            }
            else
            {
                addClass = "";
            }
            <tr class="cartlist @addClass">
                <td class="text"><a class="contents" href="/Product/Details/@itm.ProductID" target="_blank">@itm.ItemTitle</a></td>
                <td class="divider"></td>
                <td class="numeric">
                    @String.Format(nfi, "{0:C2}", @itm.Price)
                    <input type="hidden" id="@Html.Raw("price_" + cntItem + "_" + @itm.ProductID)" value="@itm.Price" />
                </td>
                <td class="divider"></td>
                <td class="numeric">
                    @if(itm.AuctionID == null)
                    {
                        inputClassName = "qty";
                        inputReadOnly = "";
                    }
                    else
                    {
                        inputClassName = "qty_readonly";
                        inputReadOnly = "readonly";
                    }
                    <input class="@inputClassName" @inputReadOnly id="@Html.Raw("qty_" + cntItem + "_" + @itm.ProductID)" value="@itm.Quantity" onchange="updateCartQty(@cntItem, @itm.ProductID);" />
                    <input type="hidden" id="@Html.Raw("origqty_" + cntItem + "_" + @itm.ProductID)" value="@itm.Quantity" />
                </td>
                <td class="divider"></td>
                <td class="numeric">@String.Format(nfi, "{0:C2}", ExtTotal)</td>
                <td style="text-align:center;">
                    <a class="remove" href="#" onclick="removeFromCart(@cntItem, @itm.ProductID);" title="Remove item">
                        <span style="font-weight:bold;text-align:center;">X</span>
                    </a>
                </td>
            </tr>
        }
        <tr class="cartlist">
            <td colspan="5" class="sub" style="border-top: 1px solid black;">SUBTOTAL</td>
            <td class="divider" style="border-top: 1px solid black;"></td>
            <td id="cartsubtotal" class="numeric subtotal" style="border-top: 1px solid black;">@String.Format(nfi, "{0:C2}", CartTotal)</td>
            <td>&nbsp;</td>
        </tr>
        <tr class="cartlist">
            <td colspan="2" id="calc_ship" style="text-align:right;">&nbsp;</td>
            <td colspan="3" id="tdShipping" class="sub">ESTIMATED SHIPPING</td>
            <td class="divider"></td>
            <td id="shippingamount" class="numeric addon">@Model.ShippingDisplay</td>
            <td>&nbsp;</td>
        </tr>

        @if (Model.shipping.Hazmat != 0m)
        {
            <tr class="cartlist">
                <td colspan="5" class="sub">HAZMAT FEES</td>
                <td class="divider"></td>
                <td id="hazmat" class="numeric addon">@String.Format(nfi, "{0:C2}", Model.shipping.Hazmat)</td>
                <td>&nbsp;</td>
            </tr>
        }

        <tr class="cartlist @hidetaxClass" id="totalbeforetax">
            <td colspan="5" class="sub">TOTAL BEFORE TAX</td>
            <td class="divider"></td>
            <td id="subtotal1" class="numeric subtotal">@String.Format(nfi, "{0:C2}", CartTotal + Model.ShippingAmount + Model.shipping.Hazmat)</td>
            <td>&nbsp;</td>
        </tr>
        <tr class="cartlist @hidetaxClass" id="estimatedtax">
            <td colspan="5" class="sub">ESTIMATED TAX</td>
            <td class="divider"></td>
            <td id="taxamount" class="numeric addon">@Html.Raw(Model.TaxDisplay)</td>
            <td>&nbsp;</td>
        </tr>
@if (Model.AllowedToShip)
{
        <tr class="cartlist">
            <td colspan="5" class="sub">ORDER TOTAL</td>
            <td class="divider"></td>
            <td id="ordertotal" class="numeric subtotal" style="font-weight:bold;font-size: 20px;">@String.Format(nfi, "{0:C2}", CartTotal + Model.ShippingAmount + Model.shipping.Hazmat + Model.TaxAmount)</td>
            <td>&nbsp;</td>
        </tr>
}
        <tr class="cartlist">
            <td colspan="7" style="text-align: right;">
                <a href="#" onclick="hideCart();" class="buttonwide button2">CONTINUE SHOPPING</a>
                &nbsp;&nbsp;&nbsp;&nbsp;
                @if(Model.AllowedToShip) {
                    <a href="#" onclick="doCheckout();" class="button button2">CHECKOUT</a>
                }
            </td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td colspan="8"><hr /></td>
        </tr>
        @if (Model.suggested.Count > 0)
        {
            <tr class="cartlist">
                <td colspan="8" style="padding-left:15px;padding-top:15px;vertical-align: middle;">
                    <div class="header">SUGGESTED PRODUCTS</div>
                </td>
            </tr>
            <tr class="cartlist">
                <td colspan="8" style="padding-left:10px;padding-top:10px;">
                    <div id="suggested">
                        @foreach (CartSuggestedProducts prod in Model.suggested)
                        {
                            <div class="cartprod">
                                <div class="image">
                                    <a href="/Product/Details/@prod.LinkTarget">
                                        <img src="@prod.ImageLocation" alt="Link to @prod.ItemTitle" style="max-width:95px;"/>
                                    </a>
                                </div>
                                <div class="details">
                                    <a href="/Product/Details/@prod.LinkTarget" class="cartprodlink">
                                        <span style="font-weight:bold;">@prod.ItemTitle</span><br />
                                        <span style="font-weight:bold;">@String.Format(nfi, "{0:C2}", prod.Price)</span>
                                    </a>
                                </div>
                            </div>
                        }

                    </div>
                </td>
            </tr>
        }

    </table>
</div>


<div id="calculateshipping">
@if (Model.AllowedToShip)
{
    <div style="padding-bottom:15px;position:relative;">CALCULATE SHIPPING</div>
    <div>
        <div style="float:left;height:35px;padding-top:5px;">
            ZIP CODE
            <input class="zip" type="text" id="zipcode" />
        </div>
        <div id="calcShippingUpdate" style="height:35px;padding-left:5px;float:left;">
            <a href="#" onclick="updateShipping();" class="button button2">UPDATE</a>
        </div>
    </div>
    <div id="calcShippingSpinner" style="position: absolute;left:260px;top:20px;display:none;">
        <img src="~/images/spinner.gif" style="height:50px;width:50px"/>
    </div>
}
else
{
    <div>
        <span style="color:red">We're sorry.  You cannot buy guns and non-guns in the same order.  Please make different orders for them.  We apologize for the inconvenience.</span>
    </div>
}

</div>

<input type="hidden" id="activefield" value="" />
@if (Model.AllowedToShip)
{
<input type="hidden" id="flagAllowedToShip" value="1" />
}

<script type="text/javascript">
    function doCheckout() {
        //check the cart inventory
        var obj = {
            CustomerID: '@Model.CustomerID',
            ZipCode: ''
        }

        $.ajax({
            type: "POST",
            cache: false,
            url: "/api/AJax/CheckCartInventory",
            data: JSON.stringify(obj),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                var OkayToContinue = true;
                switch(data)
                {
                    case "1":
                        //No errors
                        OkayToContinue = true;
                        break;
                    case "0":
                        //General failure
                        OkayToContinue = false;
                        alert("An error occurred while checking your cart inventory.\n\nIf this message persists please contact a System Administrator.")
                        break;
                    case "-1":
                        //quantity was reduced
                        OkayToContinue = false;
                        alert("The quantity of one or more items in your cart was adjusted due to current inventory levels.\n\nPlease review your cart before proceeding with your checkout.")
                        break;
                    case "-2":
                        //price increase
                        alert("The price of one or more items in your cart was increased due to an insufficient quantity of the lower priced item being available.\n\nPlease review your cart before proceeding with your checkout.")
                        OkayToContinue = false;
                        break;
                }

                if (OkayToContinue) {
                    //load the next page
                    myInfoLogin();
                }
                else
                {
                    //reload the shopping cart page
                    $("#shoppingcart").html('');
                    $("#shoppingcart").show();
                    showCart();
                    return false;
                }
            }
        });
        $("#shoppingcart").hide();
    }

    function updateShipping() {
        var zipcode = $("#zipcode").val();
        if (zipcode == "") {
            alert("Please enter a valid 5-digit zip code.")
            return false;
        }
        if (zipcode.length != 5) {
            alert("Please enter a valid 5-digit zip code.")
            return false;
        }

        $("#calcShippingUpdate").hide();
        $("#calcShippingSpinner").show();

        var obj = {
            CustomerID: '@Model.CustomerID',
            ZipCode: zipcode
        }

        $.ajax({
            type: "POST",
            cache: false,
            url: "/api/AJax/GetExactShipping",
            data: JSON.stringify(obj),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                console.log("data: " + data);
                var obj = JSON.parse(data);

                if (obj.ShippingCost == -1) {
                    $("#zipcode").val("");
                    alert("Due to HAZMAT restrictions certain items such as powder and ammunition cannot be shipped to your ZIP code.");
                    $("#calcShippingUpdate").show();
                    $("#calcShippingSpinner").hide();
                    return false;
                }

                $("td#shippingamount").html("&nbsp;");
                $("td#subtotal1").html("&nbsp;");
                $("td#taxamount").html("&nbsp;");
                $("td#ordertotal").html("&nbsp;");

                var cartsubtotal = moneyToNumber($("td#cartsubtotal").html());
                cartsubtotal = floatToIntX100(cartsubtotal);

                var shipping;
                var shippingDisplay;
                if (obj.ShippingCost == null) {
                    shipping = 0;
                    shippingDisplay = "FREE!";
                } else if (obj.ShippingCost.toLowerCase() == 'free') {
                    shipping = 0;
                    shippingDisplay = "FREE!";
                }
                else {
                    shipping = floatToIntX100(obj.ShippingCost);
                    shippingDisplay = formatMoney(obj.ShippingCost);
                }

                $("td#shippingamount").html(shippingDisplay);

                var subtotal1 = (cartsubtotal * 1) + (shipping * 1);
                $("td#subtotal1").html(formatMoney(addDecimal(subtotal1)));

                var tax;
                var taxDisplay;
                if (obj.Tax == null || isNaN(obj.Tax)) {
                    //tax is not a number or null
                    tax = 0;
                }
                else {
                    if ((obj.Tax * 1) == 0) {
                        tax = 0;
                    }
                    else {
                        //tax is a number
                        tax = moneyToNumber(formatMoney(obj.Tax));
                        tax = floatToIntX100(tax);
                    }
                }
                taxDisplay = formatMoney(addDecimal(tax));

                $("td#taxamount").html(taxDisplay);

                var total = (subtotal1 * 1) + (tax * 1);
                $("td#ordertotal").html(formatMoney(addDecimal(total)));
                $("#totalbeforetax").show();
                $("#estimatedtax").show();

                $("#calcShippingUpdate").show();
                $("#calcShippingSpinner").hide();
            }
        });
    }

    function addDecimal(obj) {

        obj = obj + "";
        var objA = obj.substr(0, obj.length - 2);
        var objB = obj.substr(obj.length - 2)
        return objA + "." + objB;
    }

    function floatToIntX100(obj) {
        if (obj.indexOf(".") != -1) {
            obj = obj + "000";
            var loc = obj.indexOf(".") + 3;
            var tmp = obj.substr(0, loc);
            //now get rid of the decimal point
            tmp = tmp.replace(".", "");
        }
        else {
            tmp = obj + "00";
        }
        return tmp;

    }

    function formatMoney(nStr) {
        nStr += '';
        var x = nStr.split('.');
        var x1 = x[0];

        var x2 = x.length > 1 ? '.' + x[1] : '.00';

        if (x.length > 1) {
            //the number has a decimal component
            x2 = x[1] + '00';  //make sure it's at least 2 digits long
            x2 = '.' + x2.substr(0, 2);
        } else {
            //the number does not have a decimal component
            x2 = '.00';
        }

        var rgx = /(\d+)(\d{3})/;
        while (rgx.test(x1)) {
            x1 = x1.replace(rgx, '$1' + ',' + '$2');
        }
        if (x1 == "") {
            x1 = "0";
        }
        return "$" + x1 + x2;
    }

    function moneyToNumber(obj) {
        obj = obj.replace("$", "");
        obj = obj.replace(",", "");
        return obj;
    }

    function removeFromCart(cnt, productid) {
        var qty = 0;
        var price = $("#price_" + cnt + "_" + productid).val();
        callDb(productid, qty, price);
    }

    function updateCartQty(cnt, productid) {
        console.log("updateCartQty");
        var qty = $("#qty_" + cnt + "_" + productid).val();
        $("#activefield").val("qty_" + cnt + "_" + productid);
        var origqty = $("#origqty_" + cnt + "_" + productid).val();
        if (qty < 1) {
            alert("The quantity must be greater than zero.");
            $("#qty_" + cnt + "_" + productid).val(origqty);
            return false;
        }
        var price = $("#price_" + cnt + "_" + productid).val();
        callDb(productid, qty, price);
    }

    function callDb(productid, qty, price) {
        console.log("callDb");
        price = price.replace("$", "");
        price = price.replace(",", "");

        var obj = {
            CustomerID: '@Model.CustomerID',
            ProductID: productid,
            Price: price,
            NewQuantity: qty
        }

        $.ajax({
            type: "POST",
            cache: false,
            url: "/api/AJax/UpdateCart",
            data: JSON.stringify(obj),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: updateCartPostback
        });
        return false;
    }

    function updateCartPostback(data) {
        console.log("updateCartPostback");
        if (data != "0") {
            //successful

            if (data == "-2") {
                alert("Due to inventory levels some products have been shifted to a higher price to fulfill your order.");
            } else if (data == "-1") {
                alert("Due to inventory levels some product quantities have been reduced.");
            }

            $.ajax({
                type: "POST",
                cache: false,
                url: '@Url.Action("Contents", "Cart")',
                success: function (html) {
                    console.log("success");
                    if($("#cartopen").val()=="1") {
                        $("#shoppingcart").html('');
                        $("#shoppingcart").show();
                        $("#pagemask").show();
                        $(html).appendTo('#shoppingcart');
                        var x = $("td#calc_ship").position();
                        var offset = $("td#calc_ship").offset();
                        //console.log("posit.top: " + x.top + " posit.left: " + x.left);
                        //console.log("offset.top: " + offset.top + " offset.left: " + offset.left);
                        $("#calculateshipping").css({ top: x.top + 10, left: x.left + 160 });
                        $("#calculateshipping").css({ top: x.top + 10, left: x.left + 160 });
                    }
                }
            });
            $("#shoppingcart").hide();
        }
        else {
            alert(data);
            //now put the original quantity back
            var activefield = $("#activefield");
            var activefieldid = activefield.val();
            var origqty = $("#orig" + activefieldid).val();
            $("#" + activefieldid).val(origqty);
            activefield.val("");
        }
    }

</script>

<style type="text/css">
    a.contents {
        font-family: Arial, Helvetica, sans-serif;
        color: #00331B;
        font-size: 16px;
    }

    .hidetax {
        display:none;
    }
    a.taxmsg, a.taxmsg.visited, a.taxmsg:active {
        color:#00331b;
        text-decoration:none;
    }

    a.taxmsg:hover {
        color:#00331b;
        text-decoration: underline;
    }

    a.remove {
        cursor: pointer;
        text-decoration: none;
        color: #D7D2B7;
        font-size: 14px;
    }

    hr {
        height: 1px;
        color: #D7D2B7;
        background-color: #D7D2B7;
        border: none;
    }

    a.cartprodlink {
        color: black;
        text-decoration: none;
    }

    .suggested {
        position: relative;
    }

    .cartprod {
        position: relative;
        float: left;
        width: 195px;
        vertical-align: middle;
    }

    div.image {
        position: relative;
        float: left;
        width: 95px;
        margin: 0;
        cursor: pointer;
    }

    div.details {
        position: relative;
        float: left;
        width: 95px;
        text-align: center;
        cursor: pointer;
    }

    .header {
        width: 210px;
        height: 25px;
        background-color: #331709;
        border: none;
        font-size: 16px;
        text-align: center;
        font-weight: bold;
        color: #D7D2B7;
        padding-top: 5px;
    }

    .button {
        background-color: #331709;
        border: none;
        width: 125px;
        color: #D7D2B7;
        alignment-adjust: middle;
        padding: 5px 5px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 14px;
        margin: 4px 2px;
        -webkit-transition-duration: 0.4s;
        transition-duration: 0.4s;
        cursor: pointer;
    }

    .buttonwide {
        background-color: #331709;
        border: none;
        width: 200px;
        color: #D7D2B7;
        alignment-adjust: middle;
        padding: 5px 5px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 14px;
        margin: 4px 2px;
        -webkit-transition-duration: 0.4s;
        transition-duration: 0.4s;
        cursor: pointer;
    }

    .button2 {
        background-color: #331709;
        border: none;
        font-size: 14px;
        text-align: center;
        font-weight: bold;
    }

        .button2:hover {
            color: white;
        }

    div#calculateshipping {
        position: absolute;
        width: 350px;
        height: 65px;
        border: 2px solid #331709;
        z-index: 1000;
        font-family: Arial, Verdana, sans-serif;
        padding: 5px;
    }

    div#cartmain {
        position: relative;
        width: 1000px;
        background-color: white;
        color: black;
        border: solid 3px #331709;
        margin: 5px;
        font-family: Arial, Verdana, sans-serif;
        padding-right: 5px;
        padding-top: 5px;
    }

    input.qty {
        width: 75px;
        background-color: #d7d2b7;
        border: 0px;
        text-align: right;
        padding-right: 4px;
        font-family: Arial, Verdana, sans-serif;
        font-size: 18px;
    }

    input.qty_readonly {
        width: 75px;
        background-color: transparent;
        border: 0px;
        text-align: right;
        padding-right: 4px;
        font-family: Arial, Verdana, sans-serif;
        font-size: 18px;
    }

    input.zip {
        width: 110px;
        background-color: #d7d2b7;
        border: 0px;
        text-align: right;
        padding-right: 4px;
        font-family: Arial, Verdana, sans-serif;
        font-size: 18px;
    }

    td.sub {
        text-align: right;
        padding-right: 5px;
        padding-top: 5px;
    }

    tr.alt td {
        background-color: #f5f5f5;
    }

    tr.cartlist {
        font-family: Arial, Verdana, sans-serif;
        color: black;
    }

        tr.cartlist th {
            vertical-align: bottom;
            border-bottom: 1px solid grey;
        }

        tr.cartlist td {
            vertical-align: middle;
            padding-bottom: 5px;
        }

    td.numeric {
        text-align: right;
        vertical-align: middle;
    }

    td.text {
        padding-left: 4px;
    }

    td.subtotal {
        border-top: solid 1px black;
        padding-top: 5px;
    }

    td.addon {
        padding-top: 5px;
    }

    div#topbar {
        position: relative;
        width: 100%;
        color: #331709;
        text-align: right;
    }

    tr.navbar td.indicator {
        width: 150px;
        text-align: center;
        font-family: Arial, Verdana, sans-serif;
        font-size: 15px;
    }

    tr.navbar td.selected {
        font-family: Arial, Verdana, sans-serif;
        font-size: 15px;
        background-color: #331709;
        color: #d7d2b7;
    }

    tr.navbar td.sep {
        width: 30px;
        text-align: center;
    }

    div.triangle_spacer {
        position: relative;
        float: left;
        width: 10px;
    }

    div.triangle {
        position: relative;
        float: left;
        width: 0px;
        height: 0px;
        border-style: solid;
        border-width: 10px 0px 10px 8px;
        border-color: transparent transparent transparent #331709;
        line-height: 0px;
        _border-color: #000000 #000000 #000000 #331709;
        _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
    }
</style>