﻿@model WholesaleHunter.ViewModels.CartFFLViewModel
@using System.Globalization
@using WholesaleHunter.Classes
@using WholesaleHunter.Models
@{
    ViewBag.Title = "Shopping Cart Contents";
    Layout = "";

    NumberFormatInfo nfi = CultureInfo.CurrentCulture.NumberFormat;
    nfi = (NumberFormatInfo)nfi.Clone();

    NumberFormatInfo nfiNoDecimal = CultureInfo.CurrentCulture.NumberFormat;
    nfiNoDecimal = (NumberFormatInfo)nfiNoDecimal.Clone();
    nfiNoDecimal.CurrencyDecimalDigits = 0;
    nfiNoDecimal.CurrencySymbol = "";

    int cntSliderFFL = 0;
    bool firstFFL = true;
    string divSlider = "";
    string divEnd = "";
    string sliderStyle = "";
    int cntFFLRows = 1;

    //now build the state drop down list
    StatesList sl = new StatesList();
    List<SelectListItem> states = new List<SelectListItem>();
    foreach(StateInfo si in sl.States)
    {
        SelectListItem itm = new SelectListItem { Text = si.StateName.ToUpper(), Value = si.StateAbbreviation.ToUpper() };
        if(si.StateAbbreviation == Model.PrimaryFFL.State)
        {
            itm.Selected = true;
        }
        states.Add(itm);
    }
}

<div id="cartmain">
    <div id="topbar">
        <span onclick="hideCart();">close [X]</span>
    </div>
    <table style="width:100%">
        <tr class="navbar">
            <td class="spacer">&nbsp;</td>
            <td class="indicator" id="indViewCart">VIEW CART</td>
            <td class="sep">
                <div class="triangle_spacer">&nbsp;</div>
                <div class="triangle">&nbsp;</div>
                <div class="triangle_spacer">&nbsp;</div>
            </td>
            <td class="indicator selected" id="indMyInfo">MY INFO</td>
            <td class="sep">
                <div class="triangle_spacer">&nbsp;</div>
                <div class="triangle">&nbsp;</div>
                <div class="triangle_spacer">&nbsp;</div>
            </td>
            <td class="indicator" id="indPayment">PAYMENT</td>
            <td class="sep">
                <div class="triangle_spacer">&nbsp;</div>
                <div class="triangle">&nbsp;</div>
                <div class="triangle_spacer">&nbsp;</div>
            </td>
            <td class="indicator" id="indAlmostThere">ALMOST THERE</td>
            <td class="sep">
                <div class="triangle_spacer">&nbsp;</div>
                <div class="triangle">&nbsp;</div>
                <div class="triangle_spacer">&nbsp;</div>
            </td>
            <td class="indicator" id="indComplete">COMPLETE</td>
            <td class="spacer">&nbsp;</td>
        </tr>
    </table>
    <br /><br />

    <div class="notice">In order to purchase firearms online, we must ship to an FFL dealer. Here is a list of some in your area. Not all FFl dealers accept online orders. If you need help selecting an FFL, skip this step and you will be contacted by a customer service representative.</div>


    <div class="sliderwrapper">
        <span style="padding-left: 40px;">FFL LIST</span>
        <div id="leftArrowFFL"><div class="leftLargeTriangle" onclick="slideFFL('left')" ; style="display:none;">&nbsp;</div></div>
        <div id="rightArrowFFL"><div class="rightLargeTriangle" onclick="slideFFL('right');">&nbsp;</div></div>
        @foreach(CartFFL ffl in Model.listFFL) {
            System.Diagnostics.Debug.WriteLine(ffl.FFLName);
            if ((cntSliderFFL % 4 == 0) || firstFFL)
            {
                if (firstFFL)
                {
                    sliderStyle = "display: block;";
                    firstFFL = false;
                    divEnd = "";
                }
                else
                {
                    sliderStyle = "display: none;";
                    divEnd = "</div>";
                }
                divSlider = "<div class=\"slider\" id=\"fflslider_" + @cntFFLRows++ + "\" style=\"" + @sliderStyle + "\">";
            }
            else
            {
                divSlider = "";
                divEnd = "";
            }

            @Html.Raw(divEnd);
            @Html.Raw(divSlider);

            <div class="ffl">
                <span style="padding-top:10px;font-weight:bold;font-size:larger;">@ffl.FFLName</span><br />
                <span style="font-weight:bold;font-size:larger;">@ffl.DistanceTitle</span><br />
                @ffl.Address1<br />
                @ffl.City, @ffl.State&nbsp;@ffl.ZIPCode<br />
                @ffl.Phone<br />
                <div class="fflDivSelect">
                    <a href="#" onclick="selectFFL(@ffl.FFLID)" class="fflButton">SELECT</a>
                </div>
            </div>

            cntSliderFFL++;
        }
        <br />
    </div> <!-- this closes the last divSlider-->
</div> <!-- this closes div sliderwrapper -->

<table class="cart_userinfo_table">
    <tr>
        <td class="prompt">
            <span id="span_FFLName" class="prompt">FFL Name</span>
        </td>
        <td colspan="3">
            <input type="text" class="cart_userinfo_input" id="cart_FFLName"
                   value="@Model.PrimaryFFL.FFLName"
                   placeholder="FFL Name" />
        </td>
    </tr>
    <tr>
        <td class="prompt">
            <span id="span_ContactName" class="prompt">Contact Name</span>
        </td>
        <td colspan="3">
            <input type="text" class="cart_userinfo_input" id="cart_ContactName"
                   value="@Model.PrimaryFFL.ContactName"
                   placeholder="Contact Name" />
        </td>
    </tr>
    <tr>
        <td class="prompt">
            <span id="span_Email" class="prompt">Email</span>
        </td>
        <td colspan="3">
            <input type="text" class="cart_userinfo_input" id="cart_Email"
                   value="@Model.PrimaryFFL.Email"
                   placeholder="Email Address" />
        </td>
    </tr>
    <tr>
        <td class="prompt">
            <span id="span_Phone" class="prompt">Phone</span>
        </td>
        <td colspan="3">
            <input type="text" class="cart_userinfo_input" id="cart_Phone"
                   value="@Model.PrimaryFFL.Phone"
                   placeholder="Phone" onblur="formatPhone('cart_Phone');" />
        </td>
    </tr>
    <tr>
        <td class="prompt">
            <span id="span_Address1" class="prompt">Address Line 1</span>
        </td>
        <td colspan="3">
            <input type="text" class="cart_userinfo_input" id="cart_Address1"
                   value="@Model.PrimaryFFL.Address1"
                   placeholder="Address Line 1" />
        </td>
    </tr>
    <tr>
        <td class="prompt">
            <span id="span_Address2" class="prompt">Address Line 2</span>
        </td>
        <td colspan="3">
            <input type="text" class="cart_userinfo_input" id="cart_Address2"
                   placeholder="Address Line 2" />
        </td>
    </tr>
    <tr>
        <td class="prompt">
            <span id="span_City" class="prompt">City</span>
        </td>
        <td colspan="3">
            <input type="text" class="cart_userinfo_input" id="cart_City"
                   value="@Model.PrimaryFFL.City"
                   placeholder="City" />
        </td>
    </tr>
    <tr>
        <td class="prompt" width="200">
            <span id="span_State" class="prompt">State</span>
        </td>
        <td width="300">
            <div id=”mainselection”>
                @Html.DropDownList("cart_Staate",
                    states,
                    "Select State",
                    new { id = "cart_State", @class = "select", size="1", style = "width:250px;" })
            </div>

        </td>
        <td width="100" align="center">
            <span id="span_ZIPCode" class="prompt">Zip Code</span>
        </td>
        <td width="300">
            <input type="text" class="cart_userinfo_input" style="width: 200px;" id="cart_ZIPCode"
                   value="@Model.PrimaryFFL.ZIPCode"
                   placeholder="ZIP Code" />
            <input type="hidden" id="cart_FFLNumber" value="@Model.PrimaryFFL.FFLNumber" />
        </td>
    </tr>
</table>
<table class="cart_userinfo_table">
    <tr>
        <td style="width:300px;text-align: center">
            <a href="#" class="button button2" onclick="myInfo();">BACK</a>
        </td>
        <td style="width:300px;text-align: center">
            &nbsp;
        </td>
        <td style="width:100px;text-align: center">
            <a href="#" class="button button2" onclick="goPaymentWithoutFFL();">SKIP</a>
        </td>
        <td style="width:100px;text-align: center">
            <a href="#" class="button button2" onclick="goPaymentWithFFL();">NEXT</a>
        </td>
    </tr>
</table>
<input type="hidden" id="cart_FFLID" value="" />
<input type="hidden" id="jsonFFL" value="@Model.JSONFFL" />
<input type="hidden" id="cntSliderFFL" value="@cntSliderFFL" />
<input type="hidden" id="cntFFLRows" value="@cntFFLRows" />
<input type="hidden" id="sliderShown" value="1" />
<input type="hidden" id="sliderMax" value="@(cntFFLRows - 1)" />
<input type="hidden" id="AnimationInProgress" value="" />
</div>

<script type="text/javascript">
    function slideFFL(direction) {
        if ($("#AnimationInProgress").val() != '') {
            return false;
        }
        $("#AnimationInProgress").val('1');
        var objSliderShown = $("#sliderShown");
        var objSliderMax = $("#sliderMax");
        var valSliderShown = objSliderShown.val();
        var valNextSlider;
        var valSliderMax = objSliderMax.val();
        var directionHide;
        var directionShow;

        if (direction == 'right') {
            if (valSliderShown >= valSliderMax) {
                return false;
            }
            valNextSlider = (valSliderShown * 1) + 1;
            directionHide = 'left';
            directionShow = 'right';
        }
        else {
            if (valSliderShown == '1') {
                return false;
            }
            valNextSlider = (valSliderShown * 1) - 1;
            directionHide = 'right';
            directionShow = 'left';
        }

        //alert("valSliderShown: " + valSliderShown + "\nvalNextSlider: " + valNextSlider);

        var sliderA = $("#fflslider_" + valSliderShown);
        var sliderB = $("#fflslider_" + valNextSlider);

        sliderA.toggle('slide', { direction: directionHide }, 1000, function () { clearAnimationInProgress() });
        sliderB.toggle('slide', { direction: directionShow }, 1000);
        objSliderShown.val(valNextSlider);

        if (valNextSlider >= valSliderMax) {
            $("div.rightLargeTriangle").hide();
            $("div.leftLargeTriangle").show();
        } else if (valNextSlider <= 1) {
            $("div.rightLargeTriangle").show();
            $("div.leftLargeTriangle").hide();
        } else {
            $("div.rightLargeTriangle").show();
            $("div.leftLargeTriangle").show();
        }
    }

    function clearAnimationInProgress() {
        $("#AnimationInProgress").val('');
    }

    function selectFFL(id) {
        var objFFL = $.parseJSON($("#jsonFFL").val());
        $.each(objFFL, function (index, ffl) {
            if (ffl.FFLID == id) {
                $("#cart_FFLID").val(ffl.FFLID);
                $("#cart_FFLName").val(ffl.FFLName);
                $("#cart_ContactName").val(ffl.ContactName);
                $("#cart_Email").val(ffl.Email);
                $("#cart_Phone").val(ffl.Phone);
                $("#cart_Address1").val(ffl.Address1);
                $("#cart_Address2").val("");
                $("#cart_City").val(ffl.City);
                $("#cart_ZIPCode").val(ffl.ZIPCode);
                $("#cart_FFLNumber").val(ffl.FFLNumber);

                //now select the state
                var selState = document.getElementById("cart_State");
                var opts = selState.options;
                for (var cnt = 0; cnt < opts.length; cnt++) {
                    if (opts[cnt].value == ffl.State) {
                        selState.selectedIndex = cnt;
                        break;
                    }
                }
                return false; //exits the jQuery .each function/loop
            }
        });
    }
</script>

<style type="text/css">
    div.fflDivSelect {
        position: absolute;
        bottom: 0;
        width: 100%;
        text-align: center;
        height: 30px;
        padding-bottom: 5px;
    }

    a.fflButton {
        color: #D7D2B7;
        font-weight: bold;
        font-size: larger;
        background-color: #00331B;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 10px;
        padding-right: 10px;
        line-height: 30px;
    }

        a.fflButton:hover {
            color: white;
            font-weight: bold;
            font-size: larger;
            background-color: #00331B;
        }

    div.sliderwrapper {
        position: relative;
        width: 950px;
        height: 275px;
    }

    div#leftArrowFFL {
        position: absolute;
        top: 0px;
        width: 25px;
        height: 150px;
        left: 0px;
        background-color: transparent;
        padding-top: 125px;
    }

    div#rightArrowFFL {
        position: absolute;
        width: 25px;
        top: 0px;
        width: 25px;
        height: 150px;
        left: 975px;
        background-color: transparent;
        vertical-align: middle;
        padding-top: 125px;
    }

    div.slider {
        position: absolute;
        left: 25px;
        width: 950px;
    }

    div.ffl {
        position: relative;
        float: left;
        width: 215px;
        height: 215px;
        border: 1px solid silver;
        background-color: #D7D2B7;
        text-align: center;
        white-space: normal;
        margin-left: 15px;
        padding-top: 15px;
        line-height: 25px;
    }

    div.notice {
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-left: 5%;
        margin-right: 10%;
        margin-bottom: 15px;
        width: 80%;
        text-align: center;
        border: 1px solid #331709;
    }

    table.cart_userinfo_table {
        padding-left: 40px;
        width: 950px;
    }

        table.cart_userinfo_table tr td {
            padding: 5px;
            color: #00331B;
        }

            table.cart_userinfo_table tr td.prompt {
                width: 125px;
                color: #00331B;
            }

    .prompt {
        color: black;
    }

    .prompterror {
        color: red;
    }

    .cart_userinfo_input {
        padding: 4px 10px;
        font-size: 15px;
        border: 1px solid silver;
        background-color: #D7D2B7;
        width: 700px;
        outline: 0;
    }

        .cart_userinfo_input:hover {
            border-color: #00331B;
        }

    .inputerror {
        border-color: Red;
    }

    .selecterror {
        padding: 4px 10px;
        font-size: 15px;
        border: 1px solid red;
        background-color: #D7D2B7;
        width: 700px;
        outline: 0;
    }

    .select {
        padding: 4px 10px;
        font-size: 15px;
        border: 1px solid silver;
        background-color: #D7D2B7;
        width: 700px;
        outline: 0;
    }

        .select:hover {
            border-color: #00331B;
        }

    .button {
        background-color: #331709;
        border: none;
        width: 125px;
        color: white;
        alignment-adjust: middle;
        padding: 5px 5px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 14px;
        margin: 4px 2px;
        -webkit-transition-duration: 0.4s;
        transition-duration: 0.4s;
        cursor: pointer;
    }

    .button1 {
        background-color: white;
        border: none;
        font-size: 14px;
        text-align: center;
        color: #331709;
    }

        .button1:hover {
            background-color: #331709;
            border: none;
            font-size: 14px;
            text-align: center;
            color: white;
        }

    .button2 {
        background-color: #331709;
        border: none;
        font-size: 14px;
        text-align: center;
    }

    .button3 {
        background-color: #FFF;
        border: none;
        font-size: 20px;
        width: 25px;
        text-align: center;
    }

    .button4 {
        background-color: #331709;
        border: none;
        font-size: 14px;
        width: 175px;
        text-align: center;
    }

    div#cartmain {
        position: relative;
        width: 1000px;
        background-color: white;
        color: black;
        border: solid 3px #331709;
        margin: 5px;
        font-family: Arial, Verdana, sans-serif;
        padding-right: 5px;
        padding-top: 5px;
    }

    div#topbar {
        position: relative;
        width: 100%;
        color: #331709;
        text-align: right;
    }

    tr.navbar td.indicator {
        width: 150px;
        text-align: center;
        font-family: Arial, Verdana, sans-serif;
        font-size: 15px;
    }

    tr.navbar td.selected {
        font-family: Arial, Verdana, sans-serif;
        font-size: 15px;
        background-color: #331709;
        color: #d7d2b7;
    }

    tr.navbar td.sep {
        width: 30px;
        text-align: center;
    }

    div.triangle_spacer {
        position: relative;
        float: left;
        width: 10px;
    }

    div.rightLargeTriangle {
        position: relative;
        float: left;
        width: 0px;
        height: 0px;
        border-style: solid;
        border-width: 20px 0px 20px 16px;
        border-color: transparent transparent transparent #331709;
        line-height: 0px;
        _border-color: #000000 #000000 #000000 #331709;
        _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
    }

    div.leftLargeTriangle {
        position: relative;
        float: right;
        width: 0px;
        height: 0px;
        border-style: solid;
        border-width: 20px 16px 20px 0px;
        border-color: transparent #331709 transparent transparent;
        line-height: 0px;
        _border-color: #000000 #000000 #000000 #331709;
        _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
    }

        div.leftLargeTriangle:hover {
            border-color: transparent #D7D2B7 transparent transparent;
            _border-color: #000000 #000000 #000000 #D7D2B7;
            _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
        }

    div.rightLargeTriangle:hover {
        border-color: transparent transparent transparent #D7D2B7;
        _border-color: #000000 #000000 #000000 #D7D2B7;
        _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
    }

    div.triangle {
        position: relative;
        float: left;
        width: 0px;
        height: 0px;
        border-style: solid;
        border-width: 10px 0px 10px 8px;
        border-color: transparent transparent transparent #331709;
        line-height: 0px;
        _border-color: #000000 #000000 #000000 #331709;
        _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
    }
</style>

@Styles.Render("~/Content/css")
