﻿@model WholesaleHunter.ViewModels.MyInfoViewModel
@using System.Globalization
@using WholesaleHunter.Classes
@using WholesaleHunter.Models
@{
    ViewBag.Title = "Shopping Cart User Information";
    Layout = "";

    NumberFormatInfo nfi = CultureInfo.CurrentCulture.NumberFormat;
    nfi = (NumberFormatInfo)nfi.Clone();

    NumberFormatInfo nfiNoDecimal = CultureInfo.CurrentCulture.NumberFormat;
    nfiNoDecimal = (NumberFormatInfo)nfiNoDecimal.Clone();
    nfiNoDecimal.CurrencyDecimalDigits = 0;
    nfiNoDecimal.CurrencySymbol = "";

    List<SelectListItem> listAddresses = new List<SelectListItem>();
    foreach(CartMyAddress address in Model.Addresses)
    {
        SelectListItem itm = new SelectListItem { Text = address.AddressName, Value = address.AddressName };
        if(address.IsPrimary==1)
        {
            itm.Selected = true;
        }
        listAddresses.Add(itm);
    }
}

<div id="cartmain">
    <div id="topbar">
        <span onclick="hideCart();">close [X]</span>
    </div>
    <table style="width:100%">
        <tr class="navbar">
            <td class="spacer">&nbsp;</td>
            <td class="indicator" id="indViewCart">VIEW CART</td>
            <td class="sep">
                <div class="triangle_spacer">&nbsp;</div>
                <div class="triangle">&nbsp;</div>
                <div class="triangle_spacer">&nbsp;</div>
            </td>
            <td class="indicator selected" id="indMyInfo">MY INFO</td>
            <td class="sep">
                <div class="triangle_spacer">&nbsp;</div>
                <div class="triangle">&nbsp;</div>
                <div class="triangle_spacer">&nbsp;</div>
            </td>
            <td class="indicator" id="indPayment">PAYMENT</td>
            <td class="sep">
                <div class="triangle_spacer">&nbsp;</div>
                <div class="triangle">&nbsp;</div>
                <div class="triangle_spacer">&nbsp;</div>
            </td>
            <td class="indicator" id="indAlmostThere">ALMOST THERE</td>
            <td class="sep">
                <div class="triangle_spacer">&nbsp;</div>
                <div class="triangle">&nbsp;</div>
                <div class="triangle_spacer">&nbsp;</div>
            </td>
            <td class="indicator" id="indComplete">COMPLETE</td>
            <td class="spacer">&nbsp;</td>
        </tr>
    </table>
    <br />
    <br />
    <table class="cart_userinfo_table">
        <tr>
            <td colspan="2">
                <span style="color: #00331B;font-weight:bold;font-size:24px;">SHIPPING ADDRESS</span>
            </td>
        </tr>
        <tr>
            <td class="prompt">
                <span id="span_FirstName" class="prompt">First Name</span>
            </td>
            <td colspan="3">
                <input type="text" class="cart_userinfo_input" id="FirstName"
                       placeholder="First Name" value="@Model.MyInfo.FirstName" />
            </td>
        </tr>
        <tr>
            <td class="prompt">
                <span id="span_LastName" class="prompt">Last Name</span>
            </td>
            <td colspan="3">
                <input type="text" class="cart_userinfo_input" id="LastName"
                       placeholder="Last Name" value="@Model.MyInfo.LastName" />
            </td>
        </tr>
        <tr>
            <td class="prompt">
                <span id="span_Email" class="prompt">Email</span>
            </td>
            <td colspan="3">
                <input type="text" class="cart_userinfo_input" id="Email"
                       placeholder="Email Address" value="@Model.MyInfo.Email" />
            </td>
        </tr>
        <tr>
            <td class="prompt">
                <span id="span_VerifyEmail" class="prompt">Verify Email</span>
            </td>
            <td colspan="3">
                <input type="text" class="cart_userinfo_input" id="VerifyEmail"
                       placeholder="Verify Email Address" value="@Model.MyInfo.Email" />
            </td>
        </tr>
        <tr>
            <td class="prompt">
                <span id="span_Phone" class="prompt">Phone</span>
            </td>
            <td colspan="3">
                <input type="text" class="cart_userinfo_input" id="Phone"
                       placeholder="Phone" value="@Model.MyInfo.Phone" onblur="formatPhone('cart_Phone');" />
            </td>
        </tr>
        @if (Model.IsRegistered=="true")
        {
            <tr>
                <td>&nbsp;</td>
                <td colspan="3">
                    @Html.DropDownList("cart_SelectAddress",
                        listAddresses,
                        null,
                        new {id= "cart_SelectAddress", @class="select", style="width:250px;", onchange="cartSelectAddress()"})
                </td>
            </tr>
        }
        <tr>
            <td class="prompt">
                <span id="span_Address1" class="prompt">Address Line 1</span>
            </td>
            <td colspan="3">
                <input type="text" class="cart_userinfo_input" id="Address1"
                       placeholder="Address Line 1" value="@Model.MyInfo.Address1" />
            </td>
        </tr>
        <tr>
            <td class="prompt">
                <span id="span_Address2" class="prompt">Address Line 2</span>
            </td>
            <td colspan="3">
                <input type="text" class="cart_userinfo_input" id="Address2"
                       placeholder="Address Line 2" value="@Model.MyInfo.Address2" />
            </td>
        </tr>
        <tr>
            <td class="prompt">
                <span id="span_City" class="prompt">City</span>
            </td>
            <td colspan="3">
                <input type="text" class="cart_userinfo_input" id="City"
                       placeholder="City" value="@Model.MyInfo.City" />
            </td>
        </tr>
        <tr>
            <td class="prompt">
                <span id="span_State" class="prompt">State</span>
            </td>
            <td width="300">
                <div id=”mainselection”>
                    <select size="1" id="State" class="select" style="width:250px;">
                        <option selected value="0">Choose Your State</option>
                        <option value="AL">Alabama</option>
                        <option value="AK">Alaska</option>
                        <option value="AZ">Arizona</option>
                        <option value="AR">Arkansas</option>
                        <option value="CA">California</option>
                        <option value="CO">Colorado</option>
                        <option value="CT">Connecticut</option>
                        <option value="DE">Delaware</option>
                        <option value="DC">District Of Columbia</option>
                        <option value="FL">Florida</option>
                        <option value="GA">Georgia</option>
                        <option value="HI">Hawaii</option>
                        <option value="ID">Idaho</option>
                        <option value="IL">Illinois</option>
                        <option value="IN">Indiana</option>
                        <option value="IA">Iowa</option>
                        <option value="KS">Kansas</option>
                        <option value="KY">Kentucky</option>
                        <option value="LA">Louisiana</option>
                        <option value="ME">Maine</option>
                        <option value="MD">Maryland</option>
                        <option value="MA">Massachusetts</option>
                        <option value="MI">Michigan</option>
                        <option value="MN">Minnesota</option>
                        <option value="MS">Mississippi</option>
                        <option value="MO">Missouri</option>
                        <option value="MT">Montana</option>
                        <option value="NE">Nebraska</option>
                        <option value="NV">Nevada</option>
                        <option value="NH">New Hampshire</option>
                        <option value="NJ">New Jersey</option>
                        <option value="NM">New Mexico</option>
                        <option value="NY">New York</option>
                        <option value="NC">North Carolina</option>
                        <option value="ND">North Dakota</option>
                        <option value="OH">Ohio</option>
                        <option value="OK">Oklahoma</option>
                        <option value="OR">Oregon</option>
                        <option value="PA">Pennsylvania</option>
                        <option value="RI">Rhode Island</option>
                        <option value="SC">South Carolina</option>
                        <option value="SD">South Dakota</option>
                        <option value="TN">Tennessee</option>
                        <option value="TX">Texas</option>
                        <option value="UT">Utah</option>
                        <option value="VT">Vermont</option>
                        <option value="VA">Virginia</option>
                        <option value="WA">Washington</option>
                        <option value="WV">West Virginia</option>
                        <option value="WI">Wisconsin</option>
                        <option value="WY">Wyoming</option>
                    </select>
                </div>

            </td>
            <td width="100" align="center">
                <span id="span_ZIPCode" class="prompt">Zip Code</span>
            </td>
            <td width="375">
                <input type="text" class="cart_userinfo_input" style="width: 200px;" id="Zip"
                       placeholder="ZIP Code" value="@Model.MyInfo.ZIPCode" />
            </td>
        </tr>
        @if (Model.IsNewUser=="true")
        {
            <tr>
                <td colspan="4">OPTIONAL: WOULD YOU LIKE TO CREATE AN ACCOUNT?</td>
            </tr>
            <tr>
                <td class="prompt">
                    <span id="span_Password" class="prompt">Password</span>
                </td>
                <td colspan="3">
                    <input type="password" class="cart_userinfo_input" id="Password" placeholder="Password" />
                </td>
            </tr>
            <tr>
                <td class="prompt">
                    <span id="span_VerifyPassword" class="prompt">Verify Password</span>
                </td>
                <td colspan="3">
                    <input type="password" class="cart_userinfo_input" id="VerifyPassword" placeholder="Verify Password" />
                </td>
            </tr>
        }

        <tr>
            <td colspan="4">
                <table style="width:100%;" cellpadding="0" cellspacing="0">
                    <tr>
                        <td align="center">
                            <a href="#" class="button button2" onclick="showCart();">BACK</a>
                        </td>
                        <td align="center">
                            <a href="#" class="button button2" onclick="goNext();">
                                NEXT
                            </a>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <input type="hidden" id="FFLRequired" value="@Model.FFLRequired" />
    <input type="hidden" id="IsRegistered" value="@Model.IsRegistered" />
    <input type="hidden" id="IsGuest" value="@Model.IsGuest" />
    <input type="hidden" id="IsNewUser" value="@Model.IsNewUser" />
    <input type="hidden" id="JsonAddresses" value="@Model.JSONAddresses" />
    <input type="hidden" id="ModelState" value="@Model.MyInfo.State" />
</div>


<style type="text/css">
    table.cart_userinfo_table {
        padding-left: 40px;
        width: 950px;
    }

        table.cart_userinfo_table tr td {
            padding: 5px;
            color: #00331B;
        }

            table.cart_userinfo_table tr td.prompt {
                width: 150px;
                color: #00331B;
            }

    .prompt {
        color: black;
    }

    .prompterror {
        color: red;
    }

    .cart_userinfo_input {
        padding: 4px 10px;
        font-size: 15px;
        border: 1px solid silver;
        background-color: #D7D2B7;
        width: 700px;
        outline: 0;
    }

        .cart_userinfo_input:hover {
            border-color: #00331B;
        }

    .inputerror {
        border-color: Red;
    }

    .selecterror {
        padding: 4px 10px;
        font-size: 15px;
        border: 1px solid red;
        background-color: #D7D2B7;
        width: 700px;
        outline: 0;
    }

    .select {
        padding: 4px 10px;
        font-size: 15px;
        border: 1px solid silver;
        background-color: #D7D2B7;
        width: 700px;
        outline: 0;
    }

        .select:hover {
            border-color: #00331B;
        }

    .button {
        background-color: #331709;
        border: none;
        width: 125px;
        color: white;
        alignment-adjust: middle;
        padding: 5px 5px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 14px;
        margin: 4px 2px;
        -webkit-transition-duration: 0.4s;
        transition-duration: 0.4s;
        cursor: pointer;
    }

    .button1 {
        background-color: white;
        border: none;
        font-size: 14px;
        text-align: center;
        color: #331709;
    }

        .button1:hover {
            background-color: #331709;
            border: none;
            font-size: 14px;
            text-align: center;
            color: white;
        }

    .button2 {
        background-color: #331709;
        border: none;
        font-size: 14px;
        text-align: center;
    }

    .button3 {
        background-color: #FFF;
        border: none;
        font-size: 20px;
        width: 25px;
        text-align: center;
    }

    .button4 {
        background-color: #331709;
        border: none;
        font-size: 14px;
        width: 175px;
        text-align: center;
    }

    div#cartmain {
        position: relative;
        width: 1000px;
        background-color: white;
        color: black;
        border: solid 3px #331709;
        margin: 5px;
        font-family: Arial, Verdana, sans-serif;
        padding-right: 5px;
        padding-top: 5px;
    }

    div#topbar {
        position: relative;
        width: 100%;
        color: #331709;
        text-align: right;
    }

    tr.navbar td.indicator {
        width: 150px;
        text-align: center;
        font-family: Arial, Verdana, sans-serif;
        font-size: 15px;
    }

    tr.navbar td.selected {
        font-family: Arial, Verdana, sans-serif;
        font-size: 15px;
        background-color: #331709;
        color: #d7d2b7;
    }

    tr.navbar td.sep {
        width: 30px;
        text-align: center;
    }

    div.triangle_spacer {
        position: relative;
        float: left;
        width: 10px;
    }

    div.triangle {
        position: relative;
        float: left;
        width: 0px;
        height: 0px;
        border-style: solid;
        border-width: 10px 0px 10px 8px;
        border-color: transparent transparent transparent #331709;
        line-height: 0px;
        _border-color: #000000 #000000 #000000 #331709;
        _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
    }
</style>
@Styles.Render("~/Content/css")