﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://ogp.me/ns/fb#">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name=viewport content="width=device-width, initial-scale=.26" />
    <meta name="Description" content="@ViewBag.Description" />
    <meta name="Keywords" content="@ViewBag.Keywords" />
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <meta property="og:image" content="@Model.OG_Image" />
    <meta property="og:image" content="https://www.wholesalehunter.com/images/wholesalehunter.jpg" />
    <meta property="og:title" content="@Model.OG_Title" />
    <meta property="og:url" content="@Model.OG_Url" />
    <meta property="og:description" content="@Model.OG_Description" />
    <meta property="og:site_name" content="Wholesale Hunter Website" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/style2.css" rel="stylesheet" />
    <link href="~/Content/vertatab.css" rel="stylesheet" />
    <link href="~/Content/HugoStyles.css" rel="stylesheet" />
    
    <script>
            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
            })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
            ga('create', 'UA-1722810-34', 'auto');
            ga('send', 'pageview');


    </script>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jscroll")
    @Scripts.Render("~/bundles/searchpage")
    @Styles.Render("~/Content/searchpage")
    @Scripts.Render("~/bundles/wholesalehunter")
    @Scripts.Render("~/bundles/jscookie")
    <style>
        body {
            background-color: #fff;
            color: #000;
            padding: 0;
            margin: 0;
        }

        .container {
            width: 900px;
            margin: auto;
            padding-top: 1em;
        }

            .container .ism-slider {
                margin-left: auto;
                margin-right: auto;
            }

        a.login {
            font-size: 18px;
            font-weight: bold;
            text-decoration: none;
            color: #fff;
        }

            a.login:hover {
                color: #D7D2B7;
            }

        div#pagemask {
            position: fixed;
            overflow: auto;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 150;
            background: rgba(0,0,0,0.8);
            display: none;
        }

        div#pagemaskspinner {
            position:relative;
            width:100px;
            height:100px;
            margin: 0 auto;
            top: 200px;
        }

        div
        /* below styles are for login dialog*/
        .button {
            background-color: #331709;
            border: none;
            width: 125px;
            color: #D7D2B7;
            alignment-adjust: middle;
            padding: 5px 5px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 14px;
            margin: 4px 2px;
            -webkit-transition-duration: 0.4s;
            transition-duration: 0.4s;
            cursor: pointer;
        }

        .button1 {
            background-color: #331709;
            border: none;
            font-size: 14px;
            text-align: center;
            width: 275px;
            font-weight: bold;
        }

            .button1:hover {
                background-color: #331709;
                border: none;
                font-size: 14px;
                text-align: center;
                color: white;
            }

        .button2 {
            background-color: #331709;
            border: none;
            font-size: 14px;
            text-align: center;
            font-weight: bold;
        }

        .button3 {
            background-color: #FFF;
            border: none;
            font-size: 20px;
            width: 25px;
            text-align: center;
        }

        .triangle {
            width: 0px;
            height: 0px;
            border-style: solid;
            border-width: 10px 0px 10px 8px;
            border-color: transparent transparent transparent #331709;
            line-height: 0px;
            _border-color: #000000 #000000 #000000 #331709;
            _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
        }


        body, td, th {
            font-family: Arial, Helvetica, sans-serif;
            color: #00331B;
        }

        a {
            font-size: 14px;
            color: #d7d2b7;
        }

            a:link {
                text-decoration: none;
            }

            a:visited {
                text-decoration: none;
            }

            a:hover {
                text-decoration: none;
                color: #FFF;
            }

            a:active {
                text-decoration: none;
                color: #FFF;
            }

        div#login, div#createaccount {
            position: absolute;
            z-index: 200;
        }

        table#createAccountTable {
            border-spacing: 0;
            background-color: #fff;
            padding: 5px 40px;
            margin: auto;
            border-radius: 4px;
        }

            table#createAccountTable tr td {
                padding: 5px;
                color: #00331B;
            }

        input.loginField {
            padding: 4px 10px;
            font-size: 15px;
            border: 1px solid silver;
            background-color: #D7D2B7;
            width: 100%;
            outline: 0;
        }

        input.loginFieldInvalid {
            border: 2px solid #ff0000;
            color: #ff0000;
        }

        span.loginPrompt {
            font-family: Arial, Helvetica, sans-serif;
            padding: 5px;
            color: #00331B;
        }

        span.loginPromptInvalid {
            color: #ff0000;
        }

        .login_table tr td input[type="text"]:focus, .login_table tr td input[type="password"]:focus {
            border-color: #00331B;
        }

        div#shoppingcart {
            position: absolute;
            z-index: 200;
            background-color: white;
            color: black;
        }

        div#myaccountdialog {
            position: absolute;
            z-index: 200;
            background-color: white;
            color: black;
        }

        div#timerlogoutdialog {
            position: absolute;
            z-index: 200;
            background-color: white;
            color: black;
        }

        div#timerlogoutdialogcontents {
            position: relative;
            width: 600px;
            background-color: white;
            color: black;
            border: solid 3px #331709;
            margin: 5px;
            font-family: Arial, Verdana, sans-serif;
            padding-right: 5px;
            padding-top: 5px;
            text-align: center;
        }

        div#dialog {
            background-image: url("../../images/cart.jpg");
            background-repeat: no-repeat;
            background-position: left center;
            position: absolute;
            z-index: 200;
            background-color: white;
            color: #331709;
            text-align: center;
            vertical-align: middle;
            font-weight: bold;
            font-size: larger;
            width: 400px !important;
            height: 100px !important;
            padding-top: 40px;
            padding-left: 135px;
            background-color: #d7d2b7;
            min-height: unset !important;
        }

        .no-close .ui-dialog-titlebar-close {
            display: none;
        }

        .ui-button:focus {
            outline: none !important;
        }

        .ui-dialog-titlebar {
            display: none !important;
            outline: none !important;
        }

        .arrow {
            line-height: 34px;
            position: relative;
            float: left;
            left:15px;
            cursor: pointer;
            user-select: none;
            background-color: #00331B;
            width: 200px;
            color:white;
            font-weight: bold;
            text-align: center;
        }

            .arrow:before {
                border-width: 17px 0px 17px 17px;
                content: '';
                position: absolute;
                height: 0px;
                width: 0px;
                border-style: solid;
                border-color: #00331B transparent;
                right: 200px;
            }

            .arrow:after {
                border-width: 17px 0px 17px 17px;
                content: '';
                position: absolute;
                height: 00px;
                width: 00px;
                border-style: solid;
                border-color: transparent transparent transparent #00331B;;
                right: -17px;
            }

        .arrow_small {
            line-height: 24px;
            position: relative;
            float: left;
            cursor: pointer;
            user-select: none;
            background-color: #00331B;
            width: 160px;
            color:white;
            font-weight: bold;
            text-align: center;
        }

            .arrow_small:before {
                border-width: 12px 0px 12px 12px;
                content: '';
                position: absolute;
                height: 0px;
                width: 0px;
                border-style: solid;
                border-color: #00331B transparent;
                right: 160px;
            }

            .arrow_small:after {
                border-width: 12px 0px 12px 12px;
                content: '';
                position: absolute;
                height: 00px;
                width: 00px;
                border-style: solid;
                border-color: transparent transparent transparent #00331B;
                right: -12px;
            }

        a.big_green, a.big_green:active
        {
            font-weight:normal;
        }

        .divCheckout {
            position:absolute;
            top:95px;
            left:125px;
            width:125px;
            text-align:center;
            background-color:#d7d2b7;
            display: block;
        }

        .divCheckout_hidden {
            position:absolute;
            top:95px;
            left:125px;
            width:125px;
            text-align:center;
            background-color:#d7d2b7;
            display: none;
        }
    </style>

</head>

<body >
    <div id="pagemask">
        <div id="pagemaskspinner" >
            <img src="~/images/spinner.gif" style="width:100px;height:100px;" alt="Spinner graphics to show loading progress."/>
        </div>
    </div>
    <table width="1440" bgcolor="#ffffff" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
            <td width="1440">
                <table width="1440" border="0" align="center" cellpadding="0" cellspacing="0">
                    <tr>
                        <td width="373" rowspan="2">
                            <a href="/Home">
                                <img src="/images/wholesalehunter_logo.jpg" alt="Wholesale Hunter logo and link to home page" width="373" height="125" border="0" />
                            </a>
                        </td>
                        <td rowspan="2">
                            <table width="100%" height="42" border="0" cellpadding="0" cellspacing="3">
                                <tr>
                                    <td bgcolor="#00331B" width="25%"
                                        style="font-family: Verdana, Geneva, sans-serif; font-size: 24px; text-align: center; color: #D7D2B7;">
                                        <a class="big_green" href="/Home/About">ABOUT</a>
                                    </td>
                                    <td height="47" bgcolor="#00331B" width="25%"
                                        style="font-family: Verdana, Geneva, sans-serif; font-size: 24px; text-align: center; color: #D7D2B7;">
                                        <a class="big_green" href="/Home/Contact">CONTACT</a>
                                    </td>
                                    <td height="47" bgcolor="#00331B" width="25%"
                                        style="font-family: Verdana, Geneva, sans-serif; font-size: 24px; text-align: center; color: #D7D2B7;">
                                        <a class="big_green" href="http://blog.wholesalehunter.com/" target="_blank">BLOG</a>
                                    </td>
                                    <td height="47" bgcolor="#00331B" width="25%"
                                        style="font-family: Verdana, Geneva, sans-serif; font-size: 24px; text-align: center; color: #D7D2B7;">
                                        <a class="big_green" href="/Home/Help">HELP</a>
                                    </td>
                                </tr>
                            </table>
                            <table width="100%" height="72" border="0" cellpadding="0" cellspacing="3">
                                <tr>
                                    <td bgcolor="#D7D2B7" style="text-align: center;width:50%;">
                                        <a style="color:#00331B;font-size: 20px;" href="tel:+1-888-900-4868">888-900-HUNT (4868)</a>
                                        <br />
                                        <span style="font-size: 14px;">34 Firetower Rd., Wetumpka, AL</span>
                                    </td>
                                    <td bgcolor="#D7D2B7" style="text-align: center;width:50%;">
                                        <span style="font-size: 18px;">@Html.Raw(System.Configuration.ConfigurationManager.AppSettings["PhoneHours"].ToString())</span>
                                    </td>
                                </tr>
                            </table>
                        </td>

                        <td width="257" rowspan="2" bgcolor="#452317">@Html.Partial("~/Views/Shared/_MyAccount.cshtml")</td>
                        <td width="257" rowspan="2" bgcolor="#D7D2B7">@Html.Partial("~/Views/Shared/_Cart.cshtml")</td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td height="50" colspan="2">
                <table width="1435" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td>
                            <ul id="MenuBar1" class="MenuBarHorizontal">

                                <li>
                                    <a href="/Search/106">GUNS</a>
                                </li>
                                <li>
                                    <a href="/Search/10">AMMUNITION</a>
                                </li>
                                <li>
                                    <a href="/Search/216">RELOADING</a>
                                </li>
                                <li>
                                    <a href="/Search/187">SCOPES</a>
                                </li>
                                <li>
                                    <a href="/Search/Hunting">HUNTING</a>
                                </li>
                                <li>
                                    <a href="/Search/618">FISHING</a>
                                </li>
                                <li>
                                    <a href="/Search/-10">CLEARANCE</a>
                                </li>
                                <li>
                                    <a href="/Search/0">ALL CATEGORIES</a>
                                </li>

                            </ul>
                        </td>
                        <td width="40%" align="center">
                            <div id="searchBar" class="search-wrapper cf">
                                <input type="text" id="keywordsearch" placeholder="Search here..." required="" />
                                <button type="button" onclick="doKeywordSearch();">Search</button>
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>

    <div style="width:1440px;margin:0px auto;">
        @RenderBody()
        <footer>
            <table width="1440" bgcolor="#ffffff" border="0" align="center" cellpadding="0" cellspacing="0">
                <tr>
                    <td width="1440" bgcolor="#00331B">
                        <table border="0" style="width:100%;">
                            <tr>
                                <td width="9%" style="text-align: center">
                                    <a target="_blank" title="Click for the Business Review of Wholesalehunter.com, a TBD in Wetumpka AL" href="https://www.bbb.org/csal/business-reviews/sporting-goods-retail/wholesalehuntercom-in-wetumpka-al-90046160#sealclick"><img alt="Click for the BBB Business Review of this TBD in Wetumpka AL" style="border: 0;" src="https://seal-centralalabama.bbb.org/seals/black-seal-200-42-whitetxt-wholesalehuntercom-90046160.png" /></a>
                                </td>
                                <td width="8%" style="font-family: Verdana, Geneva, sans-serif; color: #FFF; text-align: center;">
                                    <a href="/Home/Index">HOME</a>
                                </td>
                                <td width="8%" style="font-family: Verdana, Geneva, sans-serif; color: #FFF; text-align: center;">
                                    <a href="/Search">SEARCH</a>
                                </td>
                                <td width="8%" style="font-family: Verdana, Geneva, sans-serif; color: #FFF; text-align: center;">
                                    <a href="/Home/About">ABOUT</a>
                                </td>
                                <td width="8%" style="font-family: Verdana, Geneva, sans-serif; color: #FFF; text-align: center;">
                                    <a href="/Home/Contact">CONTACT</a>
                                </td>
                                <td width="8%" style="font-family: Verdana, Geneva, sans-serif; color: #FFF; text-align: center;">
                                    <a href="/Home/News">NEWS</a>
                                </td>
                                <td width="8%" style="font-family: Verdana, Geneva, sans-serif; color: #FFF; text-align: center;">
                                    <a href="/Home/Help">HELP</a>
                                </td>
                                <td width="8%" style="font-family: Verdana, Geneva, sans-serif; color: #FFF; text-align: center;">
                                    <a href="/Home/Sitemap">SITE MAP</a>
                                </td>
                                <td width="14%" style="font-family: Verdana, Geneva, sans-serif; color: #FFF; text-align: center;">
                                    <a href="/Home/Terms">TERMS AND<br />CONDITIONS</a>
                                </td>
                                <td width="16%" style="color: #FFF; font-family: Verdana, Geneva, sans-serif; font-size: 9px;">
                                    Powered by Henderson Data Solutions<br />
                                    <a href="http://www.HendersonDataSolutions.com" target="new">www.HendersonDataSolutions.com</a>
                                </td>
                                <td width="5%" style="text-align: center">
                                    <a href="http://www.HendersonDataSolutions.com" target="new">
                                        <img src="/images/hdslogo.png" width="46" height="50" alt="Link to Henderson Data Solutions website."/>
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </footer>
    </div>

    <div id="login" name="login" style="display:none;">
        <form method="post" action="/Account/LogOn" id="frmLogin">
            <table style="border:2px solid #00331B" width="939" class="login_table">
                <tr>
                    <td colspan="4" align="center" valign="middle" style="font-size: 36px">
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td width="4%">&nbsp;</td>
                                <td width="92%" align="center">LOG IN</td>
                                <td width="4%" align="right" valign="top"><input type="button" class="button3" onclick="dialogLoginClose();" value="X" /></td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td width="118">Username <span>*</span></td>
                    <td colspan="3">
                        <input type="text" name="username" id="username" style="width:700px;" placeholder="email or username" />
                    </td>
                </tr>
                <tr>
                    <td>Password <span>*</span></td>
                    <td colspan="3">
                        <input type="password" name="password" id="password" style="width:700px;" placeholder="password" />
                    </td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td width="227"><a href="#" class="button button2" onclick="doLogin()">LOGIN</a></td>
                    <td width="227"><a href="#" class="button button1" onclick="doForgotPW();">I FORGOT MY PASSWORD</a></td>
                    <td align="right"><a href="#" class="button button2" onclick="dialogLoginClose();">CLOSE</a></td>
                </tr>
            </table>
            <input type="hidden" id="forgotPW" name="forgotPW" value="" />
        </form>
    </div>

    <div id="createaccount" name="createaccount" style="display:none;">
        <form id="frmcreateaccount" action="/Account/Create" method="post">
            <table style="border:2px solid #00331B" width="939" id="createAccountTable">
                <tr>
                    <td colspan="4" align="center" valign="middle" style="font-size: 36px">
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td width="4%">&nbsp;</td>
                                <td width="92%" align="center">CREATE AN ACCOUNT</td>
                                <td width="4%" align="right" valign="top"><input type="button" class="button3" onclick="dialogCreateClose();" value="X" /></td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td width="138">
                        <span class="loginPrompt" id="promptEmail">Email</span>
                    </td>
                    <td colspan="3">
                        <input type="text" name="Email" id="Email" class="loginField" />
                    </td>
                </tr>
                <tr>
                    <td width="138">
                        <span class="loginPrompt" id="promptVerifyEmail">Verify Email</span>
                    </td>
                    <td colspan="3">
                        <input type="text" name="VerifyEmail" id="VerifyEmail" class="loginField" />
                    </td>
                </tr>
                <tr>
                    <td width="138">
                        <span class="loginPrompt" id="promptPassword">Password</span>
                    </td>
                    <td colspan="3">
                        <input type="password" name="Password" id="Password" class="loginField" />
                    </td>
                </tr>
                <tr>
                    <td width="138">
                        <span class="loginPrompt" id="promptVerifyPassword">Verify Password</span>
                    </td>
                    <td colspan="3">
                        <input type="password" name="VerifyPassword" id="VerifyPassword" class="loginField" />
                    </td>
                </tr>
                <tr>
                    <td width="138">
                        <span class="loginPrompt" id="promptFirstName">First Name</span>
                    </td>
                    <td colspan="3">
                        <input type="text" name="FirstName" id="FirstName" class="loginField" />
                    </td>
                </tr>
                <tr>
                    <td width="138">
                        <span class="loginPrompt" id="promptLastName">Last Name</span>
                    </td>
                    <td colspan="3">
                        <input type="text" name="LastName" id="LastName" class="loginField" />
                    </td>
                </tr>

                <tr>
                    <td width="138">
                        Address Line 1
                    </td>
                    <td colspan="3">
                        <input type="text" name="Address1" id="Address1" class="loginField" />
                    </td>
                </tr>
                <tr>
                    <td width="138">Address Line 2</td>
                    <td colspan="3"><input type="text" name="Address2" id="Address2" class="loginField" /></td>
                </tr>
                <tr>
                    <td width="138">City</td>
                    <td colspan="3"><input type="text" name="City" id="City" class="loginField" /></td>
                </tr>
                <tr>
                    <td width="138">State</td>
                    <td width="352">
                        <div id=”mainselection”>
                            <select size="1" class="select" id="State" name="State">
                                <option selected=selected>Choose Your State</option>
                                <option value="AL">Alabama</option>
                                <option value="AK">Alaska</option>
                                <option value="AZ">Arizona</option>
                                <option value="AR">Arkansas</option>
                                <option value="CA">California</option>
                                <option value="CO">Colorado</option>
                                <option value="CT">Connecticut</option>
                                <option value="DE">Delaware</option>
                                <option value="DC">District Of Columbia</option>
                                <option value="FL">Florida</option>
                                <option value="GA">Georgia</option>
                                <option value="HI">Hawaii</option>
                                <option value="ID">Idaho</option>
                                <option value="IL">Illinois</option>
                                <option value="IN">Indiana</option>
                                <option value="IA">Iowa</option>
                                <option value="KS">Kansas</option>
                                <option value="KY">Kentucky</option>
                                <option value="LA">Louisiana</option>
                                <option value="ME">Maine</option>
                                <option value="MD">Maryland</option>
                                <option value="MA">Massachusetts</option>
                                <option value="MI">Michigan</option>
                                <option value="MN">Minnesota</option>
                                <option value="MS">Mississippi</option>
                                <option value="MO">Missouri</option>
                                <option value="MT">Montana</option>
                                <option value="NE">Nebraska</option>
                                <option value="NV">Nevada</option>
                                <option value="NH">New Hampshire</option>
                                <option value="NJ">New Jersey</option>
                                <option value="NM">New Mexico</option>
                                <option value="NY">New York</option>
                                <option value="NC">North Carolina</option>
                                <option value="ND">North Dakota</option>
                                <option value="OH">Ohio</option>
                                <option value="OK">Oklahoma</option>
                                <option value="OR">Oregon</option>
                                <option value="PA">Pennsylvania</option>
                                <option value="RI">Rhode Island</option>
                                <option value="SC">South Carolina</option>
                                <option value="SD">South Dakota</option>
                                <option value="TN">Tennessee</option>
                                <option value="TX">Texas</option>
                                <option value="UT">Utah</option>
                                <option value="VT">Vermont</option>
                                <option value="VA">Virginia</option>
                                <option value="WA">Washington</option>
                                <option value="WV">West Virginia</option>
                                <option value="WI">Wisconsin</option>
                                <option value="WY">Wyoming</option>
                            </select>
                        </div>

                    </td>
                    <td width="180" align="center">Zip Code</td>
                    <td width="247"><input type="text" name="Zip" id="Zip" class="loginField" /></td>
                </tr>

                <tr>
                    <td width="138">Phone</td>
                    <td colspan="3">
                        <input type="text" name="Phone" id="Phone" class="loginField" onblur="formatPhone('Phone');" />
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <a href="#" onclick="doCreateAccount();" class="button button2">SAVE</a>
                    </td>
                    <td colspan="2" align="right">
                        <a href="#" onclick="dialogCreateClose();" class="button button2">CLOSE</a>
                    </td>
                </tr>
            </table>
        </form>
    </div>

    <div id="shoppingcart" name="shoppingcart" style="display:none;">
    </div>

    <div id="dialog" name="dialog" style="display:none;">
    </div>

    <div id="myaccountdialog" name="myaccountdialog" style="display:none;">
    </div>

    <div id="timerlogoutdialog" name="timerlogoutdialog" style="display:none;">
        <div id="timerlogoutdialogcontents">
            <br /><br />
            You will be logged out soon due to inactivity.<br /><br />
            <a href="#" onclick="stillHere();" class="button button2">I'M STILL HERE</a>
            <br /><br />
        </div>
    </div>

    <input type="hidden" id="cartopen" value="" />
    <script type="text/javascript">
        if (!String.prototype.startsWith) {
            String.prototype.startsWith = function (searchString, position) {
                position = position || 0;
                return this.indexOf(searchString, position) === position;
            };
        }

        function showMyAccount(tabid) {
            if (tabid == null) {
                tabid = 0;
            }
            showPageMask(true);
            $('#myaccountdialog').html(''); //clear the current dialog

            var obj = { SelectedTab: tabid };

            var url ='/MyAccount/Index/' + tabid; 

            $.ajax({
                type: "POST",
                cache: false,
                url: url,
                data: obj,
                success: function (html) {
                    $(html).appendTo('#myaccountdialog');
                    $('.scroll').jscroll({
                        nextSelector: 'a.scroll:last',
                        autoTrigger: false,
                    });                    
                }
            });

            $("#myaccountdialog").attr("_dialogInitialized", "yes").dialog({
                dialogClass: "no-close",
                position: { my: "center top", at: "center-360 top+20", of: window },
                modal:true
            });
        }

        function showPageMask(withspinner) {
            $("#pagemask").show();
            if (withspinner) {
                $("#pagemaskspinner").show();
            }
            else {
                $("#pagemaskspinner").hide();
            }
        }

        $('#keywordsearch').on("keypress", function (e) {
            if (e.keyCode == 13) {
                doKeywordSearch();
            }
        });


        $('#keywordsearch2').on("keypress", function (e) {
            if (e.keyCode == 13) {
                searchHelpText();
            }
        });

        function goCompletePurchase() {
            //make sure the terms and conditions box is checked
            if (!$("#terms").prop('checked')) {
                alert("You must agree to the terms and conditions before proceeding.");
                return false;
            }

            $("#shoppingcart").hide();

            var obj = {
                PaymentMethod: $("#PaymentMethod").val(),
                SelectCard: $("#SelectCard").val(),
                SelectedCardDescription: $("#SelectedCardDescription").val(),
                CardNumber: $("#CardNumber").val(),
                ExpireMonth: $("#ExpireMonth").val(),
                ExpireYear: $("#ExpireYear").val(),
                CVV: $("#CVV").val(),
                CreditCardZIP: $("#creditcardZIP").val(),
                RememberCard: $("#RememberCard").val(),
                MakeDefault: $("#MakeDefault").val(),
                ShippingMethod: $("#ShippingMethod").val(),
                ShippingMethodName: $("#ShippingMethodName").val(),
                ShippingCost: $("#ShippingCost").val(),
                Hazmat: $("#Hazmat").val(),
                ShippingInsurance: $("#ShippingInsurance").val(),
                ShippingInsuranceCost: $("#ShippingInsuranceCost").val(),
                Tax: $("#tax").val(),
                OrderTotal: $("#OrderTotal").val(),
                ShippingAddress1: $("#ShippingAddress1").val(),
                ShippingAddress2: $("#ShippingAddress2").val(),
                ShippingCity: $("#ShippingCity").val(),
                ShippingState: $("#ShippingState").val(),
                ShippingZip: $("#ShippingZip").val(),
                Address: $("#BillingAddress").val(),
                City: $("#BillingCity").val(),
                State: $("#BillingState").val(),
                Zip: $("#BillingZip").val(),
                Email: $("#hdnEmail").val(),
                FirstName: $("#hdnFirstName").val(),
                LastName: $("#hdnLastName").val(),
                PhoneNumber: $("#hdnPhoneNumber").val(),
                OrderDescription: $("#OrderDescription").val(),
                BillingName: $("#BillingName").val(),
                BillingPhone: $("#BillingPhone").val()
            }

            $.ajax({
                type: "POST",
                cache: false,
                url: '/Cart/CompletePayment',
                data: obj,
                success: function (html) {
                    $("#shoppingcart").html('');
                    $("#shoppingcart").show();
                    showPageMask(false);
                    $("div#pagemaskspinner").hide();
                    $(html).appendTo('#shoppingcart');
                }
            });
        }

        function goPaymentProcessing() {
            //if we're here the user has hit "Next" on the Payment page
            var shippingmethod;
            var customerpaymentmethodid;
            var paymentmethod = $("#selectedpaymentmethod").val();
            if (paymentmethod == 1) {
                if ($("#selectCard option:selected").val() == 0) {
                    //this is a new credit card
                    //make sure the credit card no is 16 digits or less
                    if (!verifyCreditCard()) {
                        return false;
                    }

                    //make sure cvv is only 4 characters
                    if (!verifyCVV()) {
                        return false
                    }

                    //billing zip 9 or 5 characters
                    if (!verifyZIP()) {
                        return false;
                    }

                    //check expiration date in past
                    if (!verifyDate(true)) {
                        return false;
                    }

                    if (!verifyAddress()) {
                        return false;
                    }
                }
            }

            //get the shipping method
            var shipmethodname;
            $("[id^='rdoShipping']").each(function (index, element) {
                if (element.checked) {
                    shippingmethod = (element.value * 1) + 1;
                    var loc = element.id.indexOf("_");
                    var id = element.id.substr(loc+1);
                    shipmethodname = $("#shippingmethodname_" + id).val();
                }
            });

            //get the customer paymentmethodid
            customerpaymentmethodid = $("#selectCart option:selected").val();

            var obj = {
                ShippingMethod: shipmethodname,
                PaymentTypeID: paymentmethod,
                CustomerPaymentMethodID: customerpaymentmethodid
            }

            $.ajax({
                type: "POST",
                cache: false,
                url: '/api/Ajax/UpdateCartPaymentMethod',
                data: obj,
                success: function (status) {
                    if (status == 1) {
                        goAlmostThere();
                    }
                    else {
                        alert("A failure was encountered updating the Cart Payment Method.\n\nPlease contact the System Administrator if this error persists.");
                        return false;
                    }
                }
            });
        }

        function goAlmostThere() {
            $("#shoppingcart").hide();

            $("#selectExpireMonth option:selected").val();

            var remembercard = 0;
            var makedefault = 0;
            if ($('#remembercard').prop('checked')) {
                remembercard = 1;
            }
            if ($('#makedefault').prop('checked')) {
                makedefault = 1;
            }

            //get the shipping option and cost
            var shippingmethod;
            var shippingmethodname;
            var shippingcost;
            $('[id^=rdoShipping_]').each(function (index, element) {
                if (element.checked) {
                    shippingmethod = $("#spanShipping_" + element.value).html();
                    shippingmethodname = $("#shippingmethodname_" + element.value).val();
                    shippingcost = $("#shippingmethodcost_" + element.value).val();
                }
            });

            var shippinginsurance = 0;
            if ($('#shippinginsurance').prop('checked')) {
                shippinginsurance = 1;
            }

            //see which card was selected
            if ($("#selectCard option:selected").val() != 0) {
                var paymentmethodid = $("#selectCard option:selected").val();
                var obj = JSON.parse($("#paymentmethods").val());
                $.each(obj, function (key, value) {
                    if (value.CustomerPaymentMethodID == paymentmethodid) {
                        $("#billingname").val(value.BillName);
                        $("#billingphone").val(value.BillPhone);
                        $("#billingaddress1").val(value.BillAddr1);
                        $("#billingcity").val(value.BillCity);
                        $("#billingstate").val(value.BillState);
                        $("#creditcardZIP").val(value.BillZIP);
                    }
                });
            }

            //gather all the data we need to forward to AlmostThere
            var obj = {
                PaymentMethod: $("#selectedpaymentmethod").val(),
                SelectCard: $("#selectCard option:selected").val(),
                SelectedCardDescription: $("#selectCard option:selected").text(),
                CardNumber: $("#cardnumber").val(),
                ExpireMonth: $("#selectExpireMonth option:selected").val(),
                ExpireYear: $("#selectExpireYear option:selected").val(),
                CVV: $("#cvv").val(),
                CreditCardZip: $("#creditcardZIP").val(),
                RememberCard: remembercard,
                MakeDefault: makedefault,
                ShippingMethod: shippingmethod,
                ShippingMethodName: shippingmethodname,
                ShippingCost: shippingcost,
                ShippingInsurance: shippinginsurance,
                ShippingInsuranceCost: $("#shippinginsurancecost").val(),
                Hazmat: $("#Hazmat").val(),
                Tax: $("#tax").val(),
                OrderTotal: $("#ordertotalhidden").val(),
                Address: $("#billingaddress1").val(),
                City: $("#billingcity").val(),
                State: $("#billingstate").val(),
                Zip: $("#creditcardZIP").val(),
                OrderDescription: $("#orderdescription").val(),
                BillingName: $("#billingname").val(),
                BillingPhone: $("#billingphone").val()
            }


            //get html data from /Cart/AlmostThere
            $.ajax({
                type: "POST",
                cache: false,
                data: obj,
                url: '@Url.Action("AlmostThere", "Cart")',
                success: function (html) {
                    $("#shoppingcart").html('');
                    $("#shoppingcart").show();
                    showPageMask(true);
                    $(html).appendTo('#shoppingcart');

                    //see if html contains a message about adjusted cart inventory level
                    var idxStart = html.indexOf("[*BOM]");
                    var idxEnd = html.indexOf("[*EOM]");
                    if ((idxStart > -1) && (idxEnd > -1)) {
                        //find the end of the message
                        var msg = html.substring(idxStart + 6, idxEnd);
                        msg = msg.replace("&#39;", "'");
                        alert(msg);
                    }
                }
            });
        }

        function verifyAddress() {
            //make sure something has been entered in the Name field
            if ($("#billingname").val() == '') {
                alert("Please enter the Billing Name for the credit card.");
                return false;
            }

            if ($("#billingaddress1").val() == '') {
                alert("Please enter the Street Address for the credit card billing address.");
                return false;
            }

            if ($("#billingcity").val() == '') {
                alert("Please enter the City for the credit card billing address.");
                return false;
            }

            if ($("#billingcity").val() == '0') {
                alert("Please enter the City for the credit card billing address.");
                return false;
            }

            if ($("#billingstate option:selected").val() == 0) {
                alert("Please select the State for the credit card billing address.");
                return false;
            }

            return true;
        }

        function verifyDate(flagIncomplete) {
            var currentDate = new Date();
            var currentYear = currentDate.getFullYear();
            var currentMonth = currentDate.getMonth() + 1;

            var selectedMonth = $("#selectExpireMonth option:selected").val();
            var selectedYear = $("#selectExpireYear option:selected").text();
            if (selectedYear == "" || selectedYear == null) {
                selectedYear = 0;
            }

            if (selectedYear == 0 || selectedMonth == 0) {
                //one or the other hasn't been selected
                if (flagIncomplete) {
                    alert("Please select both a Month and Year for the expiration date.");
                }
                return false;
            }

            if (selectedMonth < currentMonth && selectedYear == currentYear) {
                alert("The expiration date entered has passed. ");
                return false;
            }
            return true;
        }

        function verifyZIP() {
            var obj = $("#creditcardZIP");
            var text = obj.val();
            text = text.replace(/\s/g, ''); //replace white space
            obj.val(text);
            if (text.length == 5) {
                return true;
            }

            if (text.indexOf("-") != -1) {
                //the zip code has a dash so it should be 10 digits long
                if (text.length == 10) {
                    return true;
                }
            }

            alert("Please enter a valid ZIP code.");
            return false;
        }

        function verifyCreditCard() {
            var obj = $("#cardnumber");
            var text = obj.val();
            text = text.replace(/\s/g, ''); //replace white space
            text = text.replace(/-/g, ''); //replace dashes
            text = text.replace(/\D/g, ''); //replace non-numeric characters
            obj.val(text);
            if (text.length < 15 || text.length > 16) {
                alert("The does not appear to be a valid Credit Card Number.")
                return false;
            }
            else {
                return true;
            }
        }

        function verifyCVV() {
            var obj = $("#cvv");
            var cvv = obj.val();
            cvv = cvv.replace(/\s/g, '');
            obj.val(cvv);
            if (cvv == "") {
                alert("The CVV is a required field.");
                return false;
            }
            if (cvv.length > 4) {
                alert("The CVV must be 4 digits or less.")
                return false;
            }
            else {
                return true;
            }
        }

        function removeWhiteSpace(data) {
            return data.replace
        }

        function goPayment() {
            $.ajax({
                type: "POST",
                cache: false,
                url: '@Url.Action("Payment", "Cart")',
                success: function (html) {
                    $("#shoppingcart").html('');
                    $("#shoppingcart").show();
                    showPageMask(true);
                    $(html).appendTo('#shoppingcart');

                    //see if html contains a message about adjusted cart inventory level
                    var idxStart = html.indexOf("[*BOM]");
                    var idxEnd = html.indexOf("[*EOM]");
                    if ((idxStart > -1) && (idxEnd > -1)) {
                        //find the end of the message
                        var msg = html.substring(idxStart + 6, idxEnd);
                        msg = msg.replace("&#39;", "'");
                        alert(msg);
                    }
                }
            });
            $("#shoppingcart").hide();
        }

        function goPaymentWithoutFFL() {
            var obj = {
                FFLID: "0",
                FFLName: "",
                DistanceTitle: "",
                Address1: "",
                City: "",
                State: "",
                ZIPCode: "",
                Email: "",
                ContactName: "",
                Phone: ""
            }

            $.ajax({
                type: "POST",
                cache: false,
                url: '@Url.Action("PaymentWithFFL", "Cart")',
                data: obj,
                success: function (html) {
                    $("#shoppingcart").html('');
                    $("#shoppingcart").show();
                    showPageMask(true);
                    $(html).appendTo('#shoppingcart');

                    //see if html contains a message about adjusted cart inventory level
                    var idxStart = html.indexOf("[*BOM]");
                    var idxEnd = html.indexOf("[*EOM]");
                    if ((idxStart > -1) && (idxEnd > -1)) {
                        //find the end of the message
                        var msg = html.substring(idxStart + 6, idxEnd);
                        msg = msg.replace("&#39;", "'");
                        alert(msg);
                    }
                }
            });
            $("#shoppingcart").hide();
        }

        function goPaymentWithFFL() {
            if (!verifyFFLFields()) {
                return false;
            }
            //get the selected state
            var selState = document.getElementById('cart_State');
            var idx = selState.selectedIndex;
            var state = selState.options[idx].value;
            var obj = {
                FFLID: $("#cart_FFLID").val(),
                FFLName: $("#cart_FFLName").val(),
                DistanceTitle: "",
                Address1: $("#cart_Address1").val(),
                Address2: $("#cart_Address2").val(),
                City: $("#cart_City").val(),
                State: state,
                ZIPCode: $("#cart_ZIPCode").val(),
                Email: $("#cart_Email").val(),
                ContactName: $("#cart_ContactName").val(),
                Phone: $("#cart_Phone").val(),
                FFLNumber: $("#cart_FFLNumber").val()
            }

            $.ajax({
                type: "POST",
                cache: false,
                url: '@Url.Action("PaymentWithFFL", "Cart")',
                data: obj,
                success: function (html) {
                    $("#shoppingcart").html('');
                    $("#shoppingcart").show();
                    showPageMask(true);
                    $(html).appendTo('#shoppingcart');

                    //see if html contains a message about adjusted cart inventory level
                    var idxStart = html.indexOf("[*BOM]");
                    var idxEnd = html.indexOf("[*EOM]");
                    if ((idxStart > -1) && (idxEnd > -1)) {
                        //find the end of the message
                        var msg = html.substring(idxStart + 6, idxEnd);
                        msg = msg.replace("&#39;", "'");
                        alert(msg);
                    }
                }
            });
            $("#shoppingcart").hide();
        }

        function verifyFFLFields(id, display) {
            var listBadField = "";
            listBadField += verifyField("cart_FFLName", "FFL Name");
            listBadField += verifyField("cart_Address1", "Address 1");
            listBadField += verifyField("cart_Phone", "Phone");
            listBadField += verifyField("cart_City", "City");

            //check to see if a state value has been selected
            //gets handled specially because it's a select
            var selState = document.getElementById('cart_State');
            var idx = selState.selectedIndex;
            var field = $("#cart_State");
            var span = $("#span_State");
            if (selState.options[idx].value == "0") {
                listBadField += "State\n";
                span.addClass("prompterror");
                field.removeClass("select")
                field.addClass("selecterror")
            }
            else {
                span.removeClass("prompterror");
                field.addClass("select");
                field.removeClass("inputerror")
            }

            listBadField += verifyField("cart_ZIPCode", "ZIP Code");

            if (listBadField != "") {
                alert("The below fields are required\n\n" + listBadField);
                return false;
            }

            return true;
        }


        function cartSelectAddress() {
            var selectedValue = $("#cart_SelectAddress option:selected").text();
            var addresses = $.parseJSON($("#JsonAddresses").val());
            $.each(addresses, function (index, address) {
                if (address.AddressName == selectedValue) {
                    $("#cart_Address1").val(address.Address1);
                    $("#cart_Address2").val(address.Address2);
                    $("#cart_City").val(address.City);
                    $("#cart_State").val(address.State);
                    $("#cart_ZIPCode").val(address.ZIPCode);
                }
            });
        }

        function goNext() {
            //first get rid of all html in div#createaccount
            $("#createaccount").html('');

            if(!checkAccountData(false)) {
                return false;
            }
            
            //if we're here the user has hit next on the My Info page
            if (!verifyCartFields()) {
                return false;
            }

            //get the selected state
            var selState = document.getElementById('State');
            var idx = State.selectedIndex;
            var state = State.options[idx].value;
            var obj = {
                FirstName: $("#FirstName").val(),
                LastName: $("#LastName").val(),
                Email: $("#Email").val(),
                VerifyEmail: $("#VerifyEmail").val(),
                Phone: $("#Phone").val(),
                Address1: $("#Address1").val(),
                Address2: $("#Address2").val(),
                City: $("#City").val(),
                State: state,
                ZIPCode: $("#Zip").val(),
                Password: $("#Password").val(),
                VerifyPassword: $("#VerifyPassword").val(),
                FFLRequired: $("#FFLRequired").val(),
                IsRegistered: $("#IsRegsitered").val(),
                IsGuest: $("#IsGuest").val(),
                IsNewUser: $("#IsNewUser").val(),
            }

            $.ajax({
                type: "POST",
                cache: false,
                url: '@Url.Action("SubmitMyInfo", "Cart")',
                data: obj,
                success: function (html) {
                    $("#shoppingcart").html('');
                    $("#shoppingcart").show();
                    showPageMask(true);
                    $(html).appendTo('#shoppingcart');

                    //see if html contains a message about adjusted cart inventory level
                    var idxStart = html.indexOf("[*BOM]");
                    var idxEnd = html.indexOf("[*EOM]");
                    if ((idxStart > -1) && (idxEnd > -1)) {
                        //find the end of the message
                        var msg = html.substring(idxStart + 6, idxEnd);
                        msg = msg.replace("&#39;", "'");
                        alert(msg);
                    }
                }
            });
            $("#shoppingcart").hide();

        }

        function verifyCartFields(id, display) {
            var listBadField = "";
            listBadField += verifyField("FirstName", "First Name");
            listBadField += verifyField("LastName", "Last Name");
            listBadField += verifyField("Email", "Email");
            listBadField += verifyField("VerifyEmail", "Verify Email");
            listBadField += verifyField("Address1", "Address 1");
            //listBadField += verifyField("Address2", "Address 2");
            listBadField += verifyField("City", "City");

            //check to see if a state value has been selected
            //gets handled specially because it's a select
            var selState = document.getElementById('State');
            var idx = selState.selectedIndex;
            var field = $("#State");
            var span = $("#span_State");
            if (selState.options[idx].value == "0") {
                listBadField += "State\n";
                span.addClass("prompterror");
                field.removeClass("select")
                field.addClass("selecterror")
            }
            else {
                span.removeClass("prompterror");
                field.addClass("select");
                field.removeClass("inputerror")
            }

            listBadField += verifyField("Zip", "ZIP Code");
            //listBadField += verifyField("Password", "Password");
            //listBadField += verifyField("VerifyPassword", "Verify Password");

            if (listBadField != "") {
                alert("The below fields are required\n\n" + listBadField);
                return false;
            }

            //now check to see if the Email and VerifyEmail values are the same
            var fieldEmail = $("#Email");
            var spanEmail = $("#span_Email");
            var fieldVerifyEmail = $("#VerifyEmail")
            var spanVerifyEmail = $("#span_VerifyEmail")
            if (fieldEmail.val() != fieldVerifyEmail.val()) {
                alert("The Email and Verify EMail fields must match.");
                fieldEmail.addClass("inputerror");
                fieldVerifyEmail.addClass("inputerror");
                spanEmail.addClass("prompterror");
                spanVerifyEmail.addClass("prompterror");
                return false;
            }
            else {
                fieldEmail.removeClass("inputerror");
                fieldVerifyEmail.removeClass("inputerror");
                spanEmail.removeClass("prompterror");
                spanVerifyEmail.removeClass("prompterror");
            }

            if ($("#IsRegistered").val().toLowerCase() == 'false') {
                //check that password and verify password match
                var fieldPassword = $("#Password");
                var spanPassword = $("#span_Password");
                var fieldVerifyPassword = $("#VerifyPassword")
                var spanVerifyPassword = $("#span_VerifyPassword")
                if (fieldPassword.val() != fieldVerifyPassword.val()) {
                    alert("The Password and Verify Password fields must match.");
                    fieldPassword.addClass("inputerror");
                    fieldVerifyPassword.addClass("inputerror");
                    spanPassword.addClass("prompterror");
                    spanVerifyPassword.addClass("prompterror");
                    return false;
                }
                else {
                    fieldPassword.removeClass("inputerror");
                    fieldVerifyPassword.removeClass("inputerror");
                    spanPassword.removeClass("prompterror");
                    spanVerifyPassword.removeClass("prompterror");
                }
            }
            return true;
        }

        function verifyField(id, display) {
            var field = $("#" + id);
            var span = $("#span_" + id);
            console.log(id + ": " + field.val());
            if (field.val() == "") {
                //field is invalid
                span.addClass("prompterror");
                field.addClass("inputerror")
                return display + "\n";
            }
            else {
                //field is valid
                span.removeClass("prompterror");
                field.removeClass("inputerror")
                return "";
            }
        }

        function myInfo(type) {
            $("#shoppingcart").html('');
            showPageMask(true);

            var action;
            if (type == "new") {
                action = "MyInfoNew";
            }
            else if (type == "guest") {
                action = "MyInfoGuest";
            }
            else {
                action = "MyInfo";
            }

            $.ajax({
                type: "POST",
                cache: false,
                url: "/Cart/" + action + "/",
                success: function (html) {
                    $(html).appendTo('#shoppingcart');
                    var selectedState = $("#ModelState").val();
                    if(selectedState!="") {
                        var sel = document.getElementById("State");
                        for (var idx = 0; idx < sel.options.length; idx++) {
                            if (sel.options[idx].value == selectedState) {
                                sel.selectedIndex = idx;
                                break;
                            }
                        }
                    }
                }
            });

            $("#shoppingcart").attr("_dialogInitialized", "yes").dialog({
                position: { my: "center top", at: "center-360 top+20", of: window }
            });
            return false;
        }


        function myInfoLogin() {
            showPageMask(true);
            $("#shoppingcart").html('');
            $("#shoppingcart").show();
            $.ajax({
                type: "POST",
                cache: false,
                url: '@Url.Action("MyInfoLogin", "Cart")',
                data: {
                    Field1: 'field1',
                    Field2: 'field2'
                },
                success: function (html) {
                    //first get rid of all html in div#createaccount
                    $("#createaccount").html('');
                    $(html).appendTo('#shoppingcart');
                    var selectedState = $("#ModelState").val();
                    if(selectedState!="") {
                        var sel = document.getElementById("State");
                        for (var idx = 0; idx < sel.options.length; idx++) {
                            if (sel.options[idx].value == selectedState) {
                                sel.selectedIndex = idx;
                                break;
                            }
                        }
                    }
                }
            });

            $("#shoppingcart").attr("_dialogInitialized", "yes").dialog({
                position: { my: "center top", at: "center-360 top+20", of: window }
            });
            return false;
        }

        function hideCart() {
            console.log("hideCart");
            $("#shoppingcart").dialog('close');
            $("#pagemask").hide();
            $("#shoppingcart").html('');

            //update Cart preview
            $.ajax({
                type: "POST",
                cache: false,
                url: '/api/Ajax/GetCartPreview',
                success: function (data) {
                    var obj = JSON.parse(data);
                    $("#cartQty").html(obj.TotalQuantity);
                    $("#cartTotalPrice").html(obj.TotalItemPrice);
                    updateCheckout();
                }
            });
            var url=location.href;
            if(url.toLowerCase().indexOf("showcart") > 0) {
                location.href="/Home/Index";
            } else {
                location.reload(true);
            }
            
        }

        function updateCheckout() {
            if($("span#cartQty").html()=="(0)") {
                //the quantity is 0
                $("#divCheckout").addClass("divCheckout_hidden");
                $("#divCheckout").removeClass("divCheckout");
            }
            else{
                //the quanitity is not 0
                $("#divCheckout").addClass("divCheckout");
                $("#divCheckout").removeClass("divCheckout_hidden");
            }
        }

        function hideMyAccount() {
            $("#myaccountdialog").dialog().dialog('close');
            $("#myaccountdialog").html('');
            $("#pagemask").hide();
        }

        function showCart() {
            var cartqty = $("#cartQty").html();
            if (cartqty == "(0)") {
                alert("Your shopping cart is empty!");
                return false;
            }

            $("#shoppingcart").html('');
            showPageMask(true);

            $.ajax({
                type: "POST",
                cache: false,
                url: '@Url.Action("Contents", "Cart")',
                success: function (html) {
                    $(html).appendTo('#shoppingcart');
                    var x = $("td#calc_ship").position();
                    var offset = $("td#calc_ship").offset();
                    //console.log("posit.top: " + x.top + " posit.left: " + x.left);
                    //console.log("offset.top: " + offset.top + " offset.left: " + offset.left);
                    $("#calculateshipping").css({ top: x.top, left: x.left + 160 });
                    if (html.indexOf("flagAllowedToShip") == -1) {
                        alert("We're sorry.  You cannot buy guns and non-guns in the same order.  Please make different orders for them.\n\nWe apologize for the inconvenience.");
                    }
                }
            });

            $("#shoppingcart").attr("_dialogInitialized", "yes").dialog({
                dialogClass: "no-close",
                position: { my: "center top", at: "center-360 top+20", of: window }
            });
            $("#cartopen").val("1");
            return false;
        }

        function doKeywordSearch() {
            //if we're on the search page call addKeywords in search.script.js
            if ($('#searchpage').val() == "1") {
                addKeywords();
                return false;
            }
            else {
                var keywords = $("#keywordsearch").val();
                if (keywords == "") {
                    alert("Please enter the keywords to search for.");
                    return false;
                }
                location.href = "/Search/Keyword?keywords=" + encodeURIComponent(keywords);
            }
        }

        function doForgotPW() {
            if ($("#username").val() == "") {
                alert("Please enter the email address for your account in the user name field.");
                return false;
            }
            var obj = {
                username: $("#username").val(),
                password: $("#password").val(),
                forgotPW: '1'
            }

            $.ajax({
                type: "POST",
                cache: false,
                url: "/api/AJax/ForgotPW",
                data: JSON.stringify(obj),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    if (data == "ok") {
                        alert("The forgotten password has been emailed.");
                        return false;
                    }
                    else {
                        alert('You do not have an account registered to this address.\n\nPlease create a new account.\n\n');
                    }
                }
            });
        }

        function doCartLogin() {
            if ($("#cart_username").val() == "") {
                alert("You must enter a user name.");
                return false;
            }

            if ($("#cart_password").val() == "") {
                alert("You must enter a password.");
                return false;
            }

            var obj = {
                username: $("#cart_username").val(),
                password: $("#cart_password").val(),
                forgotPW: ''
            }

            $.ajax({
                type: "POST",
                cache: false,
                url: "/api/AJax/LogOn",
                data: JSON.stringify(obj),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    if (data == "ok") {
                        myInfo();
                    }
                    else if(data=="carterror1") {
                        showCart();
                    }
                    else {
                        alert("That username or password is not correct.");
                    }
                }
            });
        }

        function doLogin() {
            if ($("#username").val() == "") {
                alert("You must enter a user name.");
                return false;
            }

            if ($("#password").val() == "") {
                alert("You must enter a password.");
                return false;
            }

            $("#pagemaskspinner").show();
            $("#pagemask").show();
            $("#login").dialog("close");

            var obj = {
                username: $("#username").val(),
                password: $("#password").val(),
                forgotPW: ''
            }

            $.ajax({
                type: "POST",
                cache: false,
                url: "/api/AJax/LogOn",
                data: JSON.stringify(obj),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    debugger;
                    if (data == "ok") {
                        location.href = "/Home/Index";
                        return false;
                    }
                    else if(data=="carterror1") {
                        location.href = "/Home/Index";
                        return false;
                    }
                    else {
                        alert("That username or password is not correct.");
                        $("#pagemaskspinner").hide();
                        $("#pagemask").hide();
                    }
                }
            });
        }


        function dialogCreate() {
            $("#pagemask").show();
            $("#createaccount").dialog({
                position: { my: "center top", at: "center-360 top+20", of: window }
            });
            return false;
        }

        function dialogCreateClose() {
            var msg = "Are you sure you want to close this window without creating an account?";
            if (confirm(msg)) {
                $("#pagemask").hide();
                $("#createaccount").dialog('close');
                return false;
            }
        }

        function checkAccountData(PasswordRequired) {
            if($("#Password").val() != undefined) {
                if($("#Password").val() != "") {
                    //if a password value has been entered then it is required to meet all the criteria
                    PasswordRequired=true;
                }
            }
            formatPhone("Phone");
            var missingFields = "";
            missingFields += checkFieldValue("Email", "Email");
            missingFields += checkFieldValue("VerifyEmail", "Verify Email");
            missingFields += checkFieldValue("FirstName", "First Name");
            missingFields += checkFieldValue("LastName", "Last Name");
            if(PasswordRequired) {
                missingFields += checkFieldValue("Password", "Password");
                missingFields += checkFieldValue("VerifyPassword", "Verify Password");
            }


            if (missingFields != "") {
                alert("The fields listed below are required: \n" + missingFields);
                return false;
            }

            //make sure email and passwords verify
            if ($("#Email").val() != $("#VerifyEmail").val()) {
                alert("The Email and Verify Email values must match.");
                $("#Email").addClass("loginFieldInvalid");
                $("#promptEmail").addClass("loginPromptInvalid");
                $("#VerifyEmail").addClass("loginFieldInvalid");
                $("#promptVerifyEmail").addClass("loginPromptInvalid");
                return false;
            }
            else {
                $("#Email").removeClass("loginFieldInvalid");
                $("#promptEmail").removeClass("loginPromptInvalid");
                $("#VerifyEmail").removeClass("loginFieldInvalid");
                $("#promptVerifyEmail").removeClass("loginPromptInvalid");
            }

            if(!PasswordRequired) {
                return true;
            }

            var result = validatePassword($("#Password").val(), $("#Email").val(), $("#FirstName").val(), $("#LastName").val());
            /*return values
            -1 malformed email
            -2 password is too short
            -3 password is not complicated enough
            -4 pasword starts or ends with a space
            1 password is valid
            */
            if (result == -1 || result == -2 || result == -3) {
                alert('That password is too easy to guess.  Try making it longer, adding numbers, symbols, or upper and lower case letters.');
                return false;
            }
            else if (result == -4) {
                alert('You entered invalid characters.  A password cannot start or end with a space.');
                $("#Password").val('');
                $("#VerifyPassword").val('');
                return false;
            }

            if ($("#Password").val() != $("#VerifyPassword").val()) {
                alert("The Password and Verify Password values must match.");
                $("#Password").addClass("loginFieldInvalid");
                $("#promptPassword").addClass("loginPromptInvalid");
                $("#VerifyPassword").addClass("loginFieldInvalid");
                $("#promptVerifyPassword").addClass("loginPromptInvalid");
                return false;
            }
            else {
                $("#Password").removeClass("loginFieldInvalid");
                $("#promptPassword").removeClass("loginPromptInvalid");
                $("#VerifyPassword").removeClass("loginFieldInvalid");
                $("#promptVerifyPassword").removeClass("loginPromptInvalid");
            }

            return true;
        }

        function doCreateAccount() {
            if(!checkAccountData(true)) {
                return false;
            }

            var obj = {
                Email: $("#Email").val(),
                VerifyEmail: $("#VerifyEmail").val(),
                Password: $("#Password").val(),
                VerifyPassword: $("#VerifyPassword").val(),
                FirstName: $("#FirstName").val(),
                LastName: $("#LastName").val(),
                Address1: $("#Address1").val(),
                Address2: $("#Address2").val(),
                City: $("#City").val(),
                State: $("#State").val(),
                Zip: $("#Zip").val(),
                Phone: $("#Phone").val()
            }

            $.ajax({
                type: "POST",
                cache: false,
                url: "/api/AJax/CreateAccount",
                data: JSON.stringify(obj),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    if (data == "ok") {
                        location.href = "/Home/Index";
                        return false;
                    }
                    else if (data == "inuse") {
                        alert("That email address is already in use.");
                        return false;
                    }
                    else {
                        alert("An error was encountered attempting to create the new account. Please try again and if the error persists pleaaase contact our customer service department.");
                        return false;
                    }
                }
            });
        }

        function checkFieldValue(fieldname, displayFieldName) {
            var field = $("#" + fieldname);
            var prompt = $("#prompt" + fieldname)
            if (field.val() == "") {
                field.addClass("loginFieldInvalid");
                prompt.addClass("loginPromptInvalid");
                return displayFieldName + "\n";
            }
            else {
                field.removeClass("loginFieldInvalid");
                prompt.removeClass("loginPromptInvalid");
                return "";
            }
        }

        function dialogLogin() {
            $("#pagemaskspinner").hide();
            $("#pagemask").show();
            $("#login").dialog({
                position: { my: "center top", at: "center-360 top+20", of: window }
            });
            return false;
        }

        function dialogLoginClose() {
            $("#pagemask").hide();
            $("#pagemaskspinner").show();
            $("#login").dialog('close');
            return false;
        }

        function formatPhone(id) {
            var raw = $("#" + id).val().trim();
            var processed = "";
            var cntProc = 0;
            cntRaw = 0;

            if (raw[cntRaw] == "0" || raw[cntRaw] == "1") {
                //don't use the first character
                cntRaw++;
            }

            for (; cntRaw < raw.length; cntRaw++) {
                if (!isNumeric(raw[cntRaw])) {
                    processed += raw[cntRaw];
                    //alert("(" + cntRaw + ") " + raw[cntRaw] + "\nprocessed: " + processed + " ["+ processed.length +"]");
                    if (processed.length == 10) break;
                }
            }
            cntRaw++;
            var phone = "(" + processed.substr(0, 3) + ") " + processed.substr(3, 3) + "-" + processed.substring(6) + " " + raw.substring(cntRaw).trim();
            $("#" + id).val(phone);
        }

        function isNumeric(char) {
            //determine what type of character it ismap
            var intCheck = parseInt(char);

            if (isNaN(intCheck)) {
                return true;
            }
            else {
                return false;
            }
        }

        function validatePassword(password, email, firstname, lastname) {
            /*return values
            -1 malformed email
            -2 password is too short
            -3 password is not complicated enough
            -4 pasword starts or ends with a space
            1 password is valid
            */
            var raw = password;
            var Email = email.trim();
            var FirstName = firstname.trim();
            var LastName = lastname.trim();

            if (raw[0] == ' ') {
                return -4;
            }
            if (raw[raw.length - 1] == ' ') {
                return -4
            }

            //first get email name and then domain
            var lastFound = Email.lastIndexOf(".");
            if (lastFound == -1) {
                //no dot seperator found so we have a malformed email
                return -1;
            }
            var emailTemp = Email.substr(0, lastFound);
            var arrEmail = emailTemp.split('@("@")');
            var EmailUser = arrEmail[0];
            var EmailDomain = arrEmail[1];

            var regexEmailUser = new RegExp(EmailUser, "g");
            var regexEmailDomain = new RegExp(EmailDomain, "g");
            var regexFirstName = new RegExp(FirstName, "g");
            var regexLastName = new RegExp(LastName, "g");

            if (raw.startsWith(" ") || raw.endsWith(" ")) {
                //the password cannot start or end with a space
                return -4;
            }

            var processed = raw.replace(regexEmailUser, '');
            processed = processed.replace(regexEmailDomain, '');
            processed = processed.replace(regexFirstName, '');
            processed = processed.replace(regexLastName, '');

            //processed now has had the emailuser, emaildomain, firstname and lastname
            //values remove from it
            if (processed.length >= 12) {
                //the password is long enough
                return 1;
            }

            if (processed.length < 7) {
                //the password is too short
                return -2;
            }
            //if we're here then the remaining password is at least 7 characters long
            var containsNumeric = 0;
            var containsUpper = 0;
            var containsLower = 0;
            var containsSymbol = 0;

            if (/[0-9]+/.test(processed)) {
                containsNumeric = 1;
            }

            if (/[A-Z]+/.test(processed)) {
                containsUpper = 1;
            }

            if (/[a-z]+/.test(processed)) {
                containsLower = 1;
            }

            if (/[\\\^\$\.\|\?\*\+\(\)\{\[\-\/!#%&')':;"<=>@("@")_`~]+/.test(processed)) {
                containsSymbol = 1;
            }
            var tot = containsNumeric * 1 + containsUpper * 1 + containsLower * 1 + containsSymbol * 1

            if (tot < 3) {
                //the password fails validation
                //special type of characters
                return -3;
            }

            //if we're here the password is valid
            return 1;
        }

        var five_minutes = 1000 * 60 * 5;
        var timeout5 = window.setTimeout(logoutwarn, five_minutes);

        var thirty_seconds = 1000 * 30;
        var timeout30sec;

        $(document).click(function() {
            console.log("resetting 5 minute timer");
            window.clearTimeout(timeout5);
            timeout5 = window.setTimeout(logoutwarn, five_minutes);
        });

        function logoutwarn() {
            if(@Model.CustomerID != 0) {
                if ($("#shoppingcart[_dialogInitialized]").length == 1) {
                    //the dialog has been initialized
                    if ($('#shoppingcart').dialog('isOpen') === true) {
                        $("#pagemaskspinner").hide();
                        $('#shoppingcart').dialog('close');
                    }
                }

                if ($("#myaccountdialog[_dialogInitialized]").length == 1) {
                    if ($('#myaccountdialog').dialog('isOpen') === true) {
                        $("#pagemaskspinner").hide();
                        $('#myaccountdialog').dialog('close');
                    }
                }

                if ($("#dialog[_dialogInitialized]").length == 1) {
                    if ($('#dialog').dialog('isOpen') === true) {
                        $("#pagemaskspinner").hide();
                        $('#dialog').dialog('close');
                    }
                }

                showPageMask(false);
                $("#timerlogoutdialog").attr("_dialogInitialized", "yes").dialog({
                    dialogClass: "no-close",
                    position: { my: "center top", at: "center-180 top+200", of: window }
                });
                timeout30sec = window.setTimeout(doLogout, thirty_seconds);
            }
        }

        function doLogout() {
            $.ajax({
                //type: "POST",
                cache: false,
                url: "/MyAccount/IdentitySignout",
                success: function () {
                    window.location.reload(true);
                }
            });
        }

        function stillHere() {
            window.clearTimeout(timeout30sec);
            timeout5 = window.setTimeout(logoutwarn, five_minutes);
            $("#timerlogoutdialog").dialog('close');
            $("#pagemask").hide();
            $("#pagemaskspinner").hide();
        }
    </script>

    @RenderSection("scripts", required: false)
</body>
</html>
