﻿@model WholesaleHunter.ViewModels.BaseViewModel
@{
    Layout = "";
}

@if (Model.CustomerID != 0 && Model.CustomerEmail !="")
{
    <style type="text/css">
        div#myaccount {
            position: relative;
            width:100%;
            height:100%;
            color:#fff;
            cursor:pointer;
        }
        div#myaccount:hover {
            color:#d7d2b7;
            cursor:pointer;
        }
    </style>
        <div id="myaccount" onclick="showMyAccount();">
            <img src="/images/whuser.jpg" width="257" height="125" alt="Link to My Account and Login pages." />

            <div style="position:absolute;top:35px;left:125px;width:125px;text-align:center;">
                MY<br />ACCOUNT
            </div>
        </div>
}
else
{
    <div style="position: relative;width:100%;height:100%;">
        <img src="/images/whuser.jpg" width="257" height="125" />

        <div style="position:absolute;top:20px;left:125px;width:125px;color:#fff;text-align:center;">
            <a class="login" href="#" onclick="dialogLogin();">LOGIN</a>
        </div>
        <div style="position:absolute;top:70px;left:125px;width:125px;color:#fff;text-align:center;">
            <a class="login" href="#" onclick="dialogCreate();">CREATE<br />ACCOUNT</a>
        </div>
    </div>
}

