﻿@model WholesaleHunter.Models.SearchProduct
@using System.Globalization
@using System.Text
@using System.Text.RegularExpressions

@{
    string productTitle = Model.ProductDescriptionShort;
    string productDesc = Model.ProductTitle;

    NumberFormatInfo nfi = CultureInfo.CurrentCulture.NumberFormat;

    if (Model.keywords != null)
    {
        if (Model.keywords.Trim() != "")
        {
            List<string> listKeywords = Model.keywords.Split(' ').ToList();
            foreach (string keyword in listKeywords)
            {
                string replacevalue = "<span style=\"font-weight:bolder; \">$1</span>";
                string pattern = "\\b(" + keyword + ")\\b";
                Regex rgx = new Regex(pattern, RegexOptions.IgnoreCase);
                productTitle = rgx.Replace(productTitle, replacevalue);
                productDesc = rgx.Replace(productDesc, replacevalue);
            }
        }
    }


    StringBuilder output = new StringBuilder();
    bool showMSRP = true;
    bool showDiscount = true;
    if (Model.Price >= Model.MSRP)
    {
        showMSRP = false;
        showDiscount = false;
    }

    if ((Model.Price * 5) < Model.MSRP)
    {
        showMSRP = false;
        showDiscount = false;
    }

    if (Model.MSRP <= 0)
    {
        showMSRP = false;
        showDiscount = false;
    }

    if (Model.Price == 0m)
    {
        showDiscount = false;
    }

    string availability;
    if (@Model.QuantityTotal > 0)
    {
        availability = "http://schema.org/InStock";
    }
    else
    {
        availability = "http://schema.org/OutOfStock";
    }
}
<section class="prod">
    <div class="prod_wrap">

        <a class="proddetails" href="/Product/Details/@Model.ProductID?fs=1">
            <div class="prod_img">
                <img src="@Model.ImageLocation" alt="@Html.Raw(Model.ProductTitle)" />
            </div>

            <div class="prod_details">
                <h3 class="prod_title">@Html.Raw(productTitle)</h3>
                <div class="prod_desc">
                    @Html.Raw(productDesc)
                    @if (Model.FreeShipping != 0)
                    {
                        <br />
                        <div class="arrow_small" style="left:13px;top:3px;">FREE SHIPPING!</div>
                    }
                    else if (Model.FlatShipping != 0)
                    {
                        <br /><div class="arrow_small" style="left:13px;top:3px;">FLAT SHIPPING!</div>
                    }
                </div>
            </div>
        </a>

        <div style="position: relative;float:left;vertical-align:top;width:255px;height:220px;font-family: Arial,Verdana,Geneva,sans-serif;">
            <table cellpadding="0" cellspacing="0">


                @if (Model.Price > 0)
                {
                    <tr>
                        <td class="label_bold">PRICE:</td>
                        <td class="price_bold">@String.Format(nfi, "{0:C2}", Model.Price)</td>

                        @if (showDiscount)
                        {
                            <td rowspan="2" class="discount">
                                <div class="prod_discount">@Convert.ToInt32(Model.Discount * 100)% OFF!</div>
                            </td>
                        }
                        else
                        {
                            <td rowspan="2" class="discount">&nbsp;</td>
                        }
                    </tr>
                }

                @if (showMSRP)
                {
                    <tr>
                        <td class="label_bold">MSRP:</td>
                        <td class="price_bold">@String.Format(nfi, "{0:C2}", Model.MSRP)</td>
                    </tr>
                }
                else
                {
                    <tr><td>&nbsp;</td></tr>
                }

                @if (Model.PricePerUnit != (double)Model.Price)
                {
                    <tr>
                        <td class="label_bold">Per unit:</td>
                        <td class="price_bold">@String.Format(nfi, "{0:C2}", Model.PricePerUnit)<br /></td>
                        <td>&nbsp;</td>
                    </tr>
                }

                @if (Model.QuantityTotal == 0)
                {
                    <tr>
                        <td class="label">Qty available:</td>
                        <td colspan="2" class="price" style="text-align:left;">BACKORDER</td>
                    </tr>
                }
                else
                {
                    if (Model.QuantityAtThisPrice != Model.QuantityTotal)
                    {
                        <tr>
                            <td colspan="2" class="label" id="qtyprices_{0}"
                                onmouseover="getPricePoints(@Model.ProductID);"
                                onmouseout="hidePricePoints(@Model.ProductID);">
                                Qty available<br />at this price:
                            </td>
                            <td class="price" style="text-align:left;"
                                onmouseover="getPricePoints(@Model.ProductID);"
                                onmouseout="hidePricePoints(@Model.ProductID);">
                                @Model.QuantityAtThisPrice
                            </td>
                        </tr>

                        <tr>
                            <td colspan="2" class="label">Total qty available:</td>
                            <td class="price" style="text-align:left;">@Model.QuantityTotal</td>
                        </tr>
                    }
                    else
                    {
                        <tr>
                            <td colspan="2" class="label">Total qty available:</td>
                            <td class="price" style="text-align:left;">@Model.QuantityTotal</td>
                        </tr>
                    }
                }

                <tr>
                    <td colspan="3" style="padding-top:7px;">
                        <div class="prod_cart">
                            <div style="position: relative; float:left; height 25px; width 12px;">
                                <div class="incrementbutton" id="increment_@Model.ProductID" onclick="increment_qty(@Model.ProductID)"></div>
                                <div style="height:4px;width:12px;background-color:white;"></div>
                                <div class="decrementbutton" id="decrement_@Model.ProductID" onclick="decrement_qty(@Model.ProductID)"></div>
                            </div>
                            <div style="position:relative;float:left;height:25px;width:3px;"></div>
                            <div style="position:relative;float:left;">
                                <input type="text" id="qty_@Model.ProductID" class="prod_qty" value="1" onchange="manualQtyChange(@Model.ProductID);" />&nbsp;&nbsp;
                                <a class="addToCart" onclick="addToCart(@Model.ProductID);">Add to cart</a>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>


        <input type="hidden" id="qty_at_price_@Model.ProductID" value="@Model.QuantityAtThisPrice" />
        <input type="hidden" id="qty_total_@Model.ProductID" value="@Model.QuantityTotal" />
        <input type="hidden" id="price_@Model.ProductID" value="@Model.Price" />

        <div class="dividerbar">&nbsp;</div>

        <script type="application/ld+json">
            {
            "@@context": "http://schema.org/",
            "@@type": "Product",
            "name": "@HttpUtility.HtmlDecode(Model.ProductDescriptionShort.Replace("&nbsp;"," ").Replace("\\\"","\""))",
            "description" : "@HttpUtility.HtmlDecode(Model.ProductTitle.Replace("&nbsp;", " ").Replace("\\\"", "\""))",
            "image": "@Model.ImageLocation",
            "mpn": "@Model.MfgNo",
            "sku": "@Model.ProductID",
            "productID": "UPC:@Model.SKU",
            "gtin13": "@Model.SKU",
            "brand": {
            "@@type": "Thing",
            "name": "@Model.mfgName"
            },
            "offers": {
            "@@type": "Offer",
            "priceCurrency": "USD",
            "itemCondition": "new",
            "availability": "@availability",
            "price": "@string.Format("{0:F2}", Model.Price)",
            "category" : "@Model.ParentCategoryName > @Model.CategoryName",
            "seller": {
            "@@type": "Organization",
            "name": "Wholesale Hunter"
            }
            }
            }
        </script>
    </div>
</section>