﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Legal Restrictions</title>
    <link href="~/Content/HugoStyles.css" rel="stylesheet" />
</head>
<body class="policy">
    <div class="policywrap">
        <p class="policyTitle">PRODUCTS AND LEGAL RESTRICTIONS</p>
        <p>These Products and Legal Restrictions apply to all Customers of www.Wholesalehunter.com and Open Air Authority, LLC.. websites (“Sites”). The information below is provided based on information we have of current laws, regulations and restrictions (“Laws”) applicable to some of our products, including but not limited to guns ammunitions and other weaponry (together, the “Products”), as provided in our Terms and Conditions (“T&Cs”). At no time do we claim that this information is complete, timely or up to date.</p>
        <p>During the checkout process we may further restrict your purchase of any Products based on our assessment of current Laws. You therefore represent that we may rely on any and all information you provide us when assessing any such applicable restrictions. The above not withstanding, you agree that it is your explicit responsibility to remain informed and up-to-date on any and all Laws that may apply to you and/or your purchase. Nothing provided herein in any way diminishes or negates your explicit responsibility to keep informed of applicable Laws and to purchase and/or arrange for shipment of Products in accordance with such any specific Laws.</p>
        <p>    We require you to be at least 21 years of age to purchase handgun components, long gun components, or ammunition. An adult signature may be required by the shipping company at delivery time.</p>

        <ol>
            <li class="policyUL">
                <b>Handguns</b> (Must ship UPS 2nd)
                <p>
                    <ol type="a">
                        <li>
                            California: <a href="http://certguns.doj.ca.gov/" target="_blank">http://certguns.doj.ca.gov/</a>
                        </li>
                        <li>
                            Maryland: <a href=" http//www.mdsp.org/Organization/SupportServicesBureau/LicensingDivision/MainLicensingPage/HandgunRoster.aspx" target="_blank"> http://www.mdsp.org/Organization/SupportServicesBureau/LicensingDivision/MainLicensingPage/HandgunRoster.aspx</a>
                        </li>
                        <li>
                            Massachusetts: <a href="http://www.mass.gov/eopss/firearms-reg-and-laws/frb/approved-rosters/" target="_blank">http://www.mass.gov/eopss/firearms-reg-and-laws/frb/approved-rosters/</a>
                        </li>
                    </ol>
                </p>
            </li>
            <li class="policyUL">
                <b>Thompson Center Pistols and Pistol Frames </b> can not ship to
                <ol type="a">
                    <li>
                        California
                    </li>
                    <li>
                        New York
                    </li>
                    <li>
                        Maryland
                    </li>
                    <li>
                        Massachusetts
                    </li>
                </ol>
            </li>
            <li class="policyUL">
                <b>Rossi Ranchhand </b> can not ship to
                <ol type="a">
                    <li>
                        New York
                    </li>

                </ol>
            </li>
            <li class="policyUL">
                <b>Melting Point Restrictions for Firearms:</b> (Must check with state and see if the firearm meets the proper criteria)
                <ol type="a">
                    <li>
                        Hawaii
                    </li>
                    <li>
                        Illinois
                    </li>
                    <li>
                        Minnesota
                    </li>
                </ol>
            </li>
            <li class="policyUL">
                The following guns are considered to be assault weapons in the following states and cannot be shipped there:
                <ol type="a">
                    <li>
                        HK416 Pistol: California, Connecticut, Hawaii, Maryland, Massachusetts, New York, Washington DC
                    </li>
                    <li>
                        HK MP5 SD: Connecticut, Maryland, Massachusetts, New York, Washington DC
                    </li>
                    <li>
                        HK MP5 A5: Connecticut, Maryland, Massachusetts, New York, Washington DC
                    </li>
                    <li>
                        HK 416D145RS: Connecticut, Maryland, Massachusetts, New York, Washington DC
                    </li>
                    <li>
                        Colt M4 OPS: Connecticut, Massachusetts, Minnesota, New York, Washington DC
                    </li>
                    <li>
                        Colt M16 Carbine: Connecticut, Massachusetts, Minnesota, New York, Washington DC
                    </li>
                    <li>
                        UZI Rifle (.22 Cal): California, Connecticut, Massachusetts, Minnesota, New York, Washington DC
                    </li>
                    <li>
                        UZI Pistol (.22 Cal): California, Connecticut, Hawaii, Massachusetts, Minnesota, New York, Washington DC
                    </li>
                </ol>
            </li>
            <li class="policyUL">
                <b>Lower Receivers:</b> Cannot ship to California
            </li>
            <li class="policyUL">
                <b>Blank Firing Guns: </b> Cannot ship to: Chicago, IL, New York City, NY, and Virginia
            </li>
            <li class="policyUL">
                <b>All Muzzleloaders to Illinois:</b> Must go to FFL Dealer for transfer
            </li>
            <li class="policyUL">
                <b>Stun Guns: </b> Cannot ship to: Hawaii, Massachusetts, Michigan, New Jersey, New York, Rhode Island or Wisconsin
            </li>
            <li class="policyUL">
                <b>Birchwood Casey Chemical Products: </b> Cannot ship to California
            </li>
        </ol>
        <p>
            <b>Magazine Laws And Regulations. </b>
        </p>
        <p>
            Certain cities and counties have restrictions or bans. We will not ship to any jurisdiction were these items are banned. The below list may not contain all restrictions and bans. Please consult your local state, county and city laws before ordering.
        </p>
        <ol type="a">
            <li class="policyUL" ?>
                High capacity magazines holding over 10 rounds can not be shipped to CA, CT, HI, MA,  NY, MD, or DC.
            </li>
            <li class="policyUL">
                New Jersey - Maximum 15 round capacity
            </li>
            <li class="policyUL">
                Colorado –
                <ol type="i">
                    <li>
                        Vail, Denver City and County - Maximum 10 round capacity
                    </li>
                    <li>
                        Rest of Colorado 15 Round max capacity
                    </li>
                </ol>
            </li>
            <li class="policyUL">
                Illinois –
                <ol type="i">
                    <li>
                        Aurora - Maximum 15 round capacity
                    </li>
                    <li>
                        Chicago - Maximum 12 round capacity
                    </li>
                    <li>
                        Cicero - Maximum 15 round capacity
                    </li>
                    <li>
                        Franklin Park - Maximum 16 round capacity
                    </li>
                    <li>
                        Oak Park and Cook County - Maximum 10 round capacity
                    </li>
                    <li>
                        Riverdale - Maximum 35 round capacity
                    </li>
                </ol>
            </li>
            <li class="policyUL">
                Ohio –
                <ol type="i">
                    <li>
                        Cincinnati - Handguns Maximum 15 round capacity
                    </li>
                    <li>
                        Cincinnati - Rifles Maximum 10 round capacity
                    </li>
                    <li>
                        Cincinnati - Shotguns Maximum 5 round capacity
                    </li>
                    <li>
                        Cleveland - Maximum 20 round capacity
                    </li>
                    <li>
                        Ohio - Dayton - Handguns Maximum 20 round capacity
                    </li>
                    <li>
                        Dayton - Rifles Maximum 10 round capacity
                    </li>
                    <li>
                        Dayton - Shotguns Maximum 6 round capacity
                    </li>
                    <li>
                        Dunlin - Maximum 10 round capacity
                    </li>
                    <li>
                        Shaker Heights - Maximum 10 round capacity
                    </li>
                    <li>
                        Toledo - Maximum 10 round capacity
                    </li>
                </ol>
            </li>
        </ol>
        <p><b>Air Gun Restrictions</b></p>
        <ol type="a">
            <li>
                Washington D.C.: Can not Ship
            </li>
            <li>
                New York City (including Manhattan, Brooklyn, Bronx, Queens, Staten Island): Can not ship
            </li>
            <li>
                Philidelphia PA: Can not ship
            </li>
            <li>
                Johnson City, Tn: Can not ship
            </li>
            <li>
                Illinois (other than Chicago): Any air gun shooting a projectile over .18" or any airgun shooting 700 fps must go to FFL dealer.
            </li>
            <li>
                Michigan: Any pellet gun must go to a FFL dealer (All state laws apply to these airguns)
            </li>
            <li>
                Michigan: Any bb gun with riffled barrel, or that is .22 caliber or greater must go to FFL (All state laws apply to these airguns)
            </li>
            <li>
                New Jersey: Requires FFL to transfer on all air guns.
            </li>
            <li>
                Delaware: Requires FFL to transfer on all air guns.
            </li>
            <li>
                Rhode Island: Requires FFL to transfer on all air guns.
            </li>
            <li>
                North Dakota: Requires FFL to transfer on all air guns.
            </li>
            <li>
                Minnesota: Guns capable of shooting pellets require FFL to transfer.
            </li>
        </ol>
        <p><b>MISPRINTS</b></p>
        <ul>
            <li>
                All descriptions are provided by the manufacturer of the item. Though we have made every effort to ensure the accuracy of information in this website, we will not be held liable for errors or omissions. If you have a question about the product, please contact us before ordering.
            </li>
        </ul>
        <p><b>PICTURES</b></p>
        <ul>
            <li>
                The pictures we provide are a representation of an item or of a group of items. It may not match the exact item that you are looking at. Please make sure to read the title and description of the item.
            </li>
            <li>
                Product pictures are provided as a convenience to our Customers. Manufactures do not always have a picture for every item they produce. This leaves some products without a picture. We provide these missing pictures with a picture of a like item.
            </li>
        </ul>
    </div>
</body>
</html>
