﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Terms And Conditions</title>
    <link href="~/Content/HugoStyles.css" rel="stylesheet" />
</head>
<body class="policy">
    <div class="policywrap">
        <p>
            <div class="policyTitle">
                TERMS AND CONDITIONS
            </div>
            <div class="policySubTitle">
                May 1, 2015
            </div>
        </p>
        <p>
            Please read the following general website Terms and Conditions (these "T&Cs", “TOS” or “Agreement”) carefully before accessing the www.wholesalehunter.com and any web site operated by Open Air Authority, LLC.. (together, the “Sites”), before registering accounts on the Sites ("Account(s)"), making purchases on the Sites or submitting any content to the Sites so that you are aware of your legal rights and obligations with respect to Open Air Authority, LLC., the Sites and any of our affiliates, parents and subsidiaries (individually and collectively, "we," "us," “our” or "OAA"). These T&Cs incorporate by reference any and all terms and restrictions provided in the Products & Legal Restrictions as well as Terms of Sale provided on the Sites. To the extent that anything in, or associated with, either Products & Legal Restrictions or Terms of Sale is in conflict or inconsistent with this Agreement, this Agreement shall take precedence.
        </p>
        <p class="policyTitle">
            IMPORTANT INFORMATION TO NOTE:
        </p>
        <p class="policyEmphasis">
            <ul>
                <li class="policyUL">
                    SOME OF OUR PRODUCTS, INCLUDING BUT NOT LIMITED TO GUNS, AMMUNITION AND OTHER WEAPONRY HAVE VARIOUS SPECIFIC RESTRICTIONS ON SALE, DELIVERY AND TRANSPORT AS DELINEATED BY LOCAL, STATE AND FEDERAL LAWS AND REGULATIONS. ANY SUCH LAWS ARE INCORPORATED BY REFERENCE INTO THESE T&CS.
                </li>
                <li class="policyUL">
                    YOU AFFIRM THAT YOU ARE EITHER AT LEAST 18 YEARS OF AGE, AN EMANCIPATED MINOR, OR POSSESS LEGAL PARENTAL OR GUARDIAN CONSENT, AND ARE FULLY ABLE AND COMPETENT TO ENTER INTO THE TERMS, CONDITIONS, OBLIGATIONS, AFFIRMATIONS, REPRESENTATIONS, AND WARRANTIES SET FORTH IN THESE T&Cs, AND TO ABIDE BY AND COMPLY WITH THESE T&Cs.
                </li>
                <li class="policyUL">
                    ALL INFORMATION PROVIDED ON THE SITES IS ACCURATE AT THE TIME OF PUBLICATION. PLEASE NOTE THAT WE MAY DISPLAY AN IMAGE OF ONLY ONE OF THE SIZES OF A PRODUCT, AS IMAGES FOR ALL SIZES MAY NOT BE AVAILABLE. PRODUCT DESCRIPTIONS, IMAGES AND INGREDIENTS ARE BELIEVED TO BE ACCURATE BUT MAY BE CHANGED AT ANYTIME BY MANUFACTURERS. PLEASE REFER TO THE MANUFACTURERS WEBSITE FOR THE LATEST INFORMATION.
                </li>
                <li class="policyUL">
                    OUR BUSINESS CHANGES CONSTANTLY, AS DO OUR PRIVACY POLICY AND ANY RULES, REGULATIONS AND FAQ POSTED ON THE SITES, INCLUDING THESE T&CS.  WE MAY OR MAY NOT E-MAIL OR IN OTHER WAYS PROVIDE YOU WITH PERIODIC REMINDERS OF CHANGES TO OUR POLICIES, BUT IT IS YOUR EXPRESSED OBLIGATION TO CHECK THE SITES FREQUENTLY TO SEE IF THERE ARE ANY RECENT CHANGES TO ANY OF OUR POLICIES OR THESE T&CS. WE RESERVE THE RIGHT TO REVISE THESE T&CS AT ANY TIME WITHOUT PROVIDING NOTICE TO OUR CUSTOMERS. YOUR CONTINUED USE OF THE SITES, THE SERVICES (AS HEREINAFTER DEFINED) AND/OR YOUR ACCOUNT SHALL BE DEEMED AN IRREVOCABLE ACCEPTANCE OF ANY SUCH REVISIONS.
                </li>
                <li class="policyUL">
                    ACCESS TO THE SITES IS VOID AND UNAUTHORIZED WHERE PROHIBITED BY APPLICABLE LAW OR REGULATION.
                </li>
            </ul>
        </p>
        <ol>
            <li class="policyUL">
                <b>Description of Products:</b> The Sites enable our customers, users and visitors (together “Customers”) to purchase various products, including but not limited to hunting, fishing and general sporting goods and merchandise (together, the “Products”).
                <ol type="a">
                    <li class="policyUL">
                        me of our Products, including but not limited to guns, ammunition and other weaponry have various specific restrictions on sale, delivery and transport as delineated by local, state and federal laws and regulations (“Laws”). Any such Laws are incorporated by reference into these T&Cs.
                    </li>
                    <li class="policyUL">
                        We reserve the right to add, change, modify, suspend or discontinue any portion of the Sites or the Products offered at any time.
                    </li>
                    <li class="policyUL">
                        We may also impose limits on certain services and features (together “Services”), limit any Products or restrict your access to the Sites in our sole and absolute discretion and without notice or liability to anyone.
                    </li>
                    <li class="policyUL">
                        <b>MISPRINTS</b>
                        <ol type="i" class="policyUL">
                            All descriptions are provided by the manufacturer of the item. Though we have made every effort to ensure the accuracy of information in this website, we will not be held liable for errors or omissions. If you have a question about the product, please contact us before ordering.
                        </ol>
                    </li>
                    <li class="policyUL">
                        <b>PICTURES</b>
                        <ol type="i">
                            <li>
                                The pictures we provide are a representation of an item or of a group of items. It may not match the exact item that you are looking at. Please make sure to read the title and description of the item.
                            </li>
                            <li>
                                Product pictures are provided as a convenience to our Customers. Manufactures do not always have a picture for every item they produce. This leaves some products without a picture. We provide these missing pictures with a picture of a like item.
                            </li>
                        </ol>
                    </li>
                </ol>
            </li>
            <li class="policyUL">
                <b>The Sites: </b> These T&Cs apply to all Customers of www.wholesalehunter.com or any of the sites operated by Open Air Authority, LLC..  The Sites includes proprietary and third party information, including but not limited to all products, pictures, reviews, labels and other information supplements, in textual, visual, audio, video and/or other digital formats offered via the Sites. 
                <ol type="a">
                    <li class="policyUL">
                        These T&Cs incorporate by reference any and all terms and restrictions provided in the Products & Legal Restrictions as well as Terms of Sale provided on the Sites.
                    </li>
                    <li class="policyUL">
                        To the extent that anything in, or associated with, either Products & Legal Restrictions or Terms of Sale is in conflict or inconsistent with this Agreement, this Agreement shall take precedence.
                    </li>
                    <li class="policyUL">
                        <u>Purchasing</u>. Some of our Products, including but not limited to guns, ammunition and other weaponry are subject to specific restrictions on sale, delivery and transport as delineated by applicable Laws. During either the checkout process or Account registration, see below, you may be prompted for information regarding yourself, your purchase and/or your state of residence or delivery. Whenever prompted or such information, you agree to provide accurate, current and complete information about yourself and the transaction. You also represent that we may rely on your information you provide as accurate, current and complete.
                    </li>
                </ol>
            </li>
            <li class="policyUL">
                <b>Registration:</b> In order to have access to certain Services, including but not limited to purchasing Products, you may be required or provided with the option to create an Account.  You may never use someone else’s Account.
                <ol type="a">
                    <li class="policyUL">
                        <u>Registration Data.</u> When creating an Account on either Site, you agree to provide accurate, current and complete information about yourself ("Registration Data") as prompted by our registration form. Registration Data may include your e-mail address, user name, password, date of birth, shipping address, billing address and credit card information. You also represent that we may rely on your Registration Data as accurate, current and complete. You agree to maintain and update your Registration Data to keep it accurate, current and complete. We reserve the right, in our sole and absolute discretion, to terminate your Account for inaccurate, untrue, deceptive and/or incomplete Registration Data.
                    </li>
                    <li class="policyUL">
                        <u>Username and Password:</u> As part of the registration process, you may be asked to select a username and password. We may refuse to grant you the usage of any username, which in our sole and absolute discretion, is deemed to be invalid. Invalid usernames include, but are not limited to, usernames that are fashioned to impersonate another person, are protected by trademark law or other proprietary rights, are vulgar or otherwise offensive or those that may cause confusion. These are only some examples of invalid usernames and we reserve the sole right, at our own discretion, to deem any username invalid.
                    </li>
                    <li class="policyUL">
                        You are solely responsible for maintaining the confidentiality of your username and password and for any and all purchases, communications and other activities that are conducted through your Account. You agree not to transfer, sell or resell your username and/or password, or otherwise provide access to the Sites, through the use of your username and password, to any third party. If you have reason to believe that your Account is no longer secure, you must promptly change your password or contact us directly.
                    </li>
                </ol>
            </li>
            <li class="policyUL">
                <b>Eligibility: </b> When creating an Account on either Site, you agree to provide accurate, current and complete information about yourself ("Registration Data") as prompted by our registration form. Registration Data may include your e-mail address, user name, password, date of birth, shipping address, billing address and credit card information. You also represent that we may rely on your Registration Data as accurate, current and complete. You agree to maintain and update your Registration Data to keep it accurate, current and complete. We reserve the right, in our sole and absolute discretion, to terminate your Account for inaccurate, untrue, deceptive and/or incomplete Registration Data.
                <ol type="a">
                    <li class="policyUL">
                        <u>Age restrictions</u> The above not withstanding, many of our Products, including guns and ammunitions, have specific age restrictions based on product specifics and the Customer’s state of residence or delivery. Some such Products may be limited to those at least 18 or 21 years of age. You hereby acknowledge and agree that it is your explicit responsibility to remain informed and up-to-date on any and all such Laws and restrictions that may apply to you.
                    </li>
                    <li class="policyUL">
                        <u>Shipping Restrictions:</u> The above not withstanding, many of our Products, including guns and ammunitions, have specific purchase and shipping restrictions. Your particular state of residence may restrict, forbid or control the online purchase and shipping of such Products. In addition, the US federal government has specific export and shipping restrictions on certain Products. You hereby acknowledge and agree that it is your explicit responsibility to remain informed and up-to-date on any and all such Laws and restrictions that may apply to you.
                    </li>
                    <li class="policyUL">
                        <u>Quantity Restrictions: </u> In accordance with our policies and any applicable Laws, we reserve the right to set quantity-per-order limits on any and all Products sold on the Sites. We may also limit the Product quantity available to any single person or household over a given period of time.
                    </li>
                    <li class="policyUL">
                        <u>Eligibility.</u> You acknowledge that your eligibility to purchase any specific Product and/or have it shipped or delivered may be restricted as provided above. You therefore represent that we may rely on any and all information you provide us when assessing any such applicable restrictions. The above not withstanding, you agree that it is your explicit responsibility to remain informed and up-to-date on any and all laws, regulations and restrictions that may apply to you. We at all times attempt to comply with applicable Laws. In the process we may provide you, our Customers, with information about laws, regulations and restrictions applicable to certain Products. Nothing provided herein with in any way diminishes or negates your explicit responsibility to keep informed of applicable Laws and to purchase and/or ship Products in accordance with any specific Laws applicable to you and your state of residence.  
                    </li>
                </ol>
            </li>
            <li class="policyUL">
                <b>Term/Termination: </b>We may decide at any time in our sole and absolute discretion whether to remove and/or terminate a Customer’s access to the Sites or any Product, for any reason, including but not limited to violations of these T&Cs. We may or may not provide notice to you of such termination through any reasonable means including, but not limited to, sending notice to you at the e-mail address that you provided during or subsequent to registration or purchase. Such termination is effective when executed by us or upon transmittal by us. However, your obligations of indemnification pursuant to these T&Cs shall survive any termination or the cancellation of your Account.
                <ol type="a">
                    <li class="policyUL">
                        Withdrawal of consent or request to have your Account terminated will have no effect on the legal validity and/or enforceability of these T&Cs for the time period prior to your request and during the time period needed for us to reasonably act to comply with your request.
                    </li>
                </ol>
            </li>
            <li class="policyUL">
                <b>Content on the Sites: </b>All information provided on the Sites is accurate at the time of publication. Please note that we may display an image of only one of the sizes of a Product, as images for all sizes may not be available. Product descriptions and images are believed to be accurate but may be changed at anytime by manufacturers. Please refer to the manufacturers website for the latest information.
                <ol type="a">
                    <li class="policyUL">
                        We may provide you with information regarding current Laws and restrictions applicable to some of our Products, including but not limited to guns ammunitions and other weaponry. Be aware that at no time do we claim that this information is complete, timely or up to date. The above not withstanding, you agree that it is your explicit responsibility to remain informed and up-to-date on any and all Laws and restrictions that may apply to you and/or your purchase. Nothing provided herein with in any way diminishes or negates your explicit responsibility to keep informed of applicable Laws and to purchase and/or ship Products in accordance with any such Laws.
                    </li>
                    <li class="policyUL">
                        The Sites include content provided by third parties and Customers. We are a distributor of such content and not its publisher.
                    </li>
                    <li class="policyUL">
                        Customers may submit or post on the Sites personal reviews on Products listed as well as opinions on the current state of the Law. The information listed, uploaded, posted or made available by Customers is those of the respective Customers and not of OAA, and should not necessarily be relied upon. Customers who post any content are solely responsible for the accuracy, completeness or usefulness of such content. OAA does not guarantee the accuracy, completeness or usefulness of any information made available by Customers and neither adopts, endorses, nor is responsible for the accuracy, completeness or reliability of any opinion, advice or statement made on the Sites. Customers understand and agree that OAA will not be responsible for, and Customers hereby agree to hold OAA harmless from, any and all loss or damage resulting from anyone's reliance on information or other content posted on the Sites by third parties or other Customers. 
                        <br /><br />
                        <ol type="i">
                            <li class="policyUL">
                                Regardless of any opinion on content submitted by other Customers, you agree that it is your explicit responsibility to remain informed and up-to-date on any and all Laws and restrictions that may apply to you and/or your purchase. Information submitted and/or published to our Sites by other Customers in no way diminishes or negates your explicit responsibility to keep informed of applicable Laws and to purchase and/or ship Products in accordance with any such Laws.
                            </li>
                        </ol>
                    </li>
                    <li class="policyUL">
                        You may access such information solely (a) for your general information and personal use; and (b) as intended through the normal functionality of the Sites.
                    </li>
                </ol>
            </li>
            <li class="policyUL">
                <b>Customers Submissions and Comments. </b> This section governs the Submission of any photograph(s), video(s), image(s), text and/or comment(s) or other content to the Sites.  As Customers you may, where and if available, submit or post video, photographic and textual content or comments (“Submission(s)”).  Customers agree that whether published or not, OAA does not guarantee the confidentiality of their Submissions. OAA does not condone or tolerate the submission of illegal and/or inappropriate content. By posting your Submissions, or attempting to post your Submissions, you hereby agree, and are fully subject, to these content terms ("Content Terms"). These Content Terms govern each and every Submission that you post to the Sites. In consideration for posting your Submissions, you represent, warrant and agree that:
                <ol type="a">
                    <li class="policyUL">
                        You are eighteen (18) years of age or older, an emancipated minor, or possess the necessary legal parental or guardian consent to enter into these T&Cs;
                    </li>
                    <li class="policyUL">
                        You are the individual identified in the Submissions or, if the Submissions identify other individual(s), that you have previously obtained from the individual(s) identified, and/or their authorized representatives, the written permission and consent for such use, publication and/or display. You further agree that you will provide OAA with a copy of such written permission and consent upon request. Submissions which identify third parties do not create any type of agreement whatsoever between OAA and said third parties as there are no third party beneficiaries to these T&Cs or to our Privacy Policies;
                    </li>
                    <li class="policyUL">
                        The Submissions do not contain obscene material, as defined under US local, state or federal law, including, without limitation, violence, other illegal activities and/or contraband;
                    </li>
                    <li class="policyUL">
                        You have full rights to use and dispose of any rights including, without limitation, any and all copyrights, associated with the Submissions;
                    </li>
                    <li class="policyUL">
                        No other party has any rights, including intellectual property rights, to the Submissions;
                    </li>
                    <li class="policyUL">
                        You hereby grant OAA, its parents, subsidiaries, affiliates and assigns a non-exclusive, unlimited, worldwide, fully paid, irrevocable license to copyright, edit, copy, use, destroy and publish the Submissions as permitted by these T&Cs and our Privacy Policies.  This license shall permit and include the usage of Submissions in any advertisements in any media or form. This section shall survive any termination of the Agreement.
                    </li>
                    <li class="policyUL">
                        OAA may, in its sole and absolute discretion, choose to screen Submissions and reject any Submissions for any reason, or no reason, whatsoever;
                    </li>
                    <li class="policyUL">
                        You waive any right that you may have to inspect or approve any finished product or copy using the Submissions;
                    </li>
                    <li class="policyUL">
                        OAA may include or add editorial copy or other writings or graphics to the Submissions;
                    </li>
                    <li class="policyUL">
                        You are subject to any other guidelines, rules and regulations that may appear at the Sites; and
                    </li>
                    <li class="policyUL">
                        Neither you nor anyone else will receive, either now or in the future, any compensation from anyone, for the Submissions.
                    </li>
                </ol>
            </li>
            <li class="policyUL">
                <b>Online Conduct:</b> You are solely responsible for the Submissions and other information that you publish, transmit or post to the Sites, including the Registration Data. You agree to use the Sites in a manner consistent with any and all applicable Laws as they now exist or may herein after be promulgated. You agree not to:
                <ol type="a">
                    <li class="policyUL">
                        post, or attempt to post, any text, audio, photographs, videos or other images containing offensive and/or confidential information;
                    </li>
                    <li class="policyUL">
                        lie or mislead other Customers with respect to any applicable Law;
                    </li>
                    <li class="policyUL">
                        impersonate any person or entity;
                    </li>
                    <li class="policyUL">
                        "stalk" or otherwise harass any person via the Sites;
                    </li>
                    <li class="policyUL">
                        engage in advertising to, or solicitation of, other Customers to buy or sell any products or services through the Sites;
                    </li>
                    <li class="policyUL">
                        express or imply, without our specific, prior, written consent that any statements you make are endorsed or agreed to by OAA;
                    </li>
                    <li class="policyUL">
                        harvest or collect personal information about other Customers, whether or not for commercial purposes, without their express consent;
                    </li>
                    <li class="policyUL">
                        use any robot, spider, website search/retrieval application, or other manual or automatic device or process to retrieve, index, "data mine," or in any way reproduce or circumvent the navigational structure or presentation of the Sites or their contents;
                    </li>
                    <li class="policyUL">
                        post, distribute or reproduce in any way any copyrighted material, trademarks or other proprietary information without obtaining the prior consent of OAA;
                    </li>
                    <li class="policyUL">
                        remove any copyright, trademark or other proprietary rights notices contained on the Sites;
                    </li>
                    <li class="policyUL">
                        interfere with or disrupt the Sites, or the servers and/or networks connected to the Sites;
                    </li>
                    <li class="policyUL">
                        post, e-mail or otherwise transmit any material that contains software viruses or any other computer code, files or programs designed to interrupt, destroy or limit the functionality of any computer software or hardware or telecommunications equipment;
                    </li>
                    <li class="policyUL">
                        forge headers or otherwise manipulate identifiers in order to disguise the origin of any information transmitted through the Sites;
                    </li>
                    <li class="policyUL">
                        "frame" or "mirror" any part of the Sites, without our specific, prior written authorization; or
                    </li>
                    <li class="policyUL">
                        use metatags, code or other devices containing any reference to OAA or the Sites in order to direct any person to any other website for any purpose; and/or modify, adapt, sublicense, translate, sell, reverse engineer, decipher, decompile or otherwise disassemble any portion of the Sites or any software used on or for the Sites or cause others to do so.
                    </li>

                </ol>
            </li>
            <p>
                OAA reserves the right, but has no obligation, to reject any Account or Submission that does not comply, in OAA sole and absolute discretion, with these prohibitions. Engaging in any of the aforementioned prohibited practices shall be deemed a breach of these T&Cs and may result in the immediate termination of your Account pursuant to the terms of these T&Cs.  OAA reserves the right to pursue any and all legal remedies against Customers who engage in any of the aforementioned prohibited conduct. However, in any event, OAA assumes no responsibility for the conduct of Customers on the Sites.
            </p>
            <li class="policyUL">
                <b>License Grant:</b> As a Customer, you are granted a non-exclusive, non-transferable, revocable and limited license to access and use the Sites (and their associated content) and Services in accordance with this Agreement. We retain the right to terminate this license, without notice, in our sole and absolute discretion, at any time for any reason whatsoever.  We also reserve any rights not explicitly granted in these T&Cs.
            </li>
            <li class="policyUL">
                <b>Proprietary Rights of Content:</b>  The content on the Sites, including without limitation, the text, software, scripts, graphics, photos, sounds, music, videos, interactive features and the like (the “Content”) and the trademarks, service marks and logos contained therein (the “Marks”), are owned by or licensed to OAA, subject to copyright and other intellectual property rights. The copying, redistribution or publication by you of any part of the Sites is strictly prohibited. You do not acquire ownership rights to any Content, Marks, Products or other materials viewed at, on or through the Sites. The posting of information or material at or on the Sites by us does not constitute a waiver of any right in such information and materials.
            </li>
            <li class="policyUL">
                <b>Digital Millennium Copyright Act</b>
                <ol type="a">
                    <li class="policyUL">
                        <u>DMCA Notice:</u> If you are a copyright owner or an agent thereof and believe that any Submissions or other Content infringes upon your copyrights, you may submit a notification pursuant to the Digital Millennium Copyright Act (“DMCA”) by providing our Copyright Agent (defined below) with the following information in writing (see 17 U.S.C. 512(c)(3) for more detail):
                        <ol type="i">
                            <li class="policyUL">
                                A physical or electronic signature of a person authorized to act on behalf of the owner of an exclusive right that is allegedly infringed;
                            </li>
                            <li class="policyUL">
                                Identification of the copyrighted work claimed to have been infringed, or, if multiple copyrighted works are covered by a single notification, a representative list of such works at that Sites;
                            </li>
                            <li class="policyUL">
                                Identification of the material that is claimed to be infringing or to be the subject of infringing activity and that is to be removed or access to which is to be disabled, and information reasonably sufficient to permit the service provider to locate the material;
                            </li>
                            <li class="policyUL">
                                Information reasonably sufficient to permit the service provider to contact the complaining party, such as an address, telephone number, and, if available, an electronic mail address at which the complaining party may be contacted;
                            </li>
                            <li class="policyUL">
                                A statement that the complaining party has a good faith belief that use of the material in the manner complained of is not authorized by the copyright owner, its agent, or the law; and
                            </li>
                            <li class="policyUL">
                                A statement that the information in the notification is accurate, and under penalty of perjury, that the complaining party is authorized to act on behalf of the owner of an exclusive right that is allegedly infringed.
                                <br /><br />
                                OAA’s designated Copyright Agent to receive notifications of claimed infringement is:
                                <br /><br />
                                Copyright Agent<br />
                                c/o Open Air Authority, LLC.<br />
                                34 Fire Tower Rd.<br />
                                Wetumpka AL 36093<br />
                                <a href="mailto:support@wholesalehunter.com">support@wholesalehunter.com</a>
                                <br /><br />
                                You acknowledge that if you fail to comply with all of the requirements of this section, your DMCA notice may not be valid. 
                            </li>

                        </ol>
                    </li>
                </ol>

            </li>
            <li class="policyUL">
                <b>Privacy:</b> Your privacy is very important to us.  To better protect your rights, we have provided you with our Privacy Policy. To read our Privacy Policy, please use the link provided on each Site’s home page.
            </li>
            <li class="policyUL">
                <b>Indemnification:</b> You agree to indemnify, defend and hold us, and our subsidiaries, affiliates, officers, parent companies, agents, co-branders or other partners, and employees (each a "Covered Party"), harmless, at your expense, against any and all claims, actions, proceedings, and suits and all related liabilities, damages, settlements, penalties, fines, costs and expenses (including, without limitation, reasonable attorneys' fees and other dispute resolution expenses) incurred by any Covered Party or other third party and arising out of:
                <ol type="a">
                    <li class="policyUL">
                        Your actions or omission in violation of applicable Laws;
                    </li>
                    <li class="policyUL">
                        Your Submission or any false or misleading information;
                    </li>
                    <li class="policyUL">
                        Any purchase order and/or provision of delivery instructions provided by you in violation of applicable Laws;
                    </li>
                    <li class="policyUL">
                        Any actions or omission taken by OAA pursuant to any purchase order or delivery instruction provided by you in violation of applicable Laws;
                    </li>
                    <li class="policyUL">
                        Any actions or omission taken by OAA in violation of applicable Laws pursuant to erroneous or false information provided by you;
                    </li>
                    <li class="policyUL">
                        Your use or misuse of the Sites;
                    </li>
                    <li class="policyUL">
                        Your use or misuse of the Products; or
                    </li>
                    <li class="policyUL">
                        Arising from your breach of this Agreement, Products & Legal Restrictions or Terms of Sale.
                    </li>
                </ol>
            </li>
            <li class="policyUL">
                <b>WARRANTIES: </b> You expressly agree that access and use of the Sites is at your sole risk. The Sites are provided on an "AS IS" and "AS AVAILABLE" basis, without any express or implied warranty of any kind, including, but not limited, non-infringement of intellectual property. The Sites may contain bugs, errors, problems or other limitations.
                <ol type="a">
                    <li class="policyUL">
                        We and the Covered Parties have no liability whatsoever for your use of, or inability to use, the Sites to the fullest extent permitted by applicable law.
                    </li>
                    <li class="policyUL">
                        We and the Covered Parties are not liable to you or to any third party for any indirect, special, incidental or consequential damages, whether based on breach of contract, breach of warranty, tort (including negligence), product liability or otherwise, even if advised of the possibility of such damages.
                    </li>
                    <li class="policyUL">
                        The negation of damages set forth above is a fundamental element of the basis of the bargain between OAA and you. The Sites and Products would not be provided to you without such limitations. No advice or information, whether oral or written, obtained by you from OAA through the Sites shall create any warranty, representation or guarantee not expressly stated in this Agreement. 
                    </li>
                    <li class="policyUL">
                        We are not responsible to you or any third party, without limitation, for: 1) any error, omission, interruption, deletion, defect, delay in operation or transmission, communications line failure, theft or destruction or unauthorized access to or alteration of communications; 2) the conduct or Submission of any Customers, whether online or offline; 3) any computer virus or other malicious, destructive or corrupting code, agent, program or macros; or 4) any infringement of another's rights, including intellectual property rights.
                    </li>
                    <li class="policyUL">
                        You agree that OAA is not the publisher of Submissions found on the Sites and, as such, shall not be liable for damages arising there from including, without limitation, any and all criminal and/or civil liability.
                    </li>
                    <li class="policyUL">
                        OAA shall not be liable to you for any Products, Content or information available from third parties, even if obtained at or through the Sites and/or Services. If you are dissatisfied with the Sites or with this Agreement, your sole and exclusive remedy is to discontinue use of the Sites.
                    </li>
                </ol>
            </li>
            <li class="policyUL">
                <b>Third-party Websites:</b> The Sites may contain links to other websites owned and operated by OAA, as well as links, banner advertisements, pop-ups and/or other online methods to redirect you to other third party websites not owned or controlled by OAA.  OAA has no control over, and assumes no responsibility or liability for, the content, privacy policies, or practices of any third party website.  By using the Sites, you expressly relieve OAA from any and all liability arising from your use of any third party website.  Furthermore, OAA does not endorse, and is not responsible or liable for, any content, advertising, services, products or other materials at or available through such third party websites or resources, or for any damages or losses arising there from.
                <ol type="a">
                    <li class="policyUL">
                        Accordingly, you are encouraged to be aware when you leave the Sites and to read the terms and conditions and privacy policies of each other website that you visit.  You will bound by the terms and conditions, policy policies, and rules and regulations of any OAA or third party website you access through the Sites.
                    </li>
                </ol>
            </li>
            <li class="policyUL">
                <b>Miscellaneous:</b> Should any part of this Agreement be held invalid or unenforceable, that portion shall be construed consistent with applicable law and the remaining portions shall remain in full force and effect. To the extent that anything in, or associated with, the Sites is in conflict or inconsistent with this Agreement, this Agreement shall take precedence. Our failure to enforce any provision of this Agreement shall not be deemed a waiver of such provision nor of the right to enforce such provision, or any other provisions in this Agreement.
                <ol type="a">
                    <li class="policyUL">
                        You expressly authorize us to comply with any and all lawful notices, subpoenas, court orders or warrants without prior notice to you.
                    </li>
                </ol>
            </li>
            <li class="policyUL">
                <b>DISPUTE RESOLUTION: </b> If a dispute arises between you and us, our goal is to provide you with a neutral and cost effective means of resolving the dispute quickly. We strongly encourage you to first contact us directly to seek a resolution by sending an email to <a href="mailto:support@wholesalehunter.com">support@wholesalehunter.com</a>. We will consider reasonable requests to resolve the dispute through alternative dispute resolution procedures, such as mediation or arbitration, as alternatives to litigation.
            </li>
            <li class="policyUL">
                <u>Choice of Law and Forum</u> This Agreement shall be treated as though it were executed and performed in Elmore County Alabama and shall be governed in all respects by the laws of the State of Alabama without regard to conflict of law provisions. You agree that any claim or dispute you may have against us must be resolved by a court located in Elmore County Alabama, except as otherwise agreed by the parties. You agree to submit to the personal jurisdiction of the courts located within Elmore County Alabama for the purpose of litigating all such claims or disputes. OAA sets the sum of $1,500.00 as liquidated damages for breach of this agreement above a reasonable attorney's fee.
                <ol type="a">
                    <li class="policyUL">
                        <u>Improperly Filed Claims.</u> All claims you bring against us must be resolved in accordance with this Dispute Resolution Section. All claims filed or brought contrary to this Dispute Resolution Section shall be considered improperly filed. Should you file a claim contrary to the Dispute Resolution Section, we may recover attorneys' fees and costs, provided that we notified you in writing of the improperly filed claim, and you have failed to promptly withdraw the claim.  
                    </li>
                </ol>
            </li>
            <li class="policyUL">
                <b>Contact Us:</b>
                <div>
                    <br />
                    Open Air Authority, LLC <br />
                    34 Fire Tower Road <br />
                    Wetumpka AL 36093<br />
                    1-888-900-4868 <br />
                    <a href="mailto:Support@wholesalehunter.com">Support@wholesalehunter.com</a>

                </div>
            </li>
        </ol>
    </div>
</body>
</html>
