﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TermsOfSale</title>
    <link href="~/Content/HugoStyles.css" rel="stylesheet" />
</head>
<body class="policy">
    <div class="policywrap">
        <p>
            <div class="policyTitle">
                TERMS OF SALE
            </div>
            <div class="policyTitle">
                SHIPPING, RETURNS AND EXCHANGES
            </div>
        </p>
        <p>
            These Terms of Sale apply to all Customers of www.wholesalehunter.com or any of the stores operated by Open Air Authority, LLC. (“Sites”).
        </p>
        <ol>
            <li class="policyUL">
                <b>Shipping and Delivery:</b>
                <ol type="a">
                    <li class="policyUL">
                        <span class="policyRed">Ship and/or delivery dates are not guaranteed under any circumstances regardless of the method chosen for shipping.</span> All dates given, both verbally and written, are estimates based on average movement of shipments. Any orders cancelled or returned due to shipping and/or delivering delays are subject to all cancellation and return fees.
                    </li>
                    <li class="policyUL">
                        <span class="policyRed">Lost, Stolen or Damaged Packages</span> All shipments are fully insured. If a package is lost, stolen or damaged a claim must be filed with the shipping company. Damage must be reported within 2 days of receipt of the package. No replacements or refunds will be issued until the shipping company has completed their investigation. Upon receiving the shipping companies findings and they have decided to pay the claim we will either send a replacement or refund at our discretion.
                    </li>
                    <li class="policyUL">
                        <span class="policyRed">Customers Are Responsible For All Shipping Charges, Cost, And Fees.</span> The customer is fully responsible for all charges, cost and fees related to/with returned shipments and address changes. This includes but is not limited to Undeliverable Addresses, Refused Packages, Address Changes, 3rd Attempt Undeliverable Packages, Cancellation Of An Order After It Ships, and The Return Of Packages To Our Facility With / Without Proper Notification, which includes but is not limited to the issuing of a return merchandise authorization number (RMA). Charges, Cost, and Fees may include but are not limited to shipping charges, cost and fees to the customer, shipping charges, cost and fees back to our facility, and shipping charges, cost and fees back to the customer. If a package is returned to us and delivered to the wrong facility, the customer is responsible for the charges, cost and fees related to shipping the package to the proper facility. If the customer refuses to pay for any shipping charges, cost, or fees accrued after the initial shipping of the package we reserve the right to deduct all charges, cost and fees from the customers refund.
                    </li>
                    <li class="policyUL">
                        Once a package has been delivered back to our facility, we will attempt to contact the customer via the information they have provided us. The customer has 2 business days from the time the package is delivered to our facility to contact us and make arrangements for reshipping of the package. After those 2 business days have elapsed, we reserve the right to ship the package back to the proper facility, if it is not already been delivered there, and issue the customer a refund minus the charges, cost and fees mentioned in this agreement.
                    </li>
                    <li class="policyUL">
                        <span class="policyRed">Address Corrections/Changes After Order Ships = Minimum of $20.00 + Shipping Fees</span>
                    </li>
                    <li class="policyUL">
                        <span class="policyRed">Package Intercepts  Minimum of $20.00 + Shipping Fees</span>
                    </li>
                </ol>
            </li>
            <li class="policyUL">
                <b>Payments by Credit Card: </b> We will accept credit cards payment as cash. In order to reduce credit card fraud, we reserve the right to require identification of card holder.  In some cases, we may require a FAX copy of your credit card and Drivers license. We will require FAX copies if your shipping address is other than your verified billing address.  We reserve the right to decline any credit card that doesn't meet our internal policies.  The buyer agrees not to process any charge backs for any charge that the buyer had authorized. We will credit your credit card for any items returned for refund or any items lost in shipping that comply with the terms of this agreement. If this provision is breached and a charge back is processed in violation of this agreement, we may charge your card for the amount of the charge back, all bank fees, and charge back fees.
            </li>
            <li class="policyUL">
                <b>Order Cancellation fee: </b> When you place an order with us it is a legal binding contract. <b>You may not arbitrarily cancel your order with out approval from us and confirmation.</b>  You may request to cancel your order any time before it ships. However, the order is not considered cancelled until we can verify that it has not shipped and you receive our cancellation notification which could take up to two business days. You understand and accept the fact that it may not be possible to cancel an order in time before shipping regardless of how and when you send your order. Please try and understand our shipping process. We have over 100,000 products online. Some products ship from our main location, some ship from remote locations and some products ship directly from the factory. When we receive your order, it is sent to the shipping location within minutes and starts the shipping process. Some locations ship thousands of orders per day. The orders are packed, labeled, and stacked on pallets for UPS to pick up twice a day. We start to incur cost at that moment. It normally takes us one business day to answer email, so by then it is usually too late to cancel. Your order may still show in shipping department long after it ships. Most of our tracking information is updated at night for the days orders. Once your order is in the shipping department, it may not be possible to cancel the order. All we can do is try. <b>The following cancellation fees will apply. Orders placed directly with us will be charged 5% or $5.00, which ever is greater. Orders placed on auction sites will be charged 10% or $10.00, which ever is greater.  If you refuse delivery of any package, you will be charge shipping both ways, restocking fees and other administration fees we incur. Once a package is shipped, the order can not be canceled. You must contact us for return instruction.</b>
            </li>
            <li class="policyUL">
                <span class="policyRed">We Reserve The Right To Cancel Any Order At Any Time For Any Reason</span>
            </li>
            <li class="policyUL">
                <b>Exchange/Defective Products/Refund Policy</b>
                <br /><br />
                For a more prompt exchange/refund, Please keep your invoice!
                <ol type="a">
                    <li class="policyUL">
                        If it is necessary to return merchandise for an exchange/refund, all merchandise must meet the following conditions:
                        <br />
                        <ul>
                            <li>
                                Returned in original packaging.
                            </li>
                            <li>
                                <span class="policyRed">Returned within (15) days. This can be extended for special circumstances.</span>
                            </li>
                            <li>
                                Returned to us in re-sellable condition.
                            </li>
                            <li>
                                Copy of invoice enclosed with merchandise.
                            </li>
                            <li>
                                You must contact us for a RMA number and write the number on the package.
                            </li>
                            <li>
                                You must return the goods to the warehouse(s) specified in the RMA, and it is the customer's responsibility to verify the correct return address before sending goods back. Any good shipped to the incorrect location will incur additional shipping charges. We are not responsible for any goods returned to the wrong address.
                            </li>
                            <li>
                                Enclose a brief letter of explanation.
                            </li>
                            <li>
                                Merchandise returned for refund is subject to a 15% restock fee.
                            </li>
                            <li>
                                Defective items will be replaced if possible. If a defective item is returned for refund, all restocking fees apply. If we do not have a replacement, you will get a 100% refund of the purchase price of the item. 
                            </li>
                            <li>
                                There is a minimum restocking fee of $5.00.
                            </li>
                            <li>
                                Shipping charges are not refundable.
                            </li>
                            <li>
                                If you return an item for a refund that had free shipping, a normal shipping charge will be deducted from the refund.
                            </li>
                            <li>
                                All returns must be prepaid.
                            </li>
                            <li>
                                <b>No COD's accepted.</b>
                            </li>
                        </ul>
                    </li>
                    <li class="policyUL">
                        <span class="policyRed">Returns and Exchanges NOT Allowed On AIR PISTOLS, AIR RIFLES AND ANY OTHER TYPE OF AIR GUN ALL SALES FINAL ON AIR PISTOLS, AIR RIFLES AND ANY OTHER TYPE OF AIR GUN. All sales are final on these items.</span>
                    </li>
                    <li class="policyUL">
                        <span class="policyRed">Returns and Exchanges NOT Allowed On AMMUNITION. ALL SALES FINAL ON AMMUNITION. All sales are final on these items.</span>
                    </li>
                    <li class="policyUL">
                        <span class="policyRed">Returns and Exchanges NOT Allowed On SCOPES if they have been mounted.</span>
                    </li>
                    <li class="policyUL">
                        <span class="policyRed">Returns and Exchanges NOT Allowed On LEOPOLD OPTICS and other optics if the SEAL has been BROKEN.</span>
                    </li>
                    <li class="policyUL">
                        <span class="policyRed">Returns and Exchanges NOT Allowed On Items manufactured by CAS Hanwei</span>
                    </li>
                    <li class="policyUL">
                        <span class="policyRed">Returns and Exchanges NOT Allowed On BLACK or SMOKELESS POWDERS and PRIMERS.  ALL SALES FINAL ON BLACK or SMOKELESS POWDERS and PRIMERS. All sales are final on these items.</span>
                    </li>
                    <li class="policyUL">
                        <span class="policyRed">Returns and Exchanges NOT Allowed On Floor Safes</span>
                    </li>
                    <li class="policyUL">
                        <span class="policyRed">Returns and Exchanges NOT Allowed On UNDERGARMENTS and / or SWIM WEAR. ALL SALES FINAL ON UNDERGARMENTS and / or SWIM WEAR. All sales are final on these items.</span>
                    </li>
                    <li class="policyUL">
                        <span class="policyRed">Returns and Exchanges NOT Allowed On SAFETY GEAR including harnesses, helmets, and ropes due to safety concerns. All sales are final on these items.</span>
                    </li>
                    <li class="policyUL">
                        <span class="policyRed">Returns and Exchanges NOT Allowed On Tree stands of any kind. All sales are final on these items.</span>
                    </li>
                    <li class="policyUL">
                        <span class="policyRed">Returns and Exchanges NOT Allowed On Bows and / or Crossbows of any kind. All sales are final on these items.</span>
                    </li>
                    <li class="policyUL">
                        <span class="policyRed">Returns and Exchanges NOT Allowed On First Aid Items of any kind. All sales are final on these items.</span>
                    </li>
                    <li class="policyUL">
                        <span class="policyRed">Returns and Exchanges NOT Allowed On Firearms. ALL SALES FINAL ON FIREARMS.</span>
                    </li>
                    <li class="policyUL">
                        If the merchandise you wish to receive is out of stock, a refund/credit will be issued promptly.  All returns for refund paid by credit card will receive a credit to the credit card. 
                    </li>
                    <li class="policyUL">
                        Any questions concerning an exchange/refund should be directed to our customer service department at Toll Free 1-888-900-HUNT ( 1-888-900-4868).  If the merchandise you receive is defective, call our customer service department for instructions
                    </li>
                    <li class="policyUL">
                        For a prompt exchange/refund, return all merchandise to the location specified in the RMA acknowledgement.
                    </li>
                    <li class="policyUL">
                        <b>Item Condition and Packaging</b>
                        <ul>
                            <li>
                                Items will only be accepted for return if the item itself and it's packaging are in new, unopened and unused condition. This includes blister packs and shrink wrapping that an item may come in. Certain manufactures, like Leupold, will not allow us to take items back that the blister pack and or shrink wrapping have been opened
                            </li>
                            <li>
                                In cases that we are unable to take an item back you will need to contact the manufacture for warranty work.
                            </li>
                        </ul>
                    </li>
                    <li class="policyUL">

                    </li>
                </ol>
            </li>
            <li class="policyUL">
                <b>FIREARMS</b>
                <ol type="a">
                    <li>
                        The customer is responsible for verifying that the firearm they are ordering does not violate any of their state or local laws.
                    </li>
                    <li>
                        If the customer orders a firearm that they can not posses they are responsible for returning the firearm and are subject to a restock fee.
                    </li>
                    <li>
                        For all firearm purchases, we must have a copy of your FFL license no later than 5 calendar days (not business days) from your order or your order will be automatically cancelled. Please make sure to supply your order number to your FFL dealer. 
                    </li>
                    <li>
                        <span class="policyRed">ALL FIREARMS MUST BE INSPECTED AT THE TIME YOU PICK THEM UP FROM YOUR FFL.</span>
                    </li>
                    <li>
                        <span class="policyRed">ANY DEFECTS OR DAMAGE MUST BE REPORTED TO US IMMEDIATELY WHILE YOU ARE STILL AT YOUR FFL'S</span>
                    </li>
                    <li>
                        <span class="policyRed">Once a firearms has been picked up from the transfer dealer it is no longer returnable.</span>
                    </li>
                </ol>
            </li>
            <li class="policyUL">
                <b>Warranty/Defective Items/Missing Parts</b><span class="policyRed">
                    *All defective and/or warranty products should be handled through the manufacturer.*
                    *Claims for missing items or items damaged in transit must be received / reported to us within three business days of deliver of merchandise.*
                </span>
                <ul>
                    <li>
                        We are not a repair facility and can not accept items for repair or warranty work.
                    </li>
                    <li>
                        All warranties are through the manufacturer of the product.
                    </li>
                    <li>
                        If the product is missing parts and/or is defective, the customer should first contact the manufacturer for parts and/or repairs.
                    </li>
                </ul>
            </li>
            <li class="policyUL">
                <b>Charge Backs:</b>
                <br />
                <br />
                The customer agrees not to proceed with any actions that would dispute and / or recover any charges, cost or fees that we have collected and / or deducted from the customers refund / account. This includes but is not limited to charge backs and canceling checks. If the customer does pursue any actions that would dispute and / or recover any charges, cost and fees that we have collected and / or deducted from the customers refund / account they agree to pay for any charges, cost or fees we may accrue defending such actions.
                <br /><br />
                <b>**The customer is responsible for any and all charges, cost or fees accrued by as a result of a chargeback being filed. These charges, cost and fees include but are not limited to a $25.00 chargeback initiation fee, arbitration cost, and any legal cost. **</b>
            </li>
        </ol>
    </div>
</body>
</html>
