﻿@model WholesaleHunter.ViewModels.AboutUsViewModel
@using WholesaleHunter.Models

@{
    ViewBag.Title = "About Us";
    ViewBag.Description = "About Us";
}

<link href="~/Content/HugoStyles.css" rel="stylesheet" />

<link href="~/Content/HugoStyles.css" rel="stylesheet" />
<table width="1440" border="0" align="center" cellpadding="0" cellspacing="0">
    <tr>
        <td>
            <table width="1165" border="0" cellspacing="10" cellpadding="0">
                <tr>
                    <td height="35" colspan="3" style="font-size: 36px; font-weight: bold;">ABOUT US</td>
                </tr>
                <tr>
                    <td height="50" colspan="3" valign="top">We are Wholesale Hunter. We have been scouring the world for the best deals on guns, ammo and your other hunting and fishing needs since 1998.</td>
                </tr>
            </table>

            <table width="100%" align="center" border="0" cellspacing="0" cellpadding="0">

                <tr>
                    <td colspan="3" style="font-weight: bold; font-size: 18px;">OUR MISSION:</td>
                </tr>
                <tr>
                    <td height="80" colspan="3" valign="top">
                        We use our massive buying power and worldwide relationships in the sporting goods industry to provide you with the absolute best prices on your<br />
                        hunting and fishing gear. We combine rock-bottom prices with friendly and expert customer service, featuring hunters and sportsmen who are ready<br />
                        to help you find the right products at the best prices.
                    </td>
                </tr>
                <tr>
                    <td width="48%" style="font-weight: bold; font-size: 18px;">OUR STAFF:</td>
                    <td width="4%" rowspan="3" style="font-weight: bold; font-size: 18px;">&nbsp;</td>
                    <td width="48%" style="font-weight: bold; font-size: 18px;">OUR FACILITIES:</td>
                </tr>
                <tr>
                    <td width="48%" height="80" valign="top">
                        Meet the Wholesale Hunter family. These are the faces behind the store,<br />
                        the men and women of good ol’ Alabama who search the world to get you<br />
                        the best prices...when they’re not out hunting, that is.
                    </td>
                    <td width="48%" height="80" valign="top">
                        Our warehouses have goods from over 200 manufacturers.<br />
                        We are more than just a reseller. We are your personal buyer,<br />
                        searching the world for the best prices.
                    </td>
                    
                </tr>
                <tr>
                    <td width="48%">
                        <div height="675" width="90%" frameborder="0" marginwidth="0" scrolling="yes">
                            <table width="100%" border="0" cellspacing="15" cellpadding="0">
                                <tr>
                                    <td width="25%"><img src="~/images/Gordon.jpg" alt="A picture of Gordon." width="100" height="151"></td>
                                    <td width="75%" valign="top">Gordon started online sales of quality hunting goods in 2000. He has enjoyed hunting and fishing all his life, and he finds joy in helping other sportsmen find the products they need in order to enjoy their sports as much as he does. Gordon has hunted in eight states, including Alaska, and in several foreign countries.</td>
                                </tr>
                                <tr>
                                    <td width="25%"><img src="~/images/kevin.jpg" alt="A picture of Kevin." width="100" height="151"></td>
                                    <td width="75%" valign="top">Kevin is part of our management team. He is in charge of operations and keeps the company running smoothly. He holds a degree in Organizational Leadership and is an avid hunter and fisherman.</td>
                                </tr>
                                <tr>
                                    <td width="25%"><img src="~/images/tracy.jpg" alt="A picture of Tracy." width="100" height="151"></td>
                                    <td width="75%" valign="top">Tracy keeps our business running with her many years of experience in customer service and purchasing, making sure that orders are moving smoothly. She enjoys camping, spending time on the lake and riding her Harley.</td>
                                </tr>
                                <tr>
                                    <td width="25%"><img src="~/images/jason.jpg" alt="A picture of Jason." width="100" height="151"></td>
                                    <td width="75%" valign="top">Jason is part of our management team, and has been with Wholesale Hunter since 2008. He holds a degree in Wildlife Sciences and is an avid hunter and fisherman.</td>
                                </tr>
                                <tr>
                                    <td width="25%"><img src="~/images/cristen.jpg" alt="A picture of Cristen." width="100" height="151"></td>
                                    <td width="75%" valign="top">Cristen brings many years of experience to our accounting and sales departments. She enjoys hunting, boating and ATV riding.</td>
                                </tr>
                            </table>
                        </div>
                        
                    </td>
                    <td width="48%">
                        <div height="675" width="90%" frameborder="0" marginwidth="0" scrolling="yes">
                            <table width="100%" border="0" cellspacing="15" cellpadding="0">
                                <tr>
                                    <td><img src="~/images/showcase.jpg" alt="Store showcase." width="400" height="265"></td>
                                </tr>
                                <tr>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td><img src="~/images/warehouse.jpg" alt="Our warehouse." width="400" height="298"></td>
                                </tr>
                                <tr>
                                    <td></td>
                                </tr>
                            </table>
                        </div>
                       
                    </td>
                </tr>

            </table>
        </td>
        <td class="SpecialsPic">
            <div style="position:relative;float:left;width:287px;top:17px;text-align:right;">
                @foreach (var spec in Model.Specials)
            {
                Html.RenderPartial("~/Views/Shared/_Specials.cshtml", spec);
            }
            </div>
            
        </td>
    </tr>
</table>

    
