﻿@model WholesaleHunter.ViewModels.HelpViewModel
@using WholesaleHunter.Models

@{
    ViewBag.Title = "Wholesale Hunter Help";
    ViewBag.Description = "Wholesale Hunter Help";
}

<link href="~/Content/HugoStyles.css" rel="stylesheet" />
@*<script src="~/Scripts/HelpTopics.js"></script>*@

@*<div id="helpMask" class="helpMask">&nbsp;</div>*@
<table width="1440" align="center" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td>
            @Html.Partial("~/Views/Shared/_Help.cshtml")
        </td>
        <td class="SpecialsPic">
            @foreach (var spec in Model.Specials)
            {
                Html.RenderPartial("~/Views/Shared/_Specials.cshtml", spec);
            }
        </td>
    </tr>
</table>
