﻿@model WholesaleHunter.ViewModels.IndexViewModel
@using WholesaleHunter.Models
@{
    string prod_format = "<div class=\"prod_content_img\"><a class=\"prod_link\" href=\"/Product/Details/{0}\"><img src=\"{1}\" alt=\"Link to {2}\" /></a></div><div class=\"prod_content_txt\"><a class=\"prod_link\" href=\"/Product/Details/{0}\"><span class=\"prod_description\">{2}</span><br /><span class=\"prod_price\" style=\"text-align:center;font-size:larger;font-weight:bold;\">{3:C}</span></a></div>";
    string prod_contents;
    int divCnt;

    string rightArrowRecentlyViewedClass = "prod_right_arrow";
    if (Model.RecentlyViewed.Count < 5)
    {
        rightArrowRecentlyViewedClass = "prod_right_arrow_page0";
    }
}

<table width="1440" bgcolor="#ffffff" border="0" align="center" cellpadding="0" cellspacing="0">
    <tr>
        <td width="1440">
            <table width="1440" border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td width="575" rowspan="2">
                        <div class="ism-slider" data-play_type="loop" data-transition_type="fade" id="my-slider">
                            <ol>
                                @{
                                    foreach (Special special in Model.Specials)
                                    {
                                        <li>
                                            <a href="@special.LinkTarget" target="_self">
                                                <img src="@special.ImageLocation" alt="@special.SpecialText" />
                                            </a>
                                        </li>
                                    }
                                }
                            </ol>
                        </div>
                    </td>
                    <td width="290" height="211" valign="top" style="text-align: center; font-family: Verdana, Geneva, sans-serif; font-size: 19px;">
                        Wholesale Hunter offers a wide selection of guns, ammunition, reloading, scopes/optics, hunting and fishing gear.
                        <br />
                        <br />
                        We have over 16,000 firearms, including rifles, pistols, shotguns and revolvers.
                    </td>
                    <td width="575" height="275" rowspan="2" align="center" valign="top"
                        background="/images/news.jpg" bgcolor="#FFFFFF" style="background-size: 100% 100%;">

                        <div id="news" style="height:275px;width:575px;overflow:auto; text-align: left;padding: 10px;">
                            <div>
                                <a class="news" href="/Home/News">NEWS</a>
                            </div>

                            @foreach (News newsitem in Model.News)
                            {
                                <br />
                                <div class="news_headline">@newsitem.Headline</div>
                                <div class="news_body">@newsitem.StoryTextPreview<a class="news_link" target="_blank" href="@newsitem.LinkTarget">...READ MORE</a></div>
                            }
                        </div>
                    </td>
                </tr>
                <tr>
                    <td width="290" align="center">
                        <a href="https://www.facebook.com/wholesalehunter/" target="new"><img src="/images/fb.jpg" width="30" height="30" /></a>
                        <a href="https://plus.google.com/109788790751730624626" target="new"><img src="/images/google.jpg" width="30" height="30" /></a>
                        <a href="https://www.youtube.com/user/WholesaleHunter" target="new"><img src="/images/tube.jpg" width="30" height="30" /></a>
                        <a href="https://twitter.com/888900hunt" target="new"><img src="/images/twitter.jpg" width="30" height="30" /></a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td width="1440">
            <div class="prod_wrapper">
                <img src="/images/prod_topselling_bg.jpg" alt="Top Sellers" />
                <div class="prod_left_arrow_page0" id="prod_left_arrow_1" onclick="fetchSlider(1, 'left',0, @Model.CustomerID);">&nbsp;</div>
                <div class="prod_right_arrow" id="prod_right_arrow_1" onclick="fetchSlider(1, 'right', 0, @Model.CustomerID);">&nbsp;</div>
                <div class="prod_content_container" id="slider_1_A">
                    @{
                        divCnt = 1;
                        foreach (Product prod in Model.TopSellingInitial)
                        {
                            prod_contents = string.Format(prod_format, prod.LinkTarget, prod.ImageLocation, prod.ItemDescriptionShort, prod.Price);
                            <div class="prod_content" id="slider_1_A@(divCnt)">
                                @Html.Raw(prod_contents)
                            </div>
                            divCnt++;
                        }
                    }
                </div>
                <div class="prod_content_container" id="slider_1_B" style="display: none;">
                    @for (divCnt = 1; divCnt <= 5; divCnt++)
                    {
                        <div class="prod_content" id="slider_1_B@(divCnt)"></div>
                    }
                </div>
            </div>
        </td>
    </tr>


    <tr>
        <td width="1440">
            <div class="prod_wrapper">
                <img src="/images/prod_newproducts_bg.jpg" alt="New Products" />
                <div class="prod_left_arrow_page0" id="prod_left_arrow_2" onclick="fetchSlider(2, 'left', 0, @Model.CustomerID);">&nbsp;</div>
                <div class="prod_right_arrow" id="prod_right_arrow_2" onclick="fetchSlider(2, 'right', 0, @Model.CustomerID);">&nbsp;</div>
                <div class="prod_content_container" id="slider_2_A">
                    @{
                        divCnt = 1;
                        foreach (Product prod in Model.NewProducts)
                        {
                            prod_contents = string.Format(prod_format, prod.LinkTarget, prod.ImageLocation, prod.ItemDescriptionShort, prod.Price);
                            <div class="prod_content" id="slider_2_A@(divCnt)">
                                @Html.Raw(prod_contents)
                            </div>
                            divCnt++;
                        }
                    }
                </div>
                <div class="prod_content_container" id="slider_2_B" style="display: none;">
                    @for (divCnt = 1; divCnt <= 5; divCnt++)
                    {
                        <div class="prod_content" id="slider_2_B@(divCnt)"></div>
                    }
                </div>
            </div>
    </tr>


    <tr>
        <td width="1440">
            <div class="prod_wrapper">
                <img src="/images/prod_clearance_bg.jpg" alt="Clearance" />
                <div class="prod_left_arrow_page0" id="prod_left_arrow_3" onclick="fetchSlider(3, 'left', 0, @Model.CustomerID);">&nbsp;</div>
                <div class="prod_right_arrow" id="prod_right_arrow_3" onclick="fetchSlider(3, 'right', 0, @Model.CustomerID);">&nbsp;</div>
                <div class="prod_content_container" id="slider_3_A">
                    @{
                        divCnt = 1;
                        foreach (Product prod in Model.Clearance)
                        {
                            prod_contents = string.Format(prod_format, prod.LinkTarget, prod.ImageLocation, prod.ItemDescriptionShort, prod.Price);
                            <div class="prod_content" id="slider_3_A@(divCnt)">
                                @Html.Raw(prod_contents)
                            </div>
                            divCnt++;
                        }
                    }
                </div>
                <div class="prod_content_container" id="slider_3_B" style="display: none;">
                    @for (divCnt = 1; divCnt <= 5; divCnt++)
                    {
                        <div class="prod_content" id="slider_3_B@(divCnt)"></div>
                    }
                </div>
            </div>
        </td>
    </tr>

    @if (Model.CustomerID != 0 && Model.RecentlyViewed.Count != 0)
    {
        <tr>
            <td width="1440">
                <div class="prod_wrapper">
                    <img src="/images/prod_recentlyviewed_bg.jpg" alt="Recently Viewed" />
                    <div class="prod_left_arrow_page0" id="prod_left_arrow_4" onclick="fetchSlider(4, 'left', 0, @Model.CustomerID);">&nbsp;</div>
                    <div class="@rightArrowRecentlyViewedClass" id="prod_right_arrow_4" onclick="fetchSlider(4, 'right', 0, @Model.CustomerID);">&nbsp;</div>
                    <div class="prod_content_container" id="slider_4_A">
                        @{
                            divCnt = 1;
                            foreach (Product prod in Model.RecentlyViewed)
                            {
                                prod_contents = string.Format(prod_format, prod.LinkTarget, prod.ImageLocation, prod.ItemDescriptionShort, prod.Price);
                                <div class="prod_content" id="slider_4_A@(divCnt)">
                                    @Html.Raw(prod_contents)
                                </div>
                                divCnt++;
                            }
                        }
                    </div>
                    <div class="prod_content_container" id="slider_4_B" style="display: none;">
                        @for (divCnt = 1; divCnt <= 5; divCnt++)
                        {
                            <div class="prod_content" id="slider_4_B@(divCnt)"></div>
                        }
                    </div>
                </div>
            </td>
        </tr>
                            }

    <tr>
        <td width="1440">
            <div class="prod_wrapper">
                <img src="/images/prod_topsellingguns_bg.jpg" alt="Top Selling Guns" />
                <div class="prod_left_arrow_page0" id="prod_left_arrow_5" onclick="fetchSlider(5, 'left', 106, @Model.CustomerID);">&nbsp;</div>
                <div class="prod_right_arrow" id="prod_right_arrow_5" onclick="fetchSlider(5, 'right', 106, @Model.CustomerID);">&nbsp;</div>
                <div class="prod_content_container" id="slider_5_A">
                    @{
                        divCnt = 1;
                        foreach (Product prod in Model.Guns)
                        {
                            prod_contents = string.Format(prod_format, prod.LinkTarget, prod.ImageLocation, prod.ItemDescriptionShort, prod.Price);
                            <div class="prod_content" id="slider_5_A@(divCnt)">
                                @Html.Raw(prod_contents)
                            </div>
                            divCnt++;
                        }
                    }
                </div>
                <div class="prod_content_container" id="slider_5_B" style="display: none;">
                    @for (divCnt = 1; divCnt <= 5; divCnt++)
                    {
                        <div class="prod_content" id="slider_5_B@(divCnt)"></div>
                    }
                </div>
            </div>
        </td>
    </tr>


    <tr>
        <td width="1440">
            <div class="prod_wrapper">
                <img src="/images/prod_topsellingammo_bg.jpg" alt="Top Selling Ammo" />
                <div class="prod_left_arrow_page0" id="prod_left_arrow_6" onclick="fetchSlider(6, 'left', 10, @Model.CustomerID);">&nbsp;</div>
                <div class="prod_right_arrow" id="prod_right_arrow_6" onclick="fetchSlider(6, 'right', 10, @Model.CustomerID);">&nbsp;</div>
                <div class="prod_content_container" id="slider_6_A">
                    @{
                        divCnt = 1;
                        foreach (Product prod in Model.Ammunition)
                        {
                            prod_contents = string.Format(prod_format, prod.LinkTarget, prod.ImageLocation, prod.ItemDescriptionShort, prod.Price);
                            <div class="prod_content" id="slider_6_A@(divCnt)">
                                @Html.Raw(prod_contents)
                            </div>
                            divCnt++;
                        }
                    }
                </div>
                <div class="prod_content_container" id="slider_6_B" style="display: none;">
                    @for (divCnt = 1; divCnt <= 5; divCnt++)
                    {
                        <div class="prod_content" id="slider_6_B@(divCnt)"></div>
                    }
                </div>
            </div>
        </td>
    </tr>



    <tr>
        <td width="1440">
            <div class="prod_wrapper">
                <img src="/images/prod_topsellingreloading_bg.jpg" alt="Top Selling Reloading" />
                <div class="prod_left_arrow_page0" id="prod_left_arrow_7" onclick="fetchSlider(7, 'left', 216, @Model.CustomerID);">&nbsp;</div>
                <div class="prod_right_arrow" id="prod_right_arrow_4" onclick="fetchSlider(7, 'right', 216, @Model.CustomerID);">&nbsp;</div>
                <div class="prod_content_container" id="slider_7_A">
                    @{
                        divCnt = 1;
                        foreach (Product prod in Model.Reloading)
                        {
                            prod_contents = string.Format(prod_format, prod.LinkTarget, prod.ImageLocation, prod.ItemDescriptionShort, prod.Price);
                            <div class="prod_content" id="slider_7_A@(divCnt)">
                                @Html.Raw(prod_contents)
                            </div>
                            divCnt++;
                        }
                    }
                </div>
                <div class="prod_content_container" id="slider_7_B" style="display: none;">
                    @for (divCnt = 1; divCnt <= 5; divCnt++)
                    {
                        <div class="prod_content" id="slider_7_B@(divCnt)"></div>
                    }
                </div>
            </div>
        </td>
    </tr>
</table>

<input type="hidden" id="prod_format" value="@prod_format" />
<input type="hidden" id="slidercurrent" />
<input type="hidden" id="slidercurrentdirection" />
<input type="hidden" id="slidercnt_1" value="5" />
<input type="hidden" id="slidercnt_2" value="5" />
<input type="hidden" id="slidercnt_3" value="5" />
<input type="hidden" id="slidercnt_4" value="5" />
<input type="hidden" id="slidercnt_5" value="5" />
<input type="hidden" id="slidercnt_6" value="5" />
<input type="hidden" id="slidercnt_7" value="5" />
<input type="hidden" id="animationinprogress" value="" />

<script type="text/javascript">
    @if(Model.ShowCartOnLoad) {
        @Html.Raw("$(document).ready(function() {setTimeout(showCart,500)});")
    }

    function fetchSlider(id, direction, catid, custid) {
        var inprogress = $("#animationinprogress");
        if (inprogress.val() == "1") {
            return false;
        }
        //set animation in progress
        inprogress.val("1");
        //console.log("id: " + id + "\ndirection: " + direction + "\ncatid: " + catid + "\ncustid: " + custid);
        if ($("#slidercurrent").val() != '') {
            //currently performing another slider operation so do nothing
            return false;
        }

        $("#slidercurrent").val(id); //save the slider id
        $("#slidercurrentdirection").val(direction); //save the direction

        var count = ($('#slidercnt_' + id).val()) * 1;
        var start;
        var end;
        if (direction == "right") {
            start = count + 1;
            end = start + 4;
        }
        else {
            start = count - 9;
            end = start + 4;
        }

        if (start < 0) {
            //trying to move past the beginning
            $("#slidercurrent").val('');
            inprogress.val('');
            return false;
        }

        var obj =
            {
                SliderID: id,
                SliderDirection: direction,
                StartRow: start,
                EndRow: end,
                CategoryID: catid,
                CustomerID: custid
            }

        $.ajax({
            type: "POST",
            cache: false,
            url: "/api/AJax/FetchProducts",
            data: JSON.stringify(obj),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                if (data != "0") {
                    //valid data was returned
                    //console.log(data)
                    var prods = JSON.parse(data);
                    if (prods.length != 0) {
                        slide(prods);
                    }
                    else {
                        //there was no data returned so no animation was done
                        $("#animationinprogress").val("");

                        //if no data was returned we must be at the end
                        var id = $("#slidercurrent").val();
                        var rightArrow = $("#prod_right_arrow_" + id);
                        rightArrow.removeClass("prod_right_arrow");
                        rightArrow.addClass("prod_right_arrow_page0");

                    }
                    $("#slidercurrent").val("");
                    $("#slidercurrentdirection").val("");

                } else {
                    //an error occured get new data... do nothing
                    alert('error');
                }
            }
        });
    }

    function clearAnimationInProgress() {
        //clear animation in progress
        $("#animationinprogress").val("0");;
    }

    function slide(prods) {
        var id = $("#slidercurrent").val();
        var direction = $("#slidercurrentdirection").val();

        var containerA = $('#slider_' + id + "_A");
        var containerB = $('#slider_' + id + "_B")
        var content = "#slider_" + id + "_";
        var counter = $('#slidercnt_' + id)
        var count = counter.val();

        var isvisibleA = false;
        var isvisibleB = false;
        //see which container is visible
        //alert('containerA: ' + containerA.css('display') + "\ncontainerB: " + containerB.css('display'));
        if (containerA.css('display') !== 'none') {
            isvisibleA = true;
        }
        else {
            isvisibleA = false;
        }
        isvisibleB = !isvisibleA;

        var show_direction;
        var hide_direction;
        if (direction == "right") {
            show_direction = "right";
            hide_direction = "left";
        }
        else {
            show_direction = "left";
            hide_direction = "right";
        }
        var prod_format = unescapeHtml($("#prod_format").val());

        if (isvisibleA) {
            //console.log('loading B');
            //A is visible so we want to load the new data into B

            if (direction == "left") {
                count = count - 10;
            }
            //console.log("count: " + count);
            for (var mycnt = 1; mycnt <= 5; mycnt++) {
                count = count * 1 + 1;  //the *1 forces JS to treat count as a number
                var prod = prods[mycnt - 1];

                //blank the current contents
                $(content + 'B' + mycnt).html('');

                if (prod != null) {
                    var prod_html = prod_format.replace(/\{0\}/g, prod.LinkTarget)
                        .replace(/\{1\}/g, prod.ImageLocation)
                        .replace(/\{2\}/g, prod.ItemDescriptionShort)
                        .replace(/\{3:C\}/g, formatMoney(prod.Price));

                    $(content + 'B' + mycnt).html(prod_html);

                    var rightArrow = $("#prod_right_arrow_" + id);
                    rightArrow.removeClass("prod_right_arrow_page0");
                    rightArrow.addClass("prod_right_arrow");
                }
                else {
                    //if we're here then the scroller has reached the end of i'ts data.
                    var rightArrow = $("#prod_right_arrow_" + id);
                    rightArrow.removeClass("prod_right_arrow");
                    rightArrow.addClass("prod_right_arrow_page0");
                }
            }

            containerA.toggle("slide", { direction: hide_direction }, 1500, function () { clearAnimationInProgress(); });
            containerB.toggle("slide", { direction: show_direction }, 1500, function () { clearAnimationInProgress(); });
        }
        else {
            //console.log('loading A');

            //B is visible so we want to load the new data into A
            if (direction == "left") {
                count = count - 10;
            }

            //console.log("count: " + count);

            for (var mycnt = 1; mycnt <= 5; mycnt++) {
                count = count * 1 + 1; //the *1 forces JS to treat count as a number
                var prod = prods[mycnt - 1];

                //blank the current contents
                $(content + 'A' + mycnt).html('');

                if (prod != null) {
                    var prod_html = prod_format.replace(/\{0\}/g, prod.LinkTarget)
                        .replace(/\{1\}/g, prod.ImageLocation)
                        .replace(/\{2\}/g, prod.ItemDescriptionShort)
                        .replace(/\{3:C\}/g, formatMoney(prod.Price));
                    $(content + 'A' + mycnt).html(prod_html);

                    var rightArrow = $("#prod_right_arrow_" + id);
                    rightArrow.removeClass("prod_right_arrow_page0");
                    rightArrow.addClass("prod_right_arrow");
                }
                else {
                    //if we're here then the scroller has reached the end of i'ts data.
                    var rightArrow = $("#prod_right_arrow_" + id);
                    rightArrow.removeClass("prod_right_arrow");
                    rightArrow.addClass("prod_right_arrow_page0");
                }
            }

            containerB.toggle("slide", { direction: hide_direction }, 1500, function () { clearAnimationInProgress(); });
            containerA.toggle("slide", { direction: show_direction }, 1500, function () { clearAnimationInProgress(); });
        }
        counter.val(count);
        if (count <= 5) {
            $("#prod_left_arrow_" + id).removeClass('prod_left_arrow');
            $("#prod_left_arrow_" + id).addClass('prod_left_arrow_page0');
        }
        else {
            $("#prod_left_arrow_" + id).addClass('prod_left_arrow');
            $("#prod_left_arrow_" + id).removeClass('prod_left_arrow_page0');
        }
    }

    function unescapeHtml(data) {
        return data
             .replace(/&amp;/g, "&")
             .replace(/&lt;/g, "<")
             .replace(/&gt;/g, ">")
             .replace(/&quot;/g, "\"")
             .replace(/&#039;/g, "'");
    }

    function formatMoney(nStr) {
        nStr += '';
        var x = nStr.split('.');
        var x1 = x[0];

        var x2 = x.length > 1 ? '.' + x[1] : '.00';

        if (x.length > 1) {
            //the number has a decimal component
            x2 = x[1] + '00';  //make sure it's at least 2 digits long
            x2 = '.' + x2.substr(0, 2);
        } else {
            //the number does not have a decimal component
            x2 = '.00';
        }

        var rgx = /(\d+)(\d{3})/;
        while (rgx.test(x1)) {
            x1 = x1.replace(rgx, '$1' + ',' + '$2');
        }
        if (x1 == "") {
            x1 = "0";
        }
        return "$" + x1 + x2;
    }

</script>
<style type="text/css">
    a.news {
        color: #FFF;
        font-size: 36px;
        font-family: Verdana, Geneva, sans-serif;
        text-decoration: none;
        font-weight: normal;
    }

        a.news:hover, a.news:active {
            cursor: pointer;
            text-decoration: none;
            font-weight: normal;
        }

    div.news_headline {
        text-align: left;
        color: #FFF;
        font-size: 21px;
        font-family: Verdana, Geneva, sans-serif;
    }

    div.news_body {
        text-align: left;
        color: #FFF;
        font-size: 15px;
        font-family: Verdana, Geneva, sans-serif;
    }

    a.news_link {
        color: #FFF;
        text-decoration: none;
        font-size: 15px;
        font-family: Verdana, Geneva, sans-serif;
    }

        a.news_link:hover {
            color: #D7D2B7;
        }



    a.prod_link {
        color: #000;
        font-size: 12px;
        font-family: Verdana, Geneva, sans-serif;
        width: 100%;
    }

        a.prod_link img {
            max-width: 100%;
            max-height: 100%;
        }

    span.prod_price {
        text-align: center;
        font-weight: bold;
        color: #000;
        font-size: larger;
        font-family: ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif;
    }

    span.prod_description {
        font-weight: bold;
        color: #000;
        font-size: 10pt;
        font-family: "Arial Narrow", Arial, Verdana, Geneva, sans-serif;
    }

    div.prod_content_txt {
        width: 50%;
        height: 100%;
        float: left;
        text-align: center;
        vertical-align: middle;
    }


    div.prod_content_img {
        width: 50%;
        height: 100%;
        float: left;
        text-align: center;
        display: flex;
        align-items: center;
    }

    div.prod_content_container {
        position: absolute;
        top: 15px;
        left: 120px;
        width: 1300px;
        height: 125px;
    }

    div.prod_content {
        float: left;
        width: 257px;
        height: 125px;
    }

    div.prod_wrapper {
        position: relative;
        width: 1440px;
        height: 147px;
    }

    div.prod_left_arrow {
        position: absolute;
        top: 55px;
        left: 101px;
        width: 15px;
        height: 46px;
        background-image: url('/images/prod_left.gif');
    }

        div.prod_left_arrow:hover {
            position: absolute;
            top: 55px;
            left: 101px;
            width: 15px;
            height: 46px;
            background-image: url('/images/prod_left_hover.gif');
        }

    div.prod_left_arrow_page0 {
        position: absolute;
        top: 55px;
        left: 101px;
        width: 15px;
        height: 46px;
        background-image: url('/images/prod_left_hover.gif');
    }

    div.prod_right_arrow {
        position: absolute;
        top: 55px;
        left: 1425px;
        width: 15px;
        height: 46px;
        background-image: url('/images/prod_right.png');
    }

        div.prod_right_arrow:hover {
            position: absolute;
            top: 55px;
            left: 1425px;
            width: 15px;
            height: 46px;
            background-image: url('/images/prod_right_hover.gif');
        }

    div.prod_right_arrow_page0 {
        position: absolute;
        top: 55px;
        left: 1425px;
        width: 15px;
        height: 46px;
        background-image: url('/images/prod_right_hover.gif');
    }
</style>