﻿@model WholesaleHunter.ViewModels.NewsViewModel
@using WholesaleHunter.Models

@{
    Layout = null;
}


    <table class="newsTable">
        @foreach (var item in Model.News)
        {
            <tr>
                <td width="300" height="180">
                    <img class="newsPicture" src="@item.ImageLocation" alt="Image for news headline - @item.Headline"/>
                </td>
                <td colspan="2" valign="top">
                    <span class="newsHeadline">
                        @item.Headline
                        <br />
                        @*<br />*@
                    </span>
                    <span class="newsTeaser">
                        @item.StoryTextPreview
                    </span>
                    <br />
                    <span class="newsReadMore">
                        <a class="newsLink" href="@item.LinkTarget">Read More</a>
                    </span>

                </td>
            </tr>
            <tr>
                <td height="13" colspan="3">
                    <hr align="left" width="100%" style="color:#D7D2B7; background-color:#D7D2B7; height:10px; border:none;">
                </td>
            </tr>
        }
    </table>
@if(Model.NewsScrollUrl != string.Empty) { 
    <a class="scroll" href="@Model.NewsScrollUrl">More...</a>
}