﻿@model WholesaleHunter.ViewModels.UnsubscribeViewModel
@using WholesaleHunter.Models

@{
    ViewBag.Title = "Wholesale Hunter Contact";
}

<link href="~/Content/HugoStyles.css" rel="stylesheet" />
<script src="~/Scripts/HelpTopics.js"></script>

@if (Model.Status == 1)
{
<div style="width:1440px;text-align:center;padding-top:200px;padding-bottom:200px;">
    <span style="font-weight:bold;font-size:larger;">Unsubscribe from Newsletter</span><br /><br />
    The email address <span style="font-weight:bold">@Model.Email</span> has been removed from the Newsletter.
    <br /><br />
    If you decide to receive the newsletter again, please update your preferences in MY ACCOUNT.
    <br /><br />
</div>
}
else
{
    <div style="width:1440px;text-align:center;padding-top:200px;padding-bottom:200px;">
        <span style="font-weight:bold;font-size:larger;color:red;">Error unsubscribing from Newsletter</span><br /><br />
        We were unable to remove the email address <span style="font-weight:bold">@Model.Email</span> from the Newsletter list.
        <br /><br />
        Please try again and if this message persis contact Customer Service.
        <br /><br />
    </div>
}
