/********************************* DEFAULTS ******************************/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td { 
	margin: 0; 
	padding: 0; 
}

ol, ul { 
	list-style:none outside none; 
}
a img{
    border: 0 none;
}
input::-moz-focus-inner {
    border:0;
    padding:0;
}
*{
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
}
html{
	background: url(../images/bg.jpg) repeat scroll 0 0 transparent;
	min-width: 984px;
}
body{
	background: url(../images/header_new.png) repeat-x scroll 0 0 transparent;
	font-size: 10px;
	font-family: Segoe UI, arial, sans-serif;
	min-width: 984px;
}
a{
	text-decoration: underline;
}
a img{
    border: 0;
}
.clear{
	clear: both;
}
#container{
	position: relative;
	z-index: 1;
	margin: 0 auto;
	width: 982px;
}
.page_content{
	background-color: white;
	overflow: auto;
	padding: 13px;
}

.gunbroker{
	border: 1px solid black;
	background-color:#6bb446;
	font-size:14px;
	padding:10px;
	margin:10px;
}

/************************* HEADER ************************/
#ordervolume{
	background-color: #333333;
	box-shadow: 1px 1px 4px 0 black;
	border-radius: 6px;
	color: #ffa94d;
	position: absolute;
	font-family: Segoe UI, Trebuchet MS;
	font-size: 1.4em;
	font-weight: bold;
	left: 25px;
	padding: 3px 5px 2px;
	text-align: center;
	top: 84px;
	width: 930px;
}
	#ordervolume > span{
		color: white;
	}
#header{
	position: relative;
}
#top_hdr{
	height: 98px;
	padding: 17px 3px 0;
}
	#top_hdr > a{
		float: left;
		/*HOLIDAY LOGO CHANGE*/
		margin: -10px 0 0 -10px;
	}
	#top_hdr > form{
		float: right;
	}
		#top_hdr > form > input[type="text"]{
			border: 1px solid black;
			font-family: Segoe UI, arial, sans-serif;
			font-size: 1.8em;
			padding: 3px 9px 2px;
			width: 218px;
		}
		#top_hdr > form > input[type="submit"]{
			background-color: #ff9900;
			border: 0 none;
			border-radius: 5px;
			box-shadow: -1px -1px 4px -3px black inset;
			color: white;
			font-family: Segoe UI, Arial, sans-serif;
			font-size: 2em;
			font-weight: bold;
			padding: 1px 5px;
		}
	#topnav{
		float: right;
		margin: 12px -4px 0 0;
		position: relative;
	}
		#topnav li{
			background: url(../images/topnav.png) repeat-x scroll 0 0 transparent;
			display: inline-block;
			line-height: 24px;
			margin: 0 4px 0 0;
			padding: 0;
		}
		#topnav li:before{
			background: url("../images/topnav_l.png") no-repeat scroll 0 0 transparent;
			content: "";
			display: inline-block;
			height: 23px;
			padding: 0 3px;
			vertical-align: top;
			width: 0;
		}
		#topnav li:after{
			background: url("../images/topnav_r.png") no-repeat scroll 0 0 transparent;
			content: "";
			display: inline-block;
			height: 23px;
			padding: 0 3px;
			vertical-align: top;
			width: 0;
		}
			#topnav li a{
				color: black;
				font-family: Segoe UI, arial, sans-serif;
				font-size: 1.4em;
				padding: 0 3px;
			}
		#topnav #orderstat{
			display: none;
			padding: 5px 0;
			position: absolute;
			top: 20px;
		}
			#topnav li:first-child:hover #orderstat{
				display: none;
				width: 200px
			}
			#topnav #orderstat li{

			}
				#topnav #orderstat li:before{
					background: url("../images/topnav_l.png") no-repeat scroll 0 0 transparent;
					content: "";
					display: inline-block;
					height: 23px;
					padding: 0 3px;
					vertical-align: top;
					width: 0;
				}
				#topnav  #orderstat li:after{
					background: url("../images/topnav_r.png") no-repeat scroll 0 0 transparent;
					content: "";
					display: inline-block;
					height: 23px;
					padding: 0 3px;
					vertical-align: top;
					width: 0;
				}
				#topnav #orderstat li a{}
ul.nav{
	clear: both;
	margin: 6px 0 8px;
	text-align: center;
}
	.nav li{
		color: white;
		font-family: Segoe UI, arial;
	//	font-weight: narrow;
		display: inline-block;
		font-size: 1.5em;
	}
		.nav li a{
			color: white;
			font-family: Segoe UI, arial;
			line-height: 2em;
			padding: 0 4px 0 2px;
		}
			.nav li a:hover{
				color: black;
			}
ul#bot_hdr{
	background: url(../images/hdr_nav.jpg) repeat-x scroll center center transparent;
	height: 55px;
	overflow: hidden;
}
	#bot_hdr li{
		float: left;
	}
		.web{
			padding: 0px 15px;
		}
		#social{
			padding: 11px 60px;
		}
			#social a{
				float: left;
			}
		li#contact{
			color: white;
			float: right;
			height: 55px;
			padding: 0 10px 0 0;
			text-align: right;
		}
			#contact > p:first-child{
				font-size: 2.5em;
				font-weight: normal;
			}
			#contact img{
				position: relative;
				top: 4px;
			}
			#contact > p:first-child + p{
				font-size: 1.4em;
				font-weight: normal;
				position: relative;
				bottom: 0px;
			}

/****************************** HOMEPAGE CONTENT TOP HALF ******************************/
#content_top{
	background-color: white;
}

/********** LEFT SIDE **********/
	#content_top .content_left{
		float: left;
		overflow: hidden;
		width: 790px;
	}
	.content_left > h1{
		font-size: 3em;
		font-style: italic;
		margin: 20px 0 10px;
		padding: 0 0 0 13px;
	}
	#slider{
		background-color: #000;
		color: #FFF;
		height: 318px;
		padding: 0px;
		position: relative;
		width: 100%;
		font-size: 12pt;
	}
		#slider > a{
			bottom: 0;
			display: none;
			left: 0;
			margin: auto 0 auto 15px;
			position: absolute;
			right: 0;
			top: 0;
		}
		#slider > p{
			height: 318px;
			letter-spacing: 1px;
			line-height: 1.8em;
			margin: auto;
			position: absolute;
			right: 18px;
			text-align: justify;
			top: 18px;
			width: 375px;
			z-index: 1;
		}
			#slider > p > a{
				color: white;
			}
	ul#feat_cats{
		overflow: hidden;
	}
		#feat_cats li{
			float: left;
			font-size: 1.6em;
			text-align: center;
			margin: 0 0 0 14px;
		}
			#feat_cats li > a{
				color: black;
				font-family:Segoe UI;
				text-decoration: underline;
			}
#coin-slider-coin-slider{
	width: 575px;
}

/********** RIGHT SIDE **********/
	#content_top .content_right{
		float: right;
		width: 190px;
	}
		#content_top .content_right h3{
			font-size: 2em;
			font-style: italic;
			text-align: center;
		}
		#finder{
			position: relative;
			left: 13px;
			overflow: auto;
		}
			#finder > li{
				background: url(../images/finder_bg.jpg) no-repeat scroll 0 0 transparent;
				float: left;
				margin: 0 5px 4px;
				height: 56px;
				width: 72px;
			}
				#finder > li a{
					display: block;
					height: 56px;
					width: 72px;
					padding: 3px 0 0;
					position: relative;
					text-align: center;
				}
				#finder > li img.long{
					margin: 13px 0 0;
				}
				#finder p{
					color: black;
					font-size: 1em;
					font-weight: bold;
					text-align: center;
					text-decoration: none;
					position: absolute;
					bottom: 0;
					width: 100%;
				}
		#subscribe{
			margin: 10px 0;
			border-bottom: 1px solid #CCC;
			padding: 0 0 5px;
		}
		.social{
			font-size: 1em;
			font-weight: bold;
			height: auto;
			margin: 8px 0 0;
			text-align: center;
		}
			.social iframe{
				/*height: auto !important;*/
			}
				.social iframe .pam:first-child{}
				
			.social #twitter{
				height: 70px;
				padding: 25px 0;
			}
		#fav_mfg{
			margin: 0 auto;
			text-align: center;
			width: 146px;
		}
			#fav_mfg > h4{
				background: url(../images/fav_bg.png) no-repeat scroll 0 0 transparent;
				font-size: 1.3em;
				padding: 9px 0;
				height: 49px;
				width: 146px;
			}
			#fav_mfg a{
				color: #333333;
				display: block;
				margin: 15px 0;
				font-familt: verdana, sans-serif;
				font-size: 1.5em;
				font-weight: bold;
				text-decoration: underline;
			}

/****************************** HOMEPAGE CONTENT BOTTOM HALF ******************************/
#content_bot{
	background-color: white;
	padding: 13px 0;
	position: relative;
}

/********** LEFT SIDE **********/
	#content_bot .content_left{
		float: left;
		padding: 0 10px;
		width: 560px;
	}
		#basement{
			display: block;
			position: relative;
			height: 92px;
			width: 540px;
		}
			#basement > img{
			
			}
			#basement > span{
				color: #333333;
				font-family: Segoe UI, verdana, sans-serif;
				font-size: 1.5em;
				font-weight: bold;
				text-decoration: underline;
				position: absolute;
				right: 0;
				bottom: 8px;
			}
		.promo{
			display: none;
			background-color: rgba(0, 0, 0, .2);
			margin: 10px 0;
			height: 370px;
			width: 540px;
		}

/********** RIGHT SIDE **********/
	#content_bot .content_right{
		float: right;
		text-align: center;
		width: 422px;
	}
		#content_bot .content_right > h3{
			font-size: 2em;
			font-style: italic;
		}
		.specialty{
			display: block;
			float: left;
			font-size: 1.5em;
			font-weight: bold;
			margin: 0 45px;
		}
			.specialty span{
				color: black;
				display: block;
			}
		#youtube{
			height: 290px;
			margin: 16px 0;
			width: 390px;
		}
		#derp{
			left: 75px;
			position: absolute;
			top: 116px;
			width: 425px;
		}
		#derp > a:first-child{
			padding: 0 20px 0 0;
		}
			#derp > a:first-child + a + a > img{
				margin: 13px 0 0;
			}

/******************** GENERAL CONTENT ********************/
.page_content{
	font-size: 1.2em;
}
.page_content a{
	color: #333333;
	font-family: Segoe UI, verdana, sans-serif;
	font-size: 1.1em;
	font-weight: bold;
}
table.breadcrumbs{
	margin-bottom: 5px;
}
	table.breadcrumbs a{
		font-size: 1.2em;
		text-decoration: underline;
	}
	a.breadcrumbs{
		color: #6AB544;
		text-decoration: none !important;
	}
#subhead span{
	font-size: 1em;
}
.articles{
	padding: 0px;
	margin: 25px;
}
	.articles > p, .articles li{
		font-size: 1em;
		margin: 0 0 10px;
	}
	.articles > h3{
		font-size: 1.2em;
	}
.finderlist td{
	padding: 3px 6px;
}
	.finderlist a{
		font-size: 1em;
		text-decoration: underline;
	}
input[name="results"], input[name="thispage"]{

}
div.pageBottomLinks{
	padding: 10px 25px 0 5px;
	text-align: right;
}
a.pageBottomLinks{
	float: left;
	font-size: .9em;
	text-decoration: none; 
	vertical-align: top;
}
a.returnToTop{
	clear: both;
}
	
.seoText {text-align:left;padding:10px;margin:10px;}
.seoText h3{font-size:8pt;}
.seoText h2{color:green}
.seoText a{font-size:8pt;}

/******************** FOOTER ********************/
.footer{
	background-color: black;
	padding: 13px 10px;
	text-align: center;
}
	.footer li{
		display: inline;
		margin: 0 4px;
	}
		.footer  li > a{
			color: #CCCCCC;
			font-size: 1.4em;
			font-weight: normal;
			text-decoration: underline;
		}
	.footer > p{
		color: #CCCCCC;
		font-size: 1.6em;
		margin: 16px 0 3px;
	}
	#address{
		color: #6AB544;
	}
	#address a{
		color: #6AB544;
		text-decoration: underline;
	}
	
/******************** MISC ********************/	
	.top_seller_link_text {
		text-decoration:none;
		color:#323232;
	}
