@charset "UTF-8";
*********************************/

.Menu
{
	margin: 0;
	
}

ul.MenuBarHorizontal
{
	margin: 0;
	padding: 0;
	list-style-type: none;
	cursor: default;
	width: 100%;
	font-size: 14px;
}

ul.MenuBarActive
{
	z-index: 1000;
}

ul.MenuBarHorizontal li
{
	margin: 0;
	padding: 0;
	list-style-type: none;
	font-size: 90%;
	position: relative;
	text-align: center;
	cursor: pointer;
	width: auto;
	float: left;
}


/* Menu items are a light gray block with padding and no text decoration */
ul.MenuBarHorizontal a
{
	display: block;
	cursor: pointer;
	background-color: #ffffff;
	padding: 0.6em .75em;
	color: #00331B;
	text-decoration: none;

}
/* Menu items that have mouse over or focus have a blue background and white text */
ul.MenuBarHorizontal a:hover, ul.MenuBarHorizontal a:focus
{
	background-color: #331709;
	color: #FFF;
}


ul.MenuBarHorizontal iframe
{
	z-index: 1010;
	filter:alpha(opacity:0.1);
}
/* HACK FOR IE: to stabilize appearance of menu items; the slash in float is to keep IE 5.0 from parsing */
@media screen, projection
{
	ul.MenuBarHorizontal li.MenuBarItemIE
	{
		display: inline;
		float: left;
		background: #FFF;
	}
}
